<div class="col-12 no__padding">
  <div class="row">
    <div class="col-12 col-md-6">
      <h3>Assessment</h3>
    </div>
    <div class="col-12 col-md-6">
      <img _ngcontent-c5="" class="float-right w-20px " src="./assets/images/add.png ">
    </div>
  </div>
</div>
<div class="col-12 tab__header">
  <div class="row">
    <div class="custom-tabs-head col-12 no__padding">
      <span>IV Site Assessment</span>
    </div>
    <div class="col-12 assessment__tab__header">
      <div class="row">
        <div class="col-12 col-md-9">
          <p><span>Case no : </span>1001</p>
          <p><span>Date of Insertion : </span>Lorem ipsum dolor</p>
          <p><span>Canola Type : </span>Lorem ipsum dolor</p>
          <p><span>Insertion Site : </span>2</p>
          <p><span>No of times per day : </span>Lorem ipsum dolor</p>
          <p><span>Date of removal : </span>Lorem ipsum dolor</p>
        </div>
        <div class="col-12 col-md-3">
          <ul class="tab__header__options">
            <li>Edit</li>
            <li>Delete</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 assessment__tab__report">
      <div class="report--header">
        Assessment Report
      </div>
      <div class="report--content">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Risk Score</th>
              <th>Action</th>
              <th>Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>12.11.2010</td>
              <td>8:00 AM</td>
              <td>2</td>
              <td>No Action</td>
              <td>View</td>
            </tr>
            <tr>
              <td>12.11.2010</td>
              <td>8:00 AM</td>
              <td class="text-danger">3</td>
              <td>Select Action</td>
              <td>View</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>