.no__padding {
  padding: 0;
}
.custom__dropdown {
  border: none;
  border-bottom: 2px solid #000;
  width: 60%;
  font-size: 1.2em;
  padding: 4px 2px;
  margin-right: 40px;
  font-weight: bold;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #5bbd92, #0299d7);
  background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
  background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
  background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
  background: -o-linear-gradient(to right, #5bbd92, #0299d7);
  background-clip: text;
}
.tab__header {
  padding: 0;
  margin: 12px 0;
}
.assessment__tab__header {
  margin: 16px 0;
}
.tab__header__options {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  li {
    display: inline-block;
    border-right: 2px solid #0299d7;
    padding: 0 12px;
    font-weight: bold;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #5bbd92, #0299d7);
    background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
    background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
    background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
    background: -o-linear-gradient(to right, #5bbd92, #0299d7);
    background-clip: text;
  }
  li:last-child {
    padding-right: 0;
    border: none;
  }
}
.custom-tabs-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 12px 0;
  margin-bottom: 20px;
  span {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #5bbd92, #0299d7);
    background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
    background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
    background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
    background: -o-linear-gradient(to right, #5bbd92, #0299d7);
    background-clip: text;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      padding: 4px;
      bottom: -20px;
      left: 0;
      background: linear-gradient(to right, #5bbd92, #0299d7);
      background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
      background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
      background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
      background: -o-linear-gradient(to right, #5bbd92, #0299d7);
      width: 150px;
    }
  }
}
.assessment__tab__header {
  margin: 12px 0;
  p {
    color: rgba(0, 0, 0, 0.6);
    span {
      font-weight: bold;
      color: #000;
    }
  }
}
.assessment__tab__editable,
.assessment__tab__report {
  margin: 12px 0;
}
.assessment__tab__editable .editable--header,
.report--header {
  color: #000;
  font-weight: bold;
  margin-bottom: 8px;
}
.assessment__tab__editable .editable--content {
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px;
  box-sizing: border-box;
  $border: 2px;
  background: #f4f5fa;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 12px;
  margin-bottom: 24px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(to right, #5bbd92, #0299d7);
    background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
    background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
    background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
    background: -o-linear-gradient(to right, #5bbd92, #0299d7);
  }
  span {
    padding: 0 12px;
    cursor: pointer;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #5bbd92, #0299d7);
    background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
    background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
    background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
    background: -o-linear-gradient(to right, #5bbd92, #0299d7);
    background-clip: text;
    font-weight: bold;
  }
  p {
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
  }
}
.report--content {
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 6px;
    text-align: center;
    thead {
      th {
        font-weight: normal;
        padding: 12px 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }
    }
    tbody {
      tr {
        td {
          padding: 12px 4px;
          &:last-child {
            color: #0299d7;
            font-weight: bold;
            cursor: pointer;
          }
          &:nth-child(3) {
            font-size: 1.5em !important;
          }
        }
        &:nth-child(odd) td {
          background: rgba(231, 76, 60, 0.1);
        }
        &:nth-child(even) td {
          background: rgba(46, 204, 113, 0.1);
        }
      }
    }
  }
}
