<section>
    <div class="incareview-mobile-view">
      <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
        <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
          <i class="fas fa-bars text-white"></i>
        </a>
        <div class="m-auto text-white fs16">CEO</div>
        <ul class="list-inline position-absolute right-20">
          <li class="position-relative list-inline-item mr-4" routerLink="/app/menu">
            <a ><img src="./assets/images/incare-mobile/home@2x.png" width="22"></a>
          </li> 
          <li class="position-relative list-inline-item mr-4" routerLink="/app/add-ceo">
            <a ><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
          </li>
          <li class="position-relative list-inline-item">
            <a><img src="./assets/images/incare-mobile/Path@2x.png"  class="w-22px"></a>
          </li>
        </ul>  
      </nav>
    </div>
    
    
   

    <div class="incareview-desktop-view">
      <div class="row heading mb-20">
        <div class="col-md-8 col-sm-8">
          <h1 class="color-dark-black fs36 font-roboto">CEO Management</h1>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="mobile-floating-search seachfiled-color">
              <ng-container *ngTemplateOutlet="patientSearch"></ng-container>
          </div>
        </div>  
      </div>
    </div>


    <ng-template #patientSearch>
        <div class="input-group search-field">
            <input type="text" (input)="searchCeo($event.target.value)" class="form-control border-0 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label="" aria-describedby="basic-addon1" />
            <div class="input-group-append">
                <button class="btn bg-transparent btn-circle rounded-circle py-0" type="button"><img src="./assets/images/search.png"  class="via-search" />
                </button>
            </div>
        </div>
    </ng-template>


    <div class="mobile-body bg-white h-100vh">

      <form class="pt20 pb20 pl15 pr15 incareview-mobile-view">
        <div class="gradient-box">
          <ng-container *ngTemplateOutlet="patientSearch"></ng-container>
        </div>
      </form>


      <ul class="list-group patients-list status-list patient-webview">
          <li class="list-group-item mb-1 bg-transparent incareview-desktop-view">
              <img src="./assets/images/incare-plus.png"  class="position-absolute patients-img border-0" (click)="createPatientModal(addNewCeo)">
              <div class="patients-content">
                  <h1 class="fs16 color-black mb-0 text-truncate font-weight-bold">
                    Add New
                    </h1>
                    <!-- <span class="fs12 grey-color">&nbsp;</span> -->
                </div>
          </li>
        <ng-container *ngFor="let ceo of ceoList">
          <li class="list-group-item mb-1 bg-transparent">
              <i class="fas fa-circle position-absolute patients-dot" [ngClass]="ceo.userState === 'ACTIVE' ? 'color-light-green' : 'color-red'"></i>
              <img src="./assets/images/user.jpg" class="position-absolute patients-img rounded">
              <div class="patients-content">
                <h1 class="fs16 color-black mb-0 text-truncate pt10">
                  <ng-container *ngIf="ceo.firstName">
                   {{ceo.firstName}} {{ceo.lastName}}
                  </ng-container>
                  <ng-container *ngIf="!ceo.firstName">
                      {{ceo.email}}
                     </ng-container>
                </h1>
                <!-- <span class="fs12 grey-color">MRN: 123454678</span> -->
              </div>
  
          </li>
        </ng-container>

          <li *ngIf="ceoList.length === 0" style="text-align: center;color: var(--danger);width: 100%;clear: both;display: block">CEO List is Empty!</li>
        </ul>
        
    </div>
  </section>

  <ng-template #addNewCeo>
    <div class="modal-body">
      <app-addceo></app-addceo>
    </div>
  </ng-template>

  <!-- bottom tabs -->
    <div class="incareview-mobile-view">
      <app-bottomnav></app-bottomnav>
    </div>
<!-- bottom tabs -->