<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" (click)="redirectPage()">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Media</div>
    </nav>
  </div>
  <div class="mobile-body bg-white mobile-view-hgt">
    <div class="container-fluid">
      <div class="text-center pt-5 incareview-mobile-view">
        <!-- <img src="assets/images/incare-plus.png" width="170" class="mb-30"> -->
        <h2 class="color-black fs16 font-weight-bold">Create Media</h2>
      </div>
      <div class="modal-header">
        <h4 class="modal-title pull-left fs26">{{ isFlashCardEnabled ? 'Add Media' : 'Upload Media' }}</h4>
      </div>
      <!-- <h2 class="color-dark-black fs26 text-center incareview-desktop-view">Upload Media</h2> -->
      <div class="row mt-5 text-center">
        <div class="col-10 m-auto">
          <div class="row m-0">
            <div class="col-6" *ngIf="isFlashCardEnabled">
              <img src="assets/images/flashcard.png" class="upload-icon c-pointer" (click)="openFlashCard()">
              <span class="d-block mt-3 text-center desktop-bold-text">Flash Card</span>
            </div>
            <div [ngClass]="isFlashCardEnabled ? 'col-6' : 'col-12'">
              <img src="assets/images/upload.png" class="upload-icon c-pointer" (click)="uploader.click()">
              <input type="file" (change)="upload($event.target.files)" hidden #uploader />
              <span class="d-block mt-3 text-center desktop-bold-text">Upload</span>
            </div>
            <div *ngIf="isUploadErr" style="color: red; font-size: 14px; text-align: center;">
              <div *ngIf="isUploadErr">Supported {{type}} file Format - {{isUploadErr}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- bottom tabs -->
<div class="incareview-mobile-view">
  <app-bottomnav></app-bottomnav>
</div>
<!-- bottom tabs -->