<!-- bottom tabs  type 2 -->
<app-loader></app-loader>
<div class="bottom-navigation bg-white px-3 pb-4 position-fixed w-100" *ngIf="userType == '1'">
  <div class="tabs-bar text-center">
    <ul class="list-inline d-flex">
      <li class="list-inline-item flex-fill" routerLink="/app/ceo-management" routerLinkActive="active">
        <div class="tabs-img patient-img mt-1">
          <img src="./assets/images/incare-mobile/recovered@2x.png" class="active-img" alt="active-img">
          <img src="./assets/images/incare-mobile/recovered.png" class="inactive-img" alt="inactive-img">
        </div>
        <span>Ceo's</span>
      </li>
    </ul>
  </div>
</div>
<!-- /bottom tabs  type 2 -->
<!-- bottom tabs  type 2 -->

<div class="bottom-navigation bg-white px-3 pb-4 position-fixed w-100"
  *ngIf="!isPatient && userType != '1' || userType === '3'">
  <div class="tabs-bar text-center">
    <ul class="list-inline d-flex">
      <li class="list-inline-item flex-fill" routerLink="/app/patients" routerLinkActive="active">
        <div class="tabs-img patient-img mt-1">
          <img src="./assets/images/incare-mobile/recovered@2x.png" class="active-img" alt="active-img">
          <img src="./assets/images/incare-mobile/recovered.png" class="inactive-img" alt="inactive-img">
        </div>
        <span>Patients</span>
      </li>
      <li class="list-inline-item  flex-fill" routerLink="/app/media-slides" routerLinkActive="active">
        <div class="tabs-img media-img pt5">
          <img src="./assets/images/menu-icons/media-active.png" class="active-img  w-26px" alt="active-img">
          <img src="./assets/images/menu-icons/media.png" class="inactive-img  w-26px" alt="inactive-img">
        </div>
        <span>Media</span>
      </li>
      <!-- <li class="list-inline-item  flex-fill" routerLink="/app/appointments"  routerLinkActive="active">
           <div class="tabs-img appointments-img mt-1">
               <img src="./assets/images/menu-icons/appointments-active.png" class="active-img" alt="active-img">
               <img src="./assets/images/menu-icons/appointments.png" class="inactive-img" alt="inactive-img">
           </div>
           <span>Appointments</span>
        </li> -->
      <li class="list-inline-item flex-fill" routerLink="/app/tags" routerLinkActive="active">
        <div class="tabs-img insights-img mt-1">
          <img src="./assets/images/tag.png" class="active-img wid-12" alt="active-img">
          <img src="./assets/images/tag-inactive.png" class="inactive-img wid-12" alt="inactive-img">
        </div>
        <span>Tags</span>
      </li>
      <li class="list-inline-item flex-fill" routerLink="/app/assessment" routerLinkActive="active">
        <div class="tabs-img insights-img mt-1">
          <img src="./assets/images/tag.png" class="active-img wid-12" alt="active-img">
          <img src="./assets/images/assessment-inactive.png" class="inactive-img wid-12" alt="inactive-img">
        </div>
        <span>assessment</span>
      </li>
      <li class="list-inline-item flex-fill" routerLink="/app/covid" routerLinkActive="active">
        <div class="tabs-img insights-img mt-1">
          <img src="./assets/images/menu-icons/covid-active.png" class="active-img" alt="active-img">
          <img src="./assets/images/menu-icons/covid.png" class="inactive-img" alt="inactive-img">
        </div>
        <span>{{getname}}</span>
      </li>
    </ul>
  </div>
</div>
<!-- /bottom tabs  type 2 -->


<!-- bottom tabs  type 1 -->


<!-- <div class="d-none"> -->
<div class="bottom-navigation bg-white px-3 pb-4 position-fixed w-100 "
  *ngIf="isPatient && userType != '1' && userType != '3'">
  <div class="tabs-bar text-center">
    <ul class="list-inline d-flex">
      <li class="list-inline-item  flex-fill" (click)="goRedirectPage('Notes', '/app/notes')">
        <div class="tabs-img appointments-img mt-1">
          <img src="./assets/images/menu-icons/dos-donts-active.png" class="active-img" alt="active-img">
          <img src="./assets/images/menu-icons/dos-donts.png" class="inactive-img" alt="inactive-img">
        </div>
        <span>My Care Notes</span>
      </li>
      <li class="list-inline-item  flex-fill" (click)="goRedirectPage('Dos', '/app/instructions')">
        <div class="tabs-img insights-img mt-1">
          <img src="./assets/images/menu-icons/do&donts.png" class="active-img w-19px" alt="active-img">
          <img src="./assets/images/menu-icons/do&donts-na.png" class="inactive-img w-19px" alt="inactive-img">
        </div>
        <span>Do's & Don'ts</span>
      </li>
      <li class="list-inline-item  flex-fill" (click)="goRedirectPage('Media', '/app/patient-media')"
        routerLinkActive="active">
        <div class="tabs-img media-img pt5">
          <img src="./assets/images/menu-icons/media-active.png" class="active-img  w-26px" alt="active-img">
          <img src="./assets/images/menu-icons/media.png" class="inactive-img  w-26px" alt="inactive-img">
        </div>
        <span>Media</span>
      </li>
      <li class="list-inline-item flex-fill" (click)="goRedirectPage('Meds', '/app/medications')">
        <div class="tabs-img patient-img mt-1">
          <img src="./assets/images/menu-icons/medications-active.png" class="active-img" alt="active-img">
          <img src="./assets/images/menu-icons/medications.png" class="inactive-img" alt="inactive-img">
        </div>
        <span>Medications</span>
      </li>
      <!-- <li class="list-inline-item  flex-fill" routerLink="/app/appointments"  routerLinkActive="active">
           <div class="tabs-img appointments-img mt-1">
               <img src="./assets/images/menu-icons/appointments-active.png" class="active-img" alt="active-img">
               <img src="./assets/images/menu-icons/appointments.png" class="inactive-img" alt="inactive-img">
           </div>
           <span>Appointments</span>
        </li>
        <li class="list-inline-item  flex-fill" routerLink="/app/forums"  routerLinkActive="active">
           <div class="tabs-img appointments-img mt-1">
               <img src="./assets/images/menu-icons/forums-active.png" class="active-img" alt="active-img">
               <img src="./assets/images/menu-icons/forums.png" class="inactive-img" alt="inactive-img">
           </div>
           <span>Forums</span>
        </li> -->
    </ul>
  </div>
</div>
<!-- </div> -->
<!-- /bottom tabs  type 1 -->