.loading {
  border: 5px solid #c5ece0;
  animation: spin 2s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  width: 50px;
  height: 50px;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


