<section class="auth-content">
  <app-loader></app-loader>
  <div class="container log-container pb-sm-0 pb-5">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8 col-11 m-auto">

        <header class="pt-5 pb-5  d-md-none d-sm-block">
          <h1 class="fs16 text-white text-center font-weight-normal font-roboto">Login</h1>
        </header>

        <div class="text-center">
          <img src="./assets/images/logo.png" class="logo" alt="via-logo">
        </div>

        <form name="form" (ngSubmit)="validateLoginInfo()" #loginForm="ngForm" class="floating-input-form mt-5"
          novaliadte>

          <div class="mb-5" *ngIf="!isEmail">
            <div class="d-flex">
              <!---->
              <div class="input-group-prepend">
                <span
                  class="input-group-text p-0 bg-transparent border-top-0  border-left-0 border-right-0 border-bottom borderw-2">
                  <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                      class=" dropdown-toggle bg-transparent border-0 rounded-0" aria-controls="dropdown-basic">
                      <img src="./assets/images/CountryImage/{{countryCode}}.png" alt="country-image">
                      <span class="caret text-white">{{defaultCountry}}</span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu px-2 min-auto" role="menu"
                      aria-labelledby="button-basic" style="max-height: 120px;overflow-y: auto;">
                      <li role="menuitem">
                        <a class="dropdown-item" href="javascript:void(0)" *ngFor="let flag of countryCodes"
                          (click)="setCountryInfo(flag)">
                          <img src="./assets/images/CountryImage/{{flag.code}}.png" alt="country-image">
                          <span class="caret ">{{flag.dial_code}}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </span>
              </div>
              <!---->
              <div>
                <input class="floating-input placeholder-text" type="text" #phone="ngModel" name="phone"
                  [(ngModel)]="logindata.phone" placeholder="Phone Number" autocomplete="off"
                  maxlength="{{phoneMaxLength}}">
              </div>
              <span class="highlight"></span>
            </div>
            <div *ngIf="submitted" class="text-danger mt-1">
              <p class="mb-0" *ngIf="emailRequired">Mobile Number is required</p>
              <p class="mb-0" *ngIf="emailPatterError">Invalid Mobile Number</p>
            </div>
          </div>

          <div *ngIf="isEmail" class="mb-5">
            <div class="floating-label">
              <input class="floating-input" type="text" #email="ngModel" name="email" [(ngModel)]="logindata.email"
                placeholder=" " autocomplete="off">
              <span class="highlight"></span>
              <label>Email</label>
            </div>
            <div *ngIf="submitted" class="text-danger mt-1">
              <p class="mb-0" *ngIf="emailRequired">Email ID is required</p>
              <p class="mb-0" *ngIf="emailPatterError">Invalid Email ID</p>
            </div>
          </div>

          <div class="mb-2">
            <div class="floating-label">
              <input class="floating-input" type="password" #password="ngModel" name="password"
                [(ngModel)]="logindata.password" placeholder=" " autocomplete="new-password" required>
              <span class="highlight"></span>
              <label>Password</label>
            </div>
            <div *ngIf="submitted" class="text-danger mt-1">
              <p class="mb-0" *ngIf="password.errors && password.errors.required">Password is required</p>
            </div>
          </div>

          <div class="mb-5 text-right">
            <div class="floating-label">
              <a style="color:#fff;cursor:pointer;" *ngIf="isEmail" (click)="changeType()">Use Phone Number</a>
              <a style="color:#fff;cursor:pointer;" *ngIf="!isEmail" (click)="changeType()">Use Email ID</a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-12">
              <!-- <span class="highlight rememberme-label">Remember Me</span>&nbsp; -->
              <input type="checkbox" id="rememberme" (change)="setRemeberMe($event)" class="rememberme-checkbox"
                [checked]="isRemembered || ((logindata.email || logindata.phone) && logindata.password)">
              <label class="highlight" style="left:35px;" for="rememberme">Remember Me</label>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-12 col-12">
              <button class="btn btn-card btn-block btn-lg btn-rounded fw500 btn-shadow">Login</button>

            </div>
          </div>

        </form>
        <!--  <div class="row mt-4">
              <div class="col-6">
                  <button class="btn btn-card btn-block btn-lg btn-rounded" 
                  (click)="signInWithFB()"><i class="fab fa-facebook-f fb-color fs21"></i></button>
              </div>
              <div class="col-6">
                  <button class="btn btn-card btn-block btn-lg btn-rounded" 
                  (click)="signInWithGoogle()"><img src="./assets/images/google.png" alt="google-login" class="w22px position-relative mt_2"></button>
              </div>
            </div> -->

        <div class="text-white text-center mt-4 fs16">
          <span class="d-block mb-1 c-pointer" routerLink="/app/forgotpassword">Forgot Password? <a
              class="font-weight-bold text-white">Get New!</a></span>
          <!--  <span class="d-block">Don't have an account? <a class="font-weight-bold c-pointer text-white" routerLink="/validemail">Sign Up!</a></span> -->
        </div>


      </div>
    </div>
  </div>
</section>