.rememberme-checkbox {
    width: 1rem;
    height: 1rem;
    -webkit-appearance: checkbox;
    &:hover {
        -webkit-appearance: checkbox;
    }
}

input:hover, button:hover, .btn:hover {
    outline: 1px !important;
    box-shadow: black !important;
    -moz-box-shadow: black !important;
    -webkit-box-shadow: black !important;
}

input:focus, button:focus, .btn:focus {
    outline: 1px !important;
    box-shadow: black !important;
    -moz-box-shadow: black !important;
    -webkit-box-shadow: black !important;
}

input:active, button:active, .btn:active {
    outline: 1px !important;
    box-shadow: black !important;
    -moz-box-shadow: black !important;
    -webkit-box-shadow: black !important;
}

.rememberme-label {
    color: white !important;
}