<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
        <i class="fas fa-bars text-white"></i>
      </a>
      <div class="m-auto text-white fs16">CEO</div>
      <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item mr-4" routerLink="/app/menu">
          <a><img src="./assets/images/incare-mobile/home@2x.png" width="22"></a>
        </li>
        <li class="position-relative list-inline-item mr-4" routerLink="/app/add-ceo">
          <a><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
        </li>
        <li class="position-relative list-inline-item">
          <a><img src="./assets/images/incare-mobile/Path@2x.png" class="w-22px"></a>
        </li>
      </ul>
    </nav>
  </div>




  <div class="incareview-desktop-view">
    <div class="row heading mb-20">
      <div class="col-md-8 col-sm-8">
        <h1 class="color-dark-black fs36 font-roboto">Users List</h1>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="mobile-floating-search seachfiled-color">
          <ng-container *ngTemplateOutlet="patientSearch"></ng-container>
        </div>
      </div>
    </div>
  </div>


  <ng-template #patientSearch>
    <div class="input-group search-field">
      <input type="text" (input)="searchCeo($event.target.value)"
        class="form-control border-0 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label=""
        aria-describedby="basic-addon1" />
      <div class="input-group-append">
        <button class="btn bg-transparent btn-circle rounded-circle py-0" type="button"><img
            src="./assets/images/search.png" class="via-search" />
        </button>
      </div>
    </div>
  </ng-template>


  <div class="mobile-body bg-white h-100vh">

    <form class="pt20 pb20 pl15 pr15 incareview-mobile-view">
      <div class="gradient-box">
        <ng-container *ngTemplateOutlet="patientSearch"></ng-container>
      </div>
    </form>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Created Date</th>
            <th>Date of Expiry</th>
            <th>Password Set</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let indexOfelement=index;">
            <td>{{indexOfelement+1}}</td>
            <td>{{user.email}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.createdAt}}</td>
            <td>{{user.expiry}}</td>
            <td>{{user.isForce === 1 ? 'No': 'Yes'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- bottom tabs -->
<div class="incareview-mobile-view">
  <app-bottomnav></app-bottomnav>
</div>
<!-- bottom tabs -->