<app-app-layout></app-app-layout>
<section class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 top--header">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h1>Assessment Management</h1>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="d-flex">
                            <div class="input-group search-field">
                                <input aria-describedby="basic-addon1" aria-label="" class="form-control border-0 g-transparent form-control-lg" placeholder="TYPE HERE" type="text">
                                <div class="input-group-append">
                                    <button  class="btn bg-transparent btn-circle rounded-circle py-0" type="button">
                                        <img class="via-search" src="./assets/images/search.png" />
                                    </button>
                                </div>
                            </div>
                            <img class="img--management " src="./assets/images/add.png ">
                            <img class="img--management " src="./assets/images/add.png ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 left--section">
                <ul>
                    <li class="active--item">
                        <span>IV Site</span>
                        <img src="./assets/images/menu-icons/edit-icon.png">
                        <img src="./assets/images/menu-icons/delete.png ">
                    </li>
                    <li>
                        <span>IV Site</span>
                        <img src="./assets/images/menu-icons/edit-icon.png">
                        <img src="./assets/images/menu-icons/delete.png ">
                    </li>
                    <li>
                        <span>IV Site</span>
                        <img src="./assets/images/menu-icons/edit-icon.png">
                        <img src="./assets/images/menu-icons/delete.png ">
                    </li>
                    <li>
                        <span>IV Site</span>
                        <img src="./assets/images/menu-icons/edit-icon.png">
                        <img src="./assets/images/menu-icons/delete.png ">
                    </li>
                    <li>
                        <span>IV Site</span>
                        <img src="./assets/images/menu-icons/edit-icon.png">
                        <img src="./assets/images/menu-icons/delete.png ">
                    </li>
                    <li>
                        <span>IV Site</span>
                        <img src="./assets/images/menu-icons/edit-icon.png">
                        <img src="./assets/images/menu-icons/delete.png ">
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-9 right--section">
                <table>
                    <thead>
                        <tr>
                            <th>Case No</th>
                            <th>Name</th>
                            <th>Device Type</th>
                            <th>Insertion Date</th>
                            <th>Action</th>
                            <th>Assessment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1001</td>
                            <td>John Doe</td>
                            <td>PVC</td>
                            <td>12.11.2010</td>
                            <td>No Action</td>
                            <td>View</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>John Doe</td>
                            <td>Midline</td>
                            <td>12.11.2010</td>
                            <td><a href="#" target="_blank">Schedule Visit</a></td>
                            <td>View</td>
                        </tr>
                    </tbody>
                </table>
                <app-view-case></app-view-case>
            </div>
        </div>
    </div>
    
</section>
