.page-content {
  padding-top: 0px;
}
.no__padding {
  padding: 0;
}
.g-transparent {
  background: 0 0;
}
.search-field {
  width: 35%;
}
.d-flex {
  justify-content: flex-end;
  align-items: center;
}
.top--header {
  margin-bottom: 40px;
}
.img--management {
  height: 30px;
  width: 30px;
  margin-left: 40px;
  cursor: pointer;
}
.left--section {
  border-right: 2px solid rgba($color: #000000, $alpha: 0.4);
  ul {
    list-style: none;
    padding: 0;
    .active--item {
      font-weight: bold;
      span {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(to right, #5bbd92, #0299d7);
        background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
        background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
        background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
        background: -o-linear-gradient(to right, #5bbd92, #0299d7);
        background-clip: text;
      }
    }
    li {
      padding: 20px 0;
      cursor: pointer;
      transition: 0.4s;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      &:after {
        content: "";
        width: 100%;
        padding: 1px;
        opacity: 0.4;
        margin-top: 4px;
        background: linear-gradient(to right, #5bbd92, #0299d7);
        background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
        background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
        background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
        background: -o-linear-gradient(to right, #5bbd92, #0299d7);
      }
      img {
        filter: saturate(0);
        transition: 0.4s;
        width: 25px;
        height: 25px;
        cursor: pointer;
        opacity: 0.6;
        margin-left: 20px;
        &:hover {
          opacity: 1;
          filter: saturate(100%);
        }
      }
      span {
        margin-right: auto;
        font-size: 1.32em;
      }
    }
  }
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 6px;
  text-align: center;
  thead {
    th {
      font-weight: normal;
      padding: 12px 4px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
  }
  tbody {
    tr {
      td {
        padding: 12px 4px;
        &:last-child {
          color: #0299d7;
          font-weight: bold;
          cursor: pointer;
        }
        a {
          font-weight: bold;
          color: #0299d7;
        }
      }
      &:nth-child(odd) td {
        background: rgba(231, 76, 60, 0.1);
      }
      &:nth-child(even) td {
        background: rgba(46, 204, 113, 0.1);
      }
    }
  }
}
@media (max-width: 768px) {
  .left--section {
    border-right: none;
  }
}
