<section>
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
      <!-- <i class="fas fa-arrow-left text-white"></i> -->
      <img src="assets/images/back.png" width="17" />
    </a>
    <div class="m-auto text-white fs16">{{ format }}</div>
    <ul class="list-inline position-absolute right-20">
      <li class="position-relative list-inline-item">
        <a class="c-pointer" routerLink="/app/menu"><img src="./assets/images/incare-mobile/home@2x.png"
            class="w-19px" /></a>
      </li>
    </ul>
  </nav>
  <div class="mobile-body bg-white">
    <!-- <ul class="notes-list list-group mt-70 mx-2">
         <li class="list-group-item" *ngFor="let history of historyList" (click)="goRedirectPage(history)">
            <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon">
            <span class="notest-text fs14">Dr. {{history.docterName}} | {{history.updated_at | date:'dd MMM yyyy'}}</span>
         </li>
         <li class="list-group-item" *ngIf="historyList.length === 0">
            <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon">
            <span class="notest-text fs14">No Data Found.</span>
         </li>
       </ul> -->
    <div class="p20 custom-tabs-body">
      <accordion>
        <accordion-group (isOpenChange)="accordianfn1($event, i)" [isOpen]="firstAccordian || historyList.length > 0"
          *ngIf="historyList.length !== 0">
          <div accordion-heading>
            <h2 class="fs18 color-dark-black d-inline-block">GENERAL</h2>

            <ul class="list-inline float-right grey-color">
              <li class="list-inline-item">
                <i class="fas fa-chevron-up pt5" *ngIf="firstAccordian"></i>
                <i class="fas fa-chevron-down pt5" *ngIf="!firstAccordian"></i>
              </li>
            </ul>
          </div>
          <div>
            <ul class="via-history-list notes-list list-group fs16 mx-2 my-4" *ngIf="!firstAccordian">
              <ng-container *ngIf="historyList.length >= 2">
                <li style="cursor: pointer;"
                  class="list-group-item border-top-0 border-right-0 border-left-0 bg-transparent tag-border"
                  (click)="goRedirectPage(history)">
                  <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
                  <span class="notest-text fs14">Dr. {{ historyList[0].docterName }} |
                    {{
                      historyList[0].created_at | date: "dd MMM yyyy hh:mm a"
                    }}</span>
                </li>
                <li style="cursor: pointer;"
                  class="list-group-item border-top-0 border-right-0 border-left-0 bg-transparent tag-border"
                  (click)="goRedirectPage(history)">
                  <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
                  <span class="notest-text fs14">Dr. {{ historyList[1].docterName }} |
                    {{
                      historyList[1].created_at | date: "dd MMM yyyy hh:mm a"
                    }}</span>
                </li>
              </ng-container>
              <ng-container *ngIf="historyList.length == 1">
                <li style="cursor: pointer;"
                  class="list-group-item border-top-0 border-right-0 border-left-0 bg-transparent tag-border"
                  (click)="goRedirectPage(history)">
                  <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
                  <span class="notest-text fs14">Dr. {{ historyList[0].docterName }} |
                    {{
                      historyList[0].created_at | date: "dd MMM yyyy hh:mm a"
                    }}</span>
                </li>
              </ng-container>
              <li *ngIf="historyList.length === 0"
                class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent tag-border text-danger text-center">
                <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
                <span class="notest-text fs14">No Data Found.</span>
              </li>
            </ul>
          </div>

          <ul class="via-history-list notes-list list-group fs16 mx-2 accordianscroll">
            <ng-container *ngFor="let history of historyList">
              <li style="cursor: pointer;"
                class="list-group-item border-top-0 border-right-0 border-left-0 bg-transparent tag-border"
                (click)="goRedirectPage(history)">
                <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
                <span class="notest-text fs14">Dr. {{ history.docterName }} |
                  {{ history.created_at | date: "dd MMM yyyy hh:mm a" }}</span>
              </li>
            </ng-container>
            <li *ngIf="historyList.length === 0"
              class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent tag-border text-danger text-center">
              <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
              <span class="notest-text fs14">No Data Found.</span>
            </li>
          </ul>
        </accordion-group>
        <accordion-group (isOpenChange)="accordianfn2($event)" [isOpen]="secondAccordian || covidlist.length > 0 ">
          <div accordion-heading>
            <h2 class="fs18 color-dark-black d-inline-block">{{ getname }}</h2>
            <ul class="list-inline float-right grey-color">
              <li class="list-inline-item">
                <i class="fas fa-chevron-up pt5" *ngIf="secondAccordian"></i>
                <i class="fas fa-chevron-down pt5" *ngIf="!secondAccordian"></i>
              </li>
            </ul>
          </div>
          <div>
            <ul class="via-history-list notes-list list-group fs16 mx-2 my-4" *ngIf="!secondAccordian">
              <ng-container *ngIf="covidlist.length >= 2">
                <li style="cursor: pointer;"
                  class="list-group-item border-top-0 border-right-0 border-left-0 bg-transparent tag-border"
                  (click)="goRedirectPage(history)">
                  <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
                  <span class="notest-text fs14">Dr. {{ covidlist[0].docterName }} |
                    {{
                      covidlist[0].created_at | date: "dd MMM yyyy hh:mm a"
                    }}</span>
                </li>
                <li style="cursor: pointer;"
                  class="list-group-item border-top-0 border-right-0 border-left-0 bg-transparent tag-border"
                  (click)="goRedirectPage(history)">
                  <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
                  <span class="notest-text fs14">Dr. {{ covidlist[1].docterName }} |
                    {{
                      covidlist[1].created_at | date: "dd MMM yyyy hh:mm a"
                    }}</span>
                </li>
              </ng-container>
              <ng-container *ngIf="covidlist.length == 1">
                <li style="cursor: pointer;"
                  class="list-group-item border-top-0 border-right-0 border-left-0 bg-transparent tag-border"
                  (click)="goRedirectPage(history)">
                  <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
                  <span class="notest-text fs14">Dr. {{ covidlist[0].docterName }} |
                    {{
                      covidlist[0].created_at | date: "dd MMM yyyy hh:mm a"
                    }}</span>
                </li>
              </ng-container>
              <li *ngIf="covidlist.length === 0"
                class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent tag-border text-danger text-center">
                <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
                <span class="notest-text fs14">No Data Found.</span>
              </li>
            </ul>
          </div>
          <ul class="via-history-list notes-list list-group fs16 mx-2 accordianscroll">
            <ng-container *ngFor="let covid of covidlist">
              <li style="cursor: pointer;"
                class="list-group-item border-top-0 border-right-0 border-left-0 bg-transparent tag-border"
                (click)="goRedirectPage(covid, true)">
                <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
                <span class="notest-text fs14">Dr. {{ covid?.docterName }} |
                  {{ covid?.created_at | date: "dd MMM yyyy hh:mm a" }}</span>
              </li>
            </ng-container>
            <li *ngIf="covidlist.length === 0"
              class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent tag-border text-danger text-center">
              <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon" />
              <span class="notest-text fs14">No Data Found.</span>
            </li>
          </ul>
        </accordion-group>
      </accordion>
    </div>
  </div>
</section>

<ng-template #notesDetail>
  <div class="modal-body p20 notes-container">
    <span class="float-right font-weight-bold closeBtn" (click)="modalRef.hide()">X</span>
    <div class="clearfix"></div>
    <div class="content">
      <h2 class="dark-black fs20">
        Dear
        <span class="font-weight-bold">{{ noteData.patientInfo.firstName }},</span>
      </h2>
      <p [innerHTML]="noteData.notes" class="dark-black fs14 mt-15"></p>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-theme-gradient text-white shadow mt-20 mb-20" (click)="modalRef.hide()">
        Done
      </button>
      <!--  <button type="button" class="btn btn-theme-gradient text-white shadow mb-30" (click)="modalRef.hide()">Reply</button> -->
    </div>
  </div>
</ng-template>

<!-- bottom tabs -->
<app-bottomnav></app-bottomnav>

<!-- bottom tabs -->