.accordianscroll {
  max-height: 165px;
  overflow-y: auto;
}
.tag-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  .tag-title {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
  }
}
.notes-container {
  .closeBtn {
    cursor: pointer;
  }
  .content {
    max-height: 600px;
    overflow-y: auto;
  }
}
