<!-- Mobile side navigation -->
<!-- <aside class="mobile-sidebar position-fixed" [ngClass]="{'opened': mobSideToggle }"> -->
<app-loader></app-loader>
<aside class="mobile-sidebar position-fixed" [ngClass]="mobSideToggle === true ? 'opened' : ''">
  <nav>
    <div class="sidebar-header px-4 pt-5">
      <div class="user-image mb-3">
        <img src="./assets/images/incare-mobile/avatar.astronaut.png" alt="user-image" class="sidenav-icon">
      </div>
      <div class="pr-4 position-relative">
        <h1 class="font-weight-light text-truncate fs16 mb-0">{{userInfo?.firstName}} {{userInfo?.lastName}}</h1>
        <span class="header-subtxt text-truncate d-block fs10">
          <!-- New York, NY --></span>
        <a routerLink="/app/editprofile"><img src="./assets/images/menu-icons/edit-icon.png" alt="edit-image"
            class="position-absolute edit-icon"></a>
      </div>
      <hr class="mb-0">
    </div>
    <div class="sidebar-body px-4 py-2 position-relative">
      <ul class="list-unstyled components">
        <li class="border-top-0" routerLink="/app/notifications">
          <a href="javascript:void(0)">
            <img src="./assets/images/incare-mobile/notification@2x.png" alt="Notification"
              class="sidenav-icon w-17px ml5">
            <span class="sidenavtxt position-relative pl4">Notification <span *ngIf="notificationCount>0"
                class="badge badge-success float-right sidenavtxt position-relative bot-minus-10px mtop5 mright6">
                {{notificationCount}}
              </span></span>
          </a>
        </li>
        <!-- <li *ngIf="isPatient" routerLink="/app/ask-your-doctor">
              <a href="javascript:void(0)">
              <img src="./assets/images/chat.png" alt="Notification" class="sidenav-icon ml5" width="22">
              <span class="sidenavtxt position-relative pl4">Ask Your Doctor</span>
              </a>
            </li> -->
        <!-- <li>
            <div class="row">
            <div class="col-6 border-right" routerLink="/app/patients">
              <a  aria-expanded="false" >
                <img src="./assets/images/menu-icons/my-org.png" alt="Manage" class="sidenav-icon">
                <span class="sidenavtxt position-relative">Work</span>
                </a>
            </div>
            <div class="col-6" (click)="mobNavToggle()">
              <a  aria-expanded="false" >
                <img src="./assets/images/menu-icons/users.png" alt="Manage" class="sidenav-icon w15px">
                <span class="sidenavtxt position-relative">Personal</span>
                </a>
            </div>
          </div>
          </li> -->

        <!-- <li (click)="manageToggle = !manageToggle">
              <a  aria-expanded="false" >
              <img src="./assets/images/incare-mobile/Manage@2x.png" alt="Manage" class="sidenav-icon">
              <span class="sidenavtxt position-relative">Manage</span>
              <img src="./assets/images/menu-icons/uparrow.png" alt="Manage-dropdown" class="dd-icon pt15 position-absolute" [ngClass]="{'chevron-rotate' : manageToggle}">
              </a>
              <ul class="list-unstyled" [ngClass]="{'d-none' : manageToggle}">
                 <li routerLink="/app/myorg">
                    <a class="pl-4" href="javascript:void(0)">
                    <img src="./assets/images/menu-icons/my-org.png" alt="My-org" class="sidenav-icon">
                    <span class="sidenavtxt position-relative"> My Org</span>
                    </a>
                 </li>
                 <li routerLink="/app/manageusers">
                    <a class="pl-4" href="javascript:void(0)">
                    <img src="./assets/images/menu-icons/users.png" alt="User" class="sidenav-icon">
                    <span class="sidenavtxt position-relative"> User</span>
                    </a>
                 </li>
              </ul>
           </li> -->
        <li routerLink="/app/settings" *ngIf="userType != '1'">
          <a href="javascript:void(0)">
            <img src="assets/images/menu-icons/settings.png" alt="Settings" class="sidenav-icon">
            <span class="sidenavtxt position-relative">Settings</span>
          </a>
        </li>
        <li (click)="logout()">
          <a href="javascript:void(0)">
            <img src="./assets/images/menu-icons/logout.png" alt="Logout" class="sidenav-icon">
            <span class="sidenavtxt position-relative">Logout</span>
          </a>
        </li>
      </ul>
      <img src="./assets/images/incare-mobile/Turn.png" (click)="mobNavToggle()" alt="arrow"
        class="position-absolute closeSidebarbtn">
    </div>
  </nav>
</aside>
<!-- Mobile side navigation -->


<section>
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px" href="javascript:void(0)" (click)="mobNavToggle()">
      <i class="fa fa-bars text-white"></i>
    </a>
    <div class="m-auto text-white fs16">Welcome</div>
  </nav>
  <div class="mobile-body p25">
    <!-- <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div> -->

    <div class="card br-15 menu-shadow mb-20" *ngIf="userType == '1'">
      <div class="card-body" routerLink="/app/ceo-management">
        <div class="d-flex">
          <div class="p-2 mt-9  ">
            <h5 class="card-title fs20 font-roboto font-weight-light mb-0">CEO's</h5>
            <!-- <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medication guide</small></p> -->
          </div>
          <div class="ml-auto p-2"><img src="assets/images/menu-icons/patient-icon.png" width="45"></div>
        </div>
      </div>
    </div>

    <div class="card br-15 menu-shadow mb-20"
      *ngIf="permissionList && permissionList.length > 0 && userType != '1' || userType === '3'">
      <div class="card-body" (click)="gotoCovid()">
        <div class="d-flex">
          <div class="p-2 mt-9  ">
            <h5 class="card-title fs20 font-roboto font-weight-light mb-0">{{getname}}</h5>
            <!-- <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medication guide</small></p> -->
          </div>
          <div class="ml-auto p-2"><img src="assets/images/menu-icons/covid-active.png" width="45"></div>
        </div>
      </div>
    </div>

    <div class="card br-15 menu-shadow mb-20"
      *ngIf="permissionList && permissionList.length > 0 && userType != '1' || userType === '3'">
      <div class="card-body" (click)="gotoPatients()">
        <div class="d-flex">
          <div class="p-2 mt-9  ">
            <h5 class="card-title fs20 font-roboto font-weight-light mb-0">Patients</h5>
            <!-- <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medication guide</small></p> -->
          </div>
          <div class="ml-auto p-2"><img src="assets/images/menu-icons/patient-icon.png" width="45"></div>
        </div>
      </div>
    </div>

    <div class="card br-15 menu-shadow mb-20"
      *ngIf="permissionList && permissionList.length === 0 && userType != '1' && userType != '3'">
      <div class="card-body" (click)="goRedirectPage('Notes', '/app/notes')">
        <div class="d-flex">
          <div class="p-2">
            <h5 class="card-title fs20 font-roboto font-weight-light mb-0">My Care Notes</h5>
            <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medical notes</small>
            </p>
          </div>
          <div class="ml-auto p-2"><img src="assets/images/menu-icons/dos-donts-active.png" width="40"></div>
        </div>
      </div>
    </div>

    <div class="card br-15 menu-shadow mb-20"
      *ngIf="permissionList && permissionList.length === 0 && userType != '1' && userType != '3'">
      <div class="card-body" (click)="goRedirectPage('Dos', '/app/instructions')">
        <div class="d-flex">
          <div class="p-2">
            <h5 class="card-title fs20 font-roboto font-weight-light mb-0">Do's &amp; Don'ts</h5>
            <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medical
                checklist</small></p>
          </div>
          <div class="ml-auto p-2"><img src="assets/images/menu-icons/do&donts.png" width="40"></div>
        </div>
      </div>
    </div>




    <div class="card br-15 menu-shadow mb-20"
      *ngIf="permissionList && permissionList.length === 0 && userType != '1' && userType != '3'">
      <div class="card-body" (click)="goRedirectPage('Media', '/app/patient-media')">
        <div class="d-flex">
          <div class="p-2">
            <h5 class="card-title fs20 font-roboto font-weight-light mb-0">Media</h5>
            <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medical assisting
                video</small></p>
          </div>
          <div class="ml-auto p-2"><img src="assets/images/menu-icons/media-active.png" width="45"></div>
        </div>
      </div>
    </div>

    <div class="card br-15 menu-shadow mb-20"
      *ngIf="permissionList && permissionList.length === 0 && userType != '1' && userType != '3'">
      <div class="card-body" (click)="goRedirectPage('Meds', '/app/medications')">
        <div class="d-flex">
          <div class="p-2">
            <h5 class="card-title fs20 font-roboto font-weight-light mb-0">Medications</h5>
            <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medication
                guide</small></p>
          </div>
          <div class="ml-auto p-2"><img src="assets/images/menu-icons/medications-active.png" width="40"></div>
        </div>
      </div>
    </div>

    <div class="card br-15 menu-shadow mb-20"
      *ngIf="permissionList && permissionList.length > 0 && userType != '1' || userType === '3'">
      <div class="card-body" routerLink="/app/media-slides">
        <div class="d-flex">
          <div class="p-2">
            <h5 class="card-title fs20 font-roboto font-weight-light mb-0">Media</h5>
            <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medical assisting
                video</small></p>
          </div>
          <div class="ml-auto p-2"><img src="assets/images/menu-icons/media-active.png" width="45" class="mt-7"></div>
        </div>
      </div>
    </div>

    <!-- <div class="card br-15 menu-shadow mb-20" *ngIf="permissionList && permissionList.length > 0">
          <div class="card-body" routerLink="/app/appointments">
            <div class="d-flex">
              <div class="p-2">
                  <h5 class="card-title fs20 font-roboto font-weight-light mb-0">Appointments</h5>
                  <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medical calendar</small></p>
              </div>
              <div class="ml-auto p-2"><img src="assets/images/menu-icons/appointments-active.png" width="45"></div>
            </div>
          </div>
        </div> -->

    <div class="card br-15 menu-shadow mb-20"
      *ngIf="permissionList && permissionList.length > 0 && userType != '1' || userType === '3'">
      <div class="card-body" routerLink="/app/tags">
        <div class="d-flex">
          <div class="p-2">
            <h5 class="card-title fs20 font-roboto font-weight-light mb-0">Tag Management</h5>
            <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Manage your tags
                here</small></p>
          </div>
          <div class="ml-auto p-2"><img src="assets/images/tag.png" width="24"></div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
          <div class="col-6">
            <div class="card br-15 menu-shadow">
              <div class="card-body">
                <img src="assets/images/menu-icons/forums-active.png" width="25">
                <h5 class="card-title fs16 font-roboto font-weight-light mb-0 mt-10">Forum</h5>
                <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medical discussion</small></p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card br-15 menu-shadow">
              <div class="card-body">
                <img src="assets/images/menu-icons/contact-active.png" width="25">
                <h5 class="card-title fs16 font-roboto font-weight-light mb-0 mt-10">Contact</h5>
                <p class="card-text color-dark-grey font-weight-light"><small class="text-muted">Your medical Contacts</small></p>
              </div>
            </div>
          </div>
        </div> -->

  </div>
</section>