<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" (click)="navigateUrl()">
        <!-- <i class="fas fa-bars text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Media</div>
      <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item mr-4" routerLink="/app/menu">
          <a>
            <img src="./assets/images/incare-mobile/home@2x.png" class="w-19px">
          </a>
        </li>
        <li class="position-relative list-inline-item mr-4" (click)="removeTagId()" routerLink="/app/media"
          *ngIf="!isPatient && showCreate">
          <a>
            <img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px">
          </a>
        </li>
        <li class="position-relative list-inline-item" (click)="isSearch = !isSearch" *ngIf="!isPatient">
          <a>
            <img src="./assets/images/incare-mobile/Shape@2x.png" class="w-22px">
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="incareview-desktop-view">
    <div class="row heading mb-20">
      <div class="col-md-8 col-sm-8">
        <h1 class="color-dark-black fs36 font-roboto" *ngIf="!isPatient">Media</h1>
        <h1 class="color-dark-black fs36 font-roboto" *ngIf="isPatient">
          <span (click)="navigateUrl()">
            <i class="fa fa-angle-left color-arrow-grey mr-3"></i>
          </span>Media</h1>
      </div>
      <div class="col-md-4 col-sm-4" *ngIf="!isPatient">
        <div class="d-flex flex-row-reverse">
          <div class="ml-15 mt-10 incareview-desktop-view" *ngIf="mediaList.length === 0 && showCreate">
            <img src="./assets/images/add.png" class="c-pointer" (click)="createMedia(createMediaModal)">
          </div>
          <div class="mobile-floating-search seachfiled-color display-content">
            <ng-container *ngTemplateOutlet="mediaSearch"></ng-container>
          </div>
        </div>

        <!-- <div class="mobile-floating-search seachfiled-color">
            <ng-container *ngTemplateOutlet="mediaSearch"></ng-container>
        </div> -->
      </div>
    </div>
  </div>

  <ng-template #mediaSearch>
    <div class="input-group search-field">
      <input type="text" (input)="searchMedia($event.target.value)"
        class="form-control border-0 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label=""
        aria-describedby="basic-addon1" />
      <div class="input-group-append">
        <button class="btn bg-transparent btn-circle rounded-circle py-0" type="button">
          <img src="./assets/images/search.png" class="via-search" />
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #createMediaModal>
    <div class="modal-body">
      <app-media [mediaType]="mediaType"></app-media>
    </div>
  </ng-template>

  <!-- Edit Media  -->
  <ng-template #updateMedia>
    <div class="modal-header">
      <h4 class="modal-title pull-left color-grey fs20">Edit Media</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeMediaEdit()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="form" [formGroup]="mediaForm" (ngSubmit)="editMediaInfo()" novalidate>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Title
            </span>
          </div>
          <input type="text" class="form-control" formControlName="title" placeholder="Title">
        </div>
        <div *ngIf="title.errors" class="text-danger mt-1">
          <p class="mb-0" *ngIf="title.errors.required">Title is required</p>
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Description
            </span>
          </div>
          <input type="text" class="form-control" formControlName="description" placeholder="Description">
        </div>
        <div *ngIf="description.errors" class="text-danger mt-1">
          <p class="mb-0" *ngIf="description.errors.required">Description is required</p>
        </div>
        <div class="text-center mt-30 mb-20">
          <button type="submit" class="btn btn-primary shadow">Update</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #mediaFormModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left fs26">{{mediaType === 'flashCard' ? 'Add Flash Card' : 'Upload Media'}}</h4>
      <button type="button" class="close pull-right color-green-text opct-1" aria-label="Close"
        (click)="modalRef.hide()">
        <img src="assets/images/cross.png" width="25">
      </button>
    </div>
    <div class="modal-body">
      <app-media-form [mediaType]="mediaType"></app-media-form>
    </div>
  </ng-template>

  <div class="mobile-body bg-white h-100vh mob-mb-100 mobile-view-top">
    <ng-container *ngIf="isSearch" class="incareview-mobile-view">
      <form class="pt5 pl15 pr15 shadow">
        <div class="gradient-box">
          <ng-container *ngTemplateOutlet="mediaSearch"></ng-container>
        </div>
      </form>
    </ng-container>


    <div class="media-padding overflow-hidden">
      <ng-container *ngFor="let medialist of mediaList;let first = first;let last = last;let i = index">
        <h1 class="color-dark-black fs16 mb-4 pt-4 align-mobile-title">{{medialist.mediaType | titlecase}}
          <span (click)="createMedia(createMediaModal)" class="float-right incareview-desktop-view"
            *ngIf="!isPatient && showCreate">
            <img src="./assets/images/add.png" width="25">
          </span>
        </h1>

        <!-- Media Video slider -->
        <ul class="slider-card media-scroll list-unstyled list-inline fs12 media-slides grey-color2"
          [ngClass]="{'dont-scroll' : dontScroll}">
          <ng-container *ngIf="medialist.media.length>0">
            <ng-container *ngFor="let media of medialist.media">
              <li class="list-inline-item position-relative bg-white">
                <!-- <img src="./assets/images/user.jpg" alt="plus-image" class="media-img" [routerLink]="['/media-ivideo', media.id]"> -->
                <ng-container *ngIf="this.media.type === 'image'">

                  <!-- <img src="{{mediaService.imageURL}}{{media.keyName}}" class="media-img w-100" [routerLink]="['/media-ivideo', media.id]"> -->

                  <img src="{{mediaService.imageURL}}{{media.keyName}}" class="media-form-img w-100"
                    style="height: 143px;object-fit: cover;" (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)">
                </ng-container>
                <ng-container *ngIf="this.media.type === 'document'">
                  <img src="./assets/images/incare-mobile/pdf.png" alt="plus-image" class="media-img  obj-fit-contain"
                    (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)" *ngIf="media.format === 'pdf'">
                  <img src="./assets/images/incare-mobile/excel.png" alt="plus-image" class="media-img  obj-fit-contain"
                    (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)"
                    *ngIf="media.format === 'xlsx' || media.format === 'xls' || media.format === 'csv'">
                  <img src="./assets/images/incare-mobile/word.png" alt="plus-image" class="media-img  obj-fit-contain"
                    (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)"
                    *ngIf="media.format === 'doc' || media.format === 'docx'">
                  <img src="./assets/images/incare-mobile/ppt.png" alt="plus-image" class="media-img  obj-fit-contain"
                    (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)"
                    *ngIf="media.format === 'ppt' || media.format === 'pptx'">
                  <img src="./assets/images/incare-mobile/zip.png" alt="plus-image" class="media-img  obj-fit-contain"
                    (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)"
                    *ngIf="media.format === 'zip' || media.format === 'rar'">
                  <img src="./assets/images/incare-mobile/document.png" alt="plus-image"
                    class="media-img  obj-fit-contain" (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)"
                    *ngIf="media.format != 'zip' && media.format != 'rar' && media.format != 'pdf' && media.format != 'xlsx' && media.format != 'xls' && media.format != 'csv' && media.format != 'doc' && media.format != 'docx' && media.format != 'ppt' && media.format != 'pptx'">
                </ng-container>
                <ng-container *ngIf="this.media.type === 'text'">
                  <img src="./assets/images/incare-mobile/txt.png" alt="plus-image" class="media-img  obj-fit-contain"
                    (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)">
                </ng-container>
                <ng-container *ngIf="this.media.type === 'video'">
                  <img src="./assets/images/incare-mobile/video.png" alt="plus-image" class="media-img obj-fit-contain"
                    (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)" *ngIf="!media.thumbnailUrl">
                  <img src="{{mediaService.imageURL}}{{media.thumbnailUrl}}" alt="plus-image"
                    class="media-form-img w-100" style="height: 143px;object-fit: cover;"
                    (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)" *ngIf="media.thumbnailUrl">
                </ng-container>
                <ng-container *ngIf="this.media.type === 'audio'">
                  <img src="./assets/images/incare-mobile/audio.png" alt="plus-image" class="media-img"
                    (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)">
                </ng-container>
                <ng-container *ngIf="this.media.type === 'flashCard'">
                  <img src="./assets/images/incare-mobile/flashcard.png" alt="plus-image" class="media-img"
                    (click)="goTomediaView('/app/media-ivideo', media.id, medialist.mediaType)">
                </ng-container>
                <ng-container
                  *ngIf="media.type !== 'video' && media.type !== 'image' && media.type !== 'document' && media.type !== 'text' && media.type !== 'audio' && media.type !== 'flashCard'">
                  <img src="./assets/images/incare-mobile/document.png" alt="plus-image"
                    (click)="goTomediaView('/app/media-ivideo', media.id)">
                </ng-container>
                <div class="position-relative">
                  <div class="slidecard-content media-title-container">
                    <h3 class="fs14 mt-3 text-truncate mb-2 color-dark-black" title={{media.name}}> {{media.name}} </h3>
                    <!-- <span class="grey-color3">11 Views</span> -->
                  </div>
                  <div>
                    <a href="javascript:void(0)" title="Edit Media" (click)="editMedia(updateMedia,media)"
                      *ngIf="!isPatient && showCreate">
                      <img src="./assets/images/menu-icons/edit-icon.png" alt="edit media" class="editmedia"> </a>
                    <a href="javascript:void(0)" title="Delete Media" (click)="deleteMedia(confirmMediaDelete,media)"
                      *ngIf="!isPatient && showCreate">
                      <img src="./assets/images/menu-icons/delete.png" alt="delete media" class="deletemedia"> </a>
                  </div>
                  <!-- <a href="javascript:void(0)" title="Edit Media"  *ngIf="!isPatient && showCreate"><img src="./assets/images/menu-icons/edit-icon.png" alt="more-img" class="deletemedia"></a>  -->
                  <!-- 3 dots img -->
                  <!-- /3 dots img -->
                </div>
              </li>
            </ng-container>
          </ng-container>
          <div *ngIf="medialist.media.length === 0" style="display: flex;">
            <span style="margin: 0 auto;color: var(--danger);">
              {{medialist.mediaType}} List is Empty
            </span>
          </div>

        </ul>
        <hr class="desktop-middle-border">
      </ng-container>

      <!-- Media Video slider -->

    </div>
    <p class="text-center text-danger" *ngIf="mediaList.length === 0">No Record Found</p>
  </div>
</section>



<!-- bottom tabs -->
<div class="incareview-mobile-view">
  <app-bottomnav></app-bottomnav>
</div>
<!-- bottom tabs -->



<ng-template #confirmMediaDelete>
  <div class="modal-body text-center">
    <p class="mt-40 mb-30 fs20">Are you sure, you want to delete this {{selectMedia.name}} Media?</p>
    <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelDelete()">Cancel</button>
    <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteMediaInfo()">Delete</button>
  </div>
</ng-template>