shadow{
 box-shadow: 0px 10px 10px #ddd; 
}
.fs14{
    font-size: 14px;
}
.media-title-container {
    width: 60%;
}


.deletemedia{
	width: 25px;
    float: right;
    position: relative;
    top: -30px;
}

.editmedia{
	width: 25px;
    float: right;
    position: relative;
    top: -30px;
}