<section class="auth-content">
    <app-loader></app-loader>
    <div class="container log-container pb-sm-0 pb-5">
        <header class="pt-5 pb-4 text-white  d-md-none d-sm-block">
            <h1 class="fs16 text-center font-weight-normal">Change Password</h1>
        </header>
        <div class="text-md-center">
            <img src="./assets/images/logo.png" class="logo d-md-inline-block  d-none" alt="via-logo">
            <h2 class="mt-4 text-md-center text-white font-weight-light font-roboto fs30 pl-2 pl-sm-0">Change Password
            </h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-11 m-auto">
                <form class="floating-input-form mt-5" #changePasswordForm="ngForm"
                    (ngSubmit)="changePasswordForm.form.valid && resetPasswordSubmit()" novalidate>

                    <div class="mb-5" *ngIf="!oldPass">
                        <div class="floating-label">
                            <input class="floating-input" type="password" name="old_password" #old_password="ngModel"
                                [(ngModel)]="changepassworddata.old_password" placeholder=" " required>
                            <span class="highlight"></span>
                            <label>Old Password</label>
                        </div>
                        <div *ngIf="old_password.errors && changePasswordForm.submitted" class="text-danger mt-1">
                            <p class="mb-0" *ngIf="old_password.errors.required">Old Password is required</p>

                        </div>
                    </div>
                    <div class="mb-5">
                        <div class="floating-label">
                            <input class="floating-input" type="password" name="new_password" minlength="8"
                                #new_password="ngModel" [(ngModel)]="changepassworddata.new_password" placeholder=" "
                                required>
                            <span class="highlight"></span>
                            <label>New Password</label>
                        </div>
                        <div *ngIf="new_password.errors && changePasswordForm.submitted" class="text-danger mt-1">
                            <p class="mb-0" *ngIf="new_password.errors.required">New Password is required</p>
                            <p class="mb-0" *ngIf="new_password.errors.minlength">Password should be atleast 8 letters
                            </p>
                        </div>
                    </div>
                    <div class="mb-5">
                        <div class="floating-label">
                            <input class="floating-input" type="password" minlength="8" name="confirmpassword"
                                #confirmPassword="ngModel" [(ngModel)]="changepassworddata.confirmPassword"
                                placeholder=" " required>
                            <span class="highlight"></span>
                            <label>Confirm Password</label>
                        </div>
                        <div *ngIf="confirmPassword.errors && changePasswordForm.submitted" class="text-danger mt-1">
                            <p class="mb-0" *ngIf="confirmPassword.errors.required">Confirm Password is required</p>
                            <p class="mb-0" *ngIf="confirmPassword.errors.minlength">Password should be atleast 8
                                letters
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-11 m-auto">
                            <button class="btn btn-card btn-block btn-lg btn-rounded fw500 btn-shadow"><span
                                    class="fs20">Submit</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>