.fb-color {
  color: $fb-color;
}
.color-white {
  color: $white;
}
.color-grey {
  color: $grey;
}
.color-green {
  color: $green;
}
.color-dark-black {
  color: $dark-black;
}
.color-dark-grey {
  color: $dark-grey;
}
.bg-grey {
  background: $grey;
}
.color-black {
  color: $balck-color;
}
.grey-color {
  color: $grey-color;
}
.grey-color2 {
  color: $grey-color2;
}
.grey-color3 {
  color: $grey-color3;
}
.theme-color {
  color: $theme-color;
}
.color-green-text {
  color: $theme-color;
}
.color-light-green {
  color: $color-light-green;
}
.color-red {
  color: $color-red;
}
.color-yellow {
  color: $color-yellow;
}
.color-green2 {
  color: $color-green2;
}
.color-red2 {
  color: $color-red2;
}
.color-grey4 {
  color: $grey-color4;
}
.color-grey-dark {
  color: $grey-dark;
}
.color-arrow-grey {
  color: $arrow-grey;
}
.bg-theme-color {
  background: linear-gradient(to right, #5bbd92, #0299d7);
  background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
  background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
  background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
  background: -o-linear-gradient(to right, #5bbd92, #0299d7);
}
.activetag,
.theme-color {
  // background: -webkit-radial-gradient(#51B89A, #27A8BA);
  // background: radial-gradient(#51B89A, #27A8BA);

  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #5bbd92, #0299d7);
  background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
  background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
  background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
  background: -o-linear-gradient(to right, #5bbd92, #0299d7);
  background-clip: text;
}
.activetag,
.nav-link.active {
  font-weight: bold !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .theme-color {
    color: $theme-color;
    background: transparent;
  }
}
