

/********* font size **********/
$spaceamounts: (8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 23, 24, 26, 28, 29, 30, 36, 50); // Adjust this to include the pixel amounts you need.
$sides: (size); // Leave this variable alone
 
@each $size in $spaceamounts {
@each $side in $sides {
.f#{str-slice($side, 0, 1)}#{$size} {
font-#{$side}: #{$size}px !important;
}
}
}

/********* font size **********/


/********* font weight ********/
.fw500{
    font-weight: 500;
}
/********* font weight ********/


/****** fonts *******/
@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('./assets/fonts/Helvetica.woff') format('woff');
 }
    

 .font-roboto{
    font-family: 'Roboto', sans-serif;
 }

/****** fonts *******/