.mobile-body{
    @extend .mt-56;
}
.br-15{
    border-radius: 15px;
}
.border-green{
    border: 1px solid #44acb2;
}
.menu-shadow{
    // box-shadow: 0px 0px 3px 0px #c5c5c552;
    // -webkit-box-shadow: 0px 0px 3px 0px #c5c5c552;
    // -moz-box-shadow: 0px 0px 3px 0px #c5c5c552;
    box-shadow:0px 0px 2px #ecebeb;
    -webkit-box-shadow: 0px 0px 2px #ecebeb;
    -moz-box-shadow: 0px 0px 2px #ecebeb;
    border: 0.5px solid #e5f4f4;
}
.btn-secondary{
    &:hover, &:focus{
        @extend .border-green;
        @extend .color-green;
        box-shadow: none;
        outline: 0
    }
}

.overflow-x-hidden{
    overflow-x: hidden;
}
.outline-0{
    outline: 0;
}

.opct-0{
    opacity: 0;
}
.opct-1{
    opacity:1 !important;
}
.w150px{
    width: 150px;
}

.rt-10{
    right: 10px;
}

.br-30{
    .modal-content{
        
   border-radius: 10px !important;
 
}
}

.border-theme{
    border-color: $green;
}

.br-10{
    border-radius: 10px !important;
}


.rt-0{
 right: 0px;
} 

.tp-32{
    top:32px;
}

.tp-14{
    top:14px;
}

.tp-20{
    top:20px;
}

.w-20px{
    width: 20px;
}
.h30{
    height: 30px;
}
.h46{
    height: 46px;
}
.br27{
    border-radius: 27px !important;
}

.card-three-d{
   background: white;
    border:1px solid $green;
    border-radius: 10px;
    box-shadow: 0px 14px 14px #ddd; 
    padding:  20px;

    .upcomming-title{
        padding:  20px 0px;
        padding-right: 70px;
        .user-img {
            height: 60px;
            width: 60px;
            right: 5px;
            top: 0px;
        }
    }
  .notes-list.list-group{
        
   overflow: hidden;
   .list-group-item {
       padding: 12px 0px;
       border:none !important;
       .user-icon{
            width: 16px;
            top: 11px;
            left: 5px;
       }

       &:last-child{
         padding-bottom: 0px !important;   
       }
       
    }
   }     
}



/************ 3d slider ****************/


#slider {

  height: 35vw;
  position: relative;
  perspective: 1000px;
  width: 100%;
  transform-style: preserve-3d;
  
[type=radio] {
    display: none;
  }

  label {
    margin: auto;
    width: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    transition: transform 0.4s ease;
  }
  
}

#slider 

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}


/************ 3d slider ****************/
.w-90{
    width: 90%;
}
.w-80{
 width: 80%;
}
.w-86{
    width: 86%;
}

.w-20{
    width: 20%;
}
.w-14{
    width: 14%;
}
.w-10{
    width: 10%;
}
.h19{
    height:19px;
}
.outline-0{
    outline: 0;
}
.resize-none{
    resize: none;
}
.via-search{
    line-height:20px;
    // width:15px;
}
.date-border .mydp{
    border-top: 0ch;
    border-right: 0ch;
    border-left: 0ch;
    border-bottom: 1px solid #2caab6 !important;
}
.date-error .mydp{
    border-bottom: 1px solid var(--danger)!important;
}

.incareview-user{
    
    .navbar {
        display: none;
    }

    .myorg {       
        &.overflow-x-hidden{
            overflow: initial;
        }
        
 .mobile-margin{
        margin-bottom: 10px;
    }
 }
}

.incareview-org{
    position: relative;

    .navbar {
        display: none;
    }


    .create-page.overflow-x-hidden{
        overflow: initial;
    }

    .mobile-body {
        margin-top:0px;
        &.p25 {
            padding: 15px;
        }
    }

  .myorg{
  
    .heading{
        &.mb-20{
          margin-bottom: 10px;
        }
    }


  &.mt-40{
       margin-top: 00px;
    }
  }
} 


.add-userscard{
    box-shadow: 0px 1px 6px #ddd;
    padding: 15px 20px;
    border-radius: 5px;
    position: relative;
    .myorg-dd .dropdown-menu.show {
        left: auto !important;
        right: -26px !important;
    }
}
.br10{
    border-radius: 10px;
}
.rotate-270{
    transform: rotate(270deg);
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.min-auto{
    min-width: auto;
}