<div class="header-container">
  <nav class="navbar app-header navbar-expand bg-theme navbar-dark">
    <a class="navbar-brand"
      ><img src="./assets/images/logo.png" alt="via" class="templatelogo"
    /></a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item position-relative">
          <ng-template #popTemplate>
            <!-- <div class="row m-0">
                  <div class="col-md-12">
                    
                  </div>
                    
                  <div class="col-md-6 col-6 text-right">
                    <span class="badge-notification inline-block fs15 text-center mt-6 ">{{notifyCount.count}}</span>
                  </div>
                </div> -->
            <label class="fs16 title-color">Notifications</label>
            <hr class="mt-2 mb-2" />
            <!-- <div class="row notification-list cpointer pt10 pb5 m-0" *ngFor="let appNotify of notififyList.entity | slice:0:3" [ngClass]="appNotify.isread === true ? 'selected': ''"  routerLink="/app/notifications">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-3 pl0 pr0  text-center">
                       <img src="./assets/images/t.png" class="notifypopimg" alt="notification image" >
                    </div>                   
                    <div class="col-xl-10  col-lg-9 col-md-10 col-7 pl0">
                       <p class="mb-7 notification-title fs13" >{{appNotify.description || "-"}}</p>
                       <span class="time-color float-right fs12">{{appNotify.createdOn}}</span>
                     </div> 
                  </div>  -->
            <div
              *ngIf="notificationList.length > 0"
              infinite-scroll
              [infiniteScrollDistance]="scrollDistance"
              [infiniteScrollThrottle]="throttle"
              [scrollWindow]="false"
              (scrolled)="onScrollDown()"
              class="notification-scroll"
            >
              <ng-container *ngFor="let notification of notificationList">
                <div
                  class="row notification-list cpointer pt10 pb10 m-0"
                  (click)="changeRead(notification)"
                  [ngStyle]="{
                    background: notification.isRead === 0 ? '#c6cece' : ''
                  }"
                >
                  <div
                    class="col-xl-2 col-lg-2 col-md-2 col-3 pl0 pr0 text-center d-flex align-items-center text-center"
                  >
                    <i class="fas fa-bell theme-color fs24 w-100"></i>
                  </div>
                  <div class="col-xl-10 col-lg-9 col-md-10 col-7 pl0">
                    <p class="mb-1 notification-title fs13">
                      {{ notification.message }}
                    </p>
                    <!-- <span class="time-color fs12">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span> -->
                    <!-- <span class="text-muted">10.00 AM | 12/02/2019</span> -->
                    <span class="text-muted">{{
                      notification.created_at | date: "h:mm a | dd/MM/yyyy"
                    }}</span>
                  </div>
                </div>
              </ng-container>
            </div>

            <!-- <div class="row notification-list cpointer pt10 pb10 m-0" >
                    <div class="col-xl-2 col-lg-2 col-md-2 col-3 pl0 pr0  text-center d-flex align-items-center text-center">
                      <i class="fas fa-bell theme-color fs24 w-100"></i>
                    </div>                   
                    <div class="col-xl-10  col-lg-9 col-md-10 col-7 pl0">
                       <p class="mb-1 notification-title fs13" >Mac Subscribed this plan </p>
                       <span class="time-color fs12">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
                     </div> 
                  </div> -->
            <div
              class="row notification-list cpointer pt10 pb10 m-0"
              *ngIf="notificationList.length === 0"
            >
              <span style="margin: 0 auto; color: var(--danger);">
                No notification
              </span>
            </div>
          </ng-template>
          <a
            class="nav-link cpointer"
            placement="bottom"
            [popover]="popTemplate"
            [outsideClick]="true"
            ><img
              src="./assets/images/menu-icons/notification.png"
              class="notificationimg"
            />
            <!-- <span class="badge-notification inline-block fs12 text-center mt-6 ">2</span> -->
          </a>
        </li>

        <li class="btn-group pl10" dropdown [insideClick]="true">
          <button
            dropdownToggle
            type="button"
            class="btn btn-headerdropdown dropdown-toggle border-0"
          >
            <img
              src="./assets/images/menu-icons/user-icon.png"
              alt="Incare"
              class="dropdown userdropdownimg mr-15"
            />
            <img
              src="./assets/images/menu-icons/dropdown-icon.png"
              width="12"
            />
          </button>
          <ul
            *dropdownMenu
            class="dropdown-menu incare-dropdown border-0"
            role="menu"
          >
            <li>
              <a class="">
                <div class="d-flex">
                  <div class="w-100">
                    <h1 class="fs14 mb-0 font-weight-normal">
                      {{ userInfo?.firstName }} {{ userInfo?.lastName }}
                    </h1>
                    <!-- <span class="fs10">New york, Ny.</span> -->
                  </div>
                  <div class="flex-shrink-1 mt--5">
                    <img
                      src="./assets/images/menu-icons/edit-icon.png"
                      [routerLink]="['/app/editprofile']"
                      width="15"
                      style="cursor: pointer;"
                    />
                  </div>
                </div>
              </a>
            </li>
            <li class="divider dropdown-divider mb-0"></li>
            <!--  <li dropdown> 
                <a dropdownToggle class="dropdown-item dropdown-toggle"
                ><img src="./assets/images/menu-icons/manage.png" width="20" class="mr-10">Manage <img src="./assets/images/menu-icons/uparrow.png" width="12" class="float-right pt8" style="cursor: pointer;"></a>
                <ul *dropdownMenu class="dropdown-menu position-relative border-0 shadow-none pl33  pt0 pb0 min-wid100" role="menu">
                    <li class="divider dropdown-divider mt-0 mb-0"></li>
                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/app/myorg']"><img src="./assets/images/menu-icons/my-org.png" width="20" class="mr-10">My Org</a></li>
                  <li class="divider dropdown-divider mt-0 mb-0"></li>
                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/app/manageusers']"><img src="./assets/images/menu-icons/users.png" width="15" class="mr-10">Users</a></li>
                </ul>
              </li>
              <li class="divider dropdown-divider mt-0 mb-0"></li> -->
            <li role="menuitem" *ngIf="userType != '1' && showSettings">
              <a class="header-item" routerLink="/app/settings">
                <img
                  src="assets/images/menu-icons/settings.png"
                  width="20"
                  class="mr-10"
                />Settings
              </a>
            </li>
            <li
              class="divider dropdown-divider mt-0 mb-0"
              *ngIf="userType != '1'"
            ></li>
            <li role="menuitem" (click)="logout()">
              <a class="header-item" href="javascript:void(0)"
                ><img
                  src="./assets/images/menu-icons/logout.png"
                  width="20"
                  class="mr-10"
                />Logout</a
              >
            </li>
          </ul>
        </li>

        <!-- <li class="btn-group nav-item pl10" dropdown [insideClick]="true" >
            <button dropdownToggle type="button" class="btn btn-headerdropdown dropdown-toggle border-0">
                    <img src="./assets/images/menu-icons/user-icon.png" alt="Incare" class="mr-10 dropdown userdropdownimg mr-15" >  <span class="fs14 d-none d-sm-inline-block"></span> <img src="./assets/images/menu-icons/dropdown-icon.png" width="12">
            </button>
            <ul  *dropdownMenu class="dropdown-menu border-0 dropdown-menu-right list-group list-group-flush" role="menu">
              <li>
                <div class="d-flex">
                  <div class="p-2 w-100">
                    <h1 class="fs18 mb-0">Sajeesh Kesavan</h1>
                    <span class="fs10">New york, Ny.</span>
                  </div>
                  <div class="p-2 flex-shrink-1"><img src="./assets/images/menu-icons/edit-icon.png" width="15"></div>
                </div>
              </li>
              <li role="menuitem" class="list-group-item" dropdown>
                  <button id="manage-basic" dropdownToggle type="button" class="btn btn-headerdropdown dropdown-toggle border-0"
                  aria-controls="dropdown-basic">
                  Manage <img src="./assets/images/menu-icons/dropdown-icon.png" width="12">
                  </button>
                
                  <ul id="manage-basic"  *dropdownMenu class="dropdown-menu border-0 dropdown-menu-right list-group list-group-flush" role="menu" aria-labelledby="button-basic">
                      <li>asdasd</li>
                  </ul>
              </li>
              <li role="menuitem" class="list-group-item"><a class="dropdown-item fs14 cpointer" href="javascript:void(0)" (click)="logout()">Logout</a></li>
            </ul>
         </li> -->
      </ul>
    </div>
  </nav>
</div>
