.notification-scroll{
    min-height: 64px;
    max-height: 191px;
    _max-height: 125px;
    overflow-y: auto;
}
.fs14{
    font-size: 14px;
}
.header-item {
    font-weight: 400;
    color: #212529;
    display: block;
    padding: 13px 0px;
    font-size: 13px;
    &:hover {
        text-decoration: none;
        background-color: #f8f9fa;
    }
}
.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #f4f5fa;
}
