<section>
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px" (click)="gotoBack()">
      <img src="assets/images/back.png" width="17">
    </a>
    <div class="m-auto text-white fs16">Media</div>
    <ul class="list-inline position-absolute right-20">
      <li class="position-relative list-inline-item mr-4" routerLink="/app/media">
        <img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px">
      </li>
      <li class="position-relative list-inline-item" (click)="addMedia()">
          <i class="fas fa-check text-white"></i>
      </li>
    </ul>
  </nav>
  <div class="mobile-body bg-white h-100vh">
    <form class="pt20 pl15 pr15">
      <div class="gradient-box">
        <div class="input-group search-field">
            <input type="text" class="form-control border-0 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label="" aria-describedby="basic-addon1" />
            <div class="input-group-append">
              <button class="btn bg-transparent btn-circle rounded-circle py-0 px-2" type="button"><img src="./assets/images/search.png" class="via-search"/>
              </button>
            </div>
        </div>
      </div>
    </form>
    <div class="pl25 pr25">
      <!-- <ul class="list-group list-group-flush add-media-list">
        <li class="list-group-item py-4">
          
          <div class="custom-control custom-checkbox z-9">
            <input  type="checkbox" class="custom-control-input" id="img">
            <label class="custom-control-label c-pointer pt4" for="img"></label>
          </div>
          <div class="media">
            <img src="./assets/images/user.jpg" class="align-self-center mr-3">
            <div class="media-body">
              <h5 class="mt-0">Center-aligned media</h5>
            </div>
          </div>
        </li>
      </ul> -->
      <ul class="list-group border-0 p-0">
        <ng-container *ngFor="let media of mediaList">
          <li class="list-group-item p-0 media-patient-info border-top-0 border-right-0 border-left-0">
            <div class="custom-control custom-checkbox z-9 float-left">
              <input  type="checkbox" class="custom-control-input" (change)="mediaChange($event.target.checked,media.id)" id="{{media.id}}">
              <label class="custom-control-label c-pointer pt4" for="{{media.id}}"></label>
            </div>
            <div class="patient-profile-info">
              <img src="./assets/images/user.jpg"  alt="patient-profile-img" class="position-absolute avator br-10" >
              <div class="patient-info grey-color fs14 position-relative">
                  <h1 class="color-black fs16 text-truncate">{{media.name}}</h1>
              </div>
            </div>
          </li>
        </ng-container>
          <!-- <li class="list-group-item p-0 media-patient-info border-top-0 border-right-0 border-left-0">
              <div class="custom-control custom-checkbox z-9 float-left">
                <input  type="checkbox" class="custom-control-input" id="img">
                <label class="custom-control-label c-pointer pt4" for="img"></label>
              </div>
              <div class="patient-profile-info">
                <img src="./assets/images/user.jpg"  alt="patient-profile-img" class="position-absolute avator br-10" >
                <div class="patient-info grey-color fs14 position-relative">
                    <h1 class="color-black fs16 text-truncate">Physiotherapy Guide</h1>
                  </div>
              </div>
            </li> -->
        </ul>
    </div>
  </div>
</section>