<section>
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Do's and Don'ts</div>
      <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item" routerLink="/app/menu">
          <a ><img src="./assets/images/incare-mobile/home@2x.png" class="w-19px"></a>
        </li>
      </ul>
  
    </nav>
    <div class="mobile-body bg-white h-100vh">


      <!-- Date list -->
       <!-- <ul class="dosdonts-list list-group mt-70 mx-2" *ngIf="navigateFlag == 1">
         <li class="list-group-item unread-dosdonts py-4" *ngFor="let dosDonts of dosDontsInfo"  (click)="navigateList(2, dosDonts['data'])">
            <span class="dosdontst-text fs14">{{dosDonts.postDate | date:'dd MMM yyyy'}}</span>
            <span class=" position-absolute rt-10 font-weight-bold fs16 nxt-txt" >
                <i class="fas fa-chevron-right theme-color"></i>
            </span>
         </li>
       </ul> -->
      <!-- Date list -->

      <!-- do's dont's list -->
       <!-- <ul class="dosdonts-list with-icon list-group mt-70 mx-2" *ngIf="navigateFlag == 2"> -->
        <ul class="dosdonts-list with-icon list-group mt-70 mx-2">
          <li class="list-group-item py-4" *ngFor="let dosandDonts of dosDontsInfo" (click)="goToInstruction(dosandDonts['data'])">
              <img src="./assets/images/incare-mobile/recovered@2x.png" alt="dosdonts-img" class="position-absolute user-icon w-23px">
              <span class="dosdonts-text fs14">{{dosandDonts.careTeamName}} Team</span>
              <span class=" position-absolute rt-10 font-weight-bold fs16 nxt-txt" >
                  <i class="fas fa-chevron-right theme-color"></i>
              </span>
           </li>
        </ul>
     <!-- do's dont's list -->
 
    </div>
  </section>



  
  <!-- bottom tabs -->
  <app-bottomnav></app-bottomnav>
<!-- bottom tabs -->
