.btn-theme-gradient{
    padding: 1px 10px;
    width: 83px;
    font-size: 14px;
}
.w-71{
    float: left;
    margin-right: 5px;
    width: 71%;
}

.deletemedia{
	width: 25px;
    float: right;
    position: relative;
    top: -30px;
}
.editmedia{
	width: 25px;
    float: right;
    position: relative;
    top: -30px;
}
.media-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}
.media-title-container {
    width: 60%;
}
