<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/tags">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Tag Management</div>
      <ul class="list-inline position-absolute right-20">
        <!-- <li class="position-relative list-inline-item mr-4" >
                  <a><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
                 </li> -->
        <li class="position-relative list-inline-item">
          <a>
            <img src="./assets/images/incare-mobile/Path@2x.png" class="w-22px">
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="mobile-body bg-white mobile-view-hgt">
    <div class="patient-profile-info pb16 incareview-mobile-view">
      <div class="grey-color fs12">
        <!-- <h1 *ngIf="tagInfoList && tagSubmit" class="color-black fs20 font-weight-bold">{{tagInfoList.name}}</h1> -->
        <!-- <input *ngIf="!tagSubmit" class="form-control border-theme br-10 w-71" type="text"  name="name" [(ngModel)]="tagData.name" (input)="validateName($event.target.value, 'name')" placeholder=" Enter Tag Name" style="height: 31px;" required> -->

        <div class="input-group" *ngIf="!tagSubmit">
          <input *ngIf="!tagSubmit"
            class="form-control border-theme border-left-0 border-right-0 border-top-0 pl0 rounded-0" type="text"
            name="name" [(ngModel)]="tagData.name" (input)="validateName($event.target.value, 'name')"
            (keypress)="isCheckAlpha($event.keyCode)" placeholder="Enter Tag Name" required>
          <div class="input-group-append">
            <span class="input-group-text bg-transparent border-0 pl-10 pr-0">
              <!-- <img *ngIf="tagSubmit && showCreate" src="./assets/images/menu-icons/edit-icon.png" alt="edit-image" class="edit-icon-profile position-absolute" (click)="editTagName('name')"> -->
              <!-- <button *ngIf="!tagSubmit && showCreate" type="button" class="btn btn-theme-gradient text-white shadow  mt-1" (click)="createTagName('name')">Save</button> -->
              <span *ngIf="!tagSubmit && showCreate" (click)="createTagName('name')">
                <img src="./assets/images/tick.png" width="20">
              </span>
            </span>
          </div>
        </div>
        <div class="input-group" *ngIf="tagSubmit">
          <h1 *ngIf="tagInfoList && tagSubmit" class="color-black fs20 font-weight-bold mb-0">{{tagInfoList.name}}</h1>
          <div class="input-group-append">
            <span class="input-group-text bg-transparent border-0">
              <img *ngIf="tagSubmit && showCreate" src="./assets/images/menu-icons/edit-icon.png" alt="edit-image"
                class="edit-icon-profile  c-pointer" (click)="editTagName('name')">
              <img *ngIf="tagSubmit && showCreate" src="./assets/images/menu-icons/delete.png" alt="edit-image"
                class="edit-icon-profile position-absolute c-pointer" (click)="deleteTag(confirmTagDelete,tagInfoList)">
              <!-- <button *ngIf="!tagSubmit && showCreate" type="button" class="btn btn-theme-gradient text-white shadow  mt-1" (click)="createTagName('name')">Save</button> -->
            </span>
          </div>
        </div>
        <!-- <span>
                 <button class="btn btn-theme-gradient text-white shadow">Add</button>
              </span> -->
      </div>
    </div>
    <div class="custom-tabs-head">
      <ul class="nav nav-pills tag-pills">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': tabs == 1}" (click)="openTab(1)">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': tabs == 2}" (click)="openTab(2)">Do's & Donts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': tabs == 3}" (click)="openTab(3)">Medications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': tabs == 4}" (click)="openTab(4)">Media</a>
        </li>
      </ul>
    </div>
    <div class="pb100" *ngIf="tagId">

      <!-- Details tab  -->
      <div *ngIf="tabs == 1" class="pt10 pl20 pr20 pb20">
        <h1 class="text-right mt-0 mb-0">
          <img *ngIf="tagSummary && showCreate" src="./assets/images/menu-icons/edit-icon.png" alt="edit-image"
            width="20" (click)="editTagName('summary')">
          <!-- <img *ngIf="!tagSummary" src="./assets/images/menu-icons/save-icon.png" alt="edit-image" width="20" (click)="createTagName('summary')"> -->
          <!-- <button *ngIf="!tagSummary && showCreate" type="button" class="btn btn-theme-gradient btn-tag-pad text-white shadow mb-20 incareview-mobile-view" (click)="createTagName('summary')">Save</button>    -->
          <span *ngIf="!tagSummary && showCreate" (click)="createTagName('summary')" class="incareview-mobile-view">
            <img src="./assets/images/tick.png" width="20">
          </span>
          <!-- <button *ngIf="tagSummary" type="button" class="btn btn-theme-gradient text-white shadow  mb-20" (click)="editTagName('summary')">Edit</button> -->

        </h1>

        <p *ngIf="tagInfoList && tagSummary" [innerHTML]="tagInfoList.summary"></p>

        <app-ngx-editor [placeholder]="'Summary'" [spellcheck]="true" [(ngModel)]="tagData.summary" [height]="'400px'"
          [toolbar]="config.toolbar" (ngModelChange)="validateName($event, 'summary')" *ngIf="!tagSummary">
        </app-ngx-editor>

        <!--  <textarea *ngIf="!tagSummary" [(ngModel)]="tagData.summary" (ngModelChange)="validateName($event, 'summary')" class="form-control border-theme br-10 w-100 bg-transparent tag-height mt-30" rows="4" placeholder="Enter Summary Report" [disabled]="!showCreate"></textarea> -->
        <div *ngIf="tagErrors.summary" class="text-danger mt-1">
          <p class="mb-0">Summary is required</p>
        </div>
        <div *ngIf="tagErrors.summarylengthexceed" class="text-danger mt-1">
          <p class="mb-0">Summary content exceeds the maximum character limit</p>
        </div>
        <h1 class="text-right mb-0 incareview-desktop-view">
          <button *ngIf="!tagSummary && showCreate" type="button"
            class="btn btn-theme-gradient btn-tag-pad text-white shadow mb-20 mt-20"
            (click)="createTagName('summary', 'summarylengthexceed')">Add Summary</button>
        </h1>
      </div>

      <!-- Notes tab  -->
      <div *ngIf="tabs == 2" class="p20">
        <ul class="list-group border-0 mb-3 fs12 dos-checkbox">
          <li class="list-group-item border-0 px-0 py-1 bg-transparent">
            <h3 class="d-inline-block color-green2 font-weight-bold fs14 w-90">DO's</h3>
            <span class="w-10" (click)="addDoInstruction()" *ngIf="showCreate">
              <img src="./assets/images/add-green.png" class="float-right w-20px">
            </span>
          </li>
          <ng-container *ngFor="let dos of DosLists">
            <li class="list-group-item border-0 px-0 py-1 bg-transparent">
              <!-- <div class="custom-control custom-checkbox text-truncate w-90 float-left">
                              <!- <input  type="checkbox" class="custom-control-input" id="{{dos.id}}">
                              <label class="custom-control-label c-pointer pt4" > </label> ->
                          </div> -->

              <div class="d-flex">
                <div class="w-80">
                  <span class="font-roboto ml-10 tag-font-size">
                    {{dos.message}}
                  </span>
                </div>
                <div class="w-20 float-left ie-pad" *ngIf="showCreate">
                  <img src="./assets/images/cancel.png" class="float-right w-20px pt3 ml-2 c-pointer"
                    (click)="openDosDontRemoveModal(deleteDosDont, 'Dos', dos.id)">
                  <span *ngIf="!isEdit">
                    <i class="fas fa-pencil-alt float-right checkmark c-pointer" (click)="editDosDonts('Dos', dos)"></i>
                  </span>
                </div>

              </div>

            </li>
          </ng-container>
          <div *ngIf="DosLists.length === 0" style="text-align: center;color: var(--red);">DO'S List is Empty </div>
          <!-- <li class="list-group-item border-0 px-0 py-1">
                          <div class="custom-control custom-checkbox text-truncate w-90 float-left">
                           <input  type="checkbox" class="custom-control-input" id="dos">
                           <label class="custom-control-label c-pointer pt4" for="dos">
                               <span class="font-roboto ml-10">
                                 Avoid overstreching with your arms 
                               </span>
                           </label>
                       </div>
                       <span class="w-10 float-left"><img src="./assets/images/cancel.png" class="float-right w-20px pt3"></span>
                       </li> -->

          <li class="list-group-item border-0 px-0 py-1 bg-transparent" *ngIf="showDoInstruction && showCreate">
            <!-- <div class="custom-control custom-checkbox text-truncate float-left">
                           <input  type="checkbox" class="custom-control-input" id="newDos">
                           <label class="custom-control-label c-pointer w-100 pt4" for="newDos">
                            
                           </label>
                          
                        </div> -->

            <div class="d-flex">
              <div class="w-80 float-left">
                <input type="text" [(ngModel)]="DosMessage"
                  class="form-control border-bottom fs12 rounded-0  ml-10 border-top-0 border-right-0 border-left-0 pl0 h19 outline-0 bg-transparent ie-hgt"
                  placeholder="Type your new instructions here" maxlength="200"
                  (keydown)="keyDownFunction($event, 'Dos')" />
              </div>
              <div class="w-20 float-left ie-pad">
                <img src="./assets/images/cancel.png" class="float-right w-20px pt3 ml-2 c-pointer" (click)="closeDos()"
                  *ngIf="DosMessage">

                <span>
                  <i class="fas fa-check float-right checkmark c-pointer" (click)="addDos('Dos')"></i>
                </span>
              </div>
            </div>
          </li>

        </ul>


        <ul class="list-group border-0 fs12 dos-checkbox">
          <li class="list-group-item border-0 px-0 py-1 bg-transparent">
            <h3 class="d-inline-block color-red2 font-weight-bold fs16">DONT's</h3>
            <img src="./assets/images/add-red.png" class="float-right w-20px" (click)="addDontsInstruction()"
              *ngIf="showCreate">
          </li>
          <ng-container *ngFor="let donts of DontsList">
            <li class="list-group-item border-0 px-0 py-1 bg-transparent">
              <!-- <div class="custom-control custom-checkbox text-truncate ">
                                 <!- <input  type="checkbox" class="custom-control-input" id="{{donts.id}}">
                                 <label class="custom-control-label c-pointer pt4" for="{{donts.id}}">  </label> ->
                           </div> -->

              <div class="d-flex">
                <div class="w-80">
                  <span class="font-roboto ml-10 tag-font-size">
                    {{donts.message}}
                  </span>
                </div>

                <div class="w-20 float-left ie-pad" *ngIf="showCreate">
                  <img src="./assets/images/cancel.png" class="float-right w-20px pt3 ml-2 c-pointer"
                    (click)="openDosDontRemoveModal(deleteDosDont, 'Donts', donts.id)">
                  <span *ngIf="!isEdit">
                    <i class="fas fa-pencil-alt float-right checkmark c-pointer"
                      (click)="editDosDonts('Donts', donts)"></i>
                  </span>
                </div>
              </div>
            </li>
          </ng-container>
          <div *ngIf="DontsList.length === 0" style="text-align: center;color: var(--red);">DONT'S List is Empty </div>
          <!-- <li class="list-group-item border-0 px-0 py-1">
                           <div class="custom-control custom-checkbox text-truncate w-90 float-left">
                              <input  type="checkbox" class="custom-control-input" id="dos">
                              <label class="custom-control-label c-pointer pt4" for="dos">
                                 <span class="font-roboto ml-10">
                                    Avoid overstreching with your arms 
                                 </span>
                              </label>
                        </div>
                        <span class="w-10 float-left"><img src="./assets/images/cancel.png" class="float-right w-20px pt3"></span>
                        </li> -->

          <li class="list-group-item border-0 px-0 py-1  bg-transparent" *ngIf="showDontsInstruction && showCreate">
            <!-- <div class="custom-control custom-checkbox text-truncate">
                              <input  type="checkbox" class="custom-control-input" id="newIns">
                              <label class="custom-control-label c-pointer w-100 pt4" for="newIns">
                                 
                              </label>
                           </div> -->
            <div class="d-flex">
              <div class="w-80 float-left">
                <input type="text" [(ngModel)]="DontsMessage"
                  class="form-control border-bottom fs12 rounded-0  ml-10 border-top-0 border-right-0 border-left-0 pl0 h19 outline-0 bg-transparent ie-hgt"
                  placeholder="Type your new instructions here" maxlength="200"
                  (keydown)="keyDownFunction($event, 'Donts')" />
              </div>
              <div class="w-20 float-left ie-pad">
                <img src="./assets/images/cancel.png" class="float-right w-20px pt3 c-pointer ml-2"
                  (click)="closeDonts()" *ngIf="DontsMessage">
                <span>
                  <i class="fas fa-check float-right checkmark c-pointer" (click)="addDos('Donts')"></i>
                </span>
              </div>
            </div>
          </li>
        </ul>

      </div>
      <!-- /Notes tab  -->

      <!-- Meds tab  -->
      <div *ngIf="tabs == 3" class="p20 custom-tabs-body">
        <accordion>
          <accordion-group [isOpen]="medicationsOpen" (click)="medicationsOpen=!medicationsOpen">
            <div accordion-heading>
              <h2 class="fs18 color-dark-black d-inline-block"> Medications
              </h2>

              <ul class="list-inline  float-right grey-color" *ngIf="showCreate">
                <li class="list-inline-item mr-4" (click)="gotoaddMed()">
                  <img src="./assets/images/add.png" width="23" class="mt--13 c-pointer">
                </li>
                <li class="list-inline-item">
                  <i *ngIf="medicationsOpen" class="fas fa-chevron-up pt5"></i>
                  <i *ngIf="!medicationsOpen" class="fas fa-chevron-down pt5"></i>
                </li>
              </ul>
            </div>
            <ul class="via-history-list list-group fs16">
              <ng-container *ngFor="let medList of medsList">
                <li class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent tag-border">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="grey-color2 mb-2">
                        <span class="d-block">
                          <span class="desktop-bold-text color-dark-black">Group:</span> {{medList.groupName}}</span>
                        <span class="d-block">
                          <span class="desktop-bold-text color-dark-black">Generic Name:</span>
                          {{medList.genericName}}</span>
                        <span class="d-block text-truncate">
                          <span class="desktop-bold-text color-dark-black">Medication Use:</span>
                          {{medList.medicationUse}}</span>
                        <span class="d-block">
                          <span class="desktop-bold-text color-dark-black">Comments:</span> {{medList.comments}}.</span>
                      </div>
                    </div>
                    <div class="col-md-3 tag-med-top text-right">
                      <div class="theme-color font-weight-bold">
                        <span (click)="editMeds(medList)" style="cursor: pointer;">Edit</span> |
                        <span (click)="deleteMeds(confirmTagMedDelete, medList)" style="cursor: pointer;">Delete</span>
                      </div>
                    </div>
                  </div>


                </li>
              </ng-container>
              <li *ngIf="medsList.length === 0"
                class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent tag-border text-danger text-center">
                No Record Found.</li>
            </ul>
          </accordion-group>
        </accordion>
      </div>
      <!-- /Meds tab  -->
      <!-- Media tab  -->
      <div *ngIf="tabs == 4">
        <div class="">

          <div class="container-fluid overflow-hidden">
            <span class="w-10" *ngIf="tagInfoList && mediaList.length === 0 && showCreate">
              <img class="float-right w-18px c-pointer mt-20" src="./assets/images/add.png" (click)="gotoAddMedia()">
            </span>
            <ng-container *ngFor="let medialist of mediaList;let first = first;let last = last;let i = index">
              <h1 *ngIf="first" class="color-dark-black fs24 mt-2 pt-4 mb-0">
                {{medialist.mediaType | titlecase}}
                <span class="w-10" *ngIf="showCreate">
                  <img class="float-right w-20px" src="./assets/images/add.png" (click)="gotoAddMedia()">
                </span>
              </h1>
              <!-- Media Video slider -->
              <ul
                class="slider-card list-unstyled list-inline fs12 media-slides grey-color2 media-scroll patient-margin"
                [ngClass]="{'dont-scroll' : dontScroll}">
                <ng-container *ngIf="medialist.media.length>0">
                  <ng-container *ngFor="let media of medialist.media">
                    <li class="list-inline-item position-relative bg-white">
                      <!-- <img src="./assets/images/user.jpg" alt="plus-image" class="media-img" [routerLink]="['/media-ivideo', media.id]"> -->
                      <ng-container *ngIf="this.media.type === 'image'">
                        <img src="{{mediaService.imageURL}}{{media.keyName}}" class="media-form-img w-100"
                          style="height: 143px;object-fit: cover;" (click)="redirectPage(media.id)">
                      </ng-container>

                      <ng-container *ngIf="this.media.type === 'document'">
                        <img src="./assets/images/incare-mobile/pdf.png" alt="plus-image"
                          class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                          *ngIf="media.format === 'pdf'">
                        <img src="./assets/images/incare-mobile/excel.png" alt="plus-image"
                          class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                          *ngIf="media.format === 'xlsx' || media.format === 'xls' || media.format === 'csv'">
                        <img src="./assets/images/incare-mobile/word.png" alt="plus-image"
                          class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                          *ngIf="media.format === 'doc' || media.format === 'docx'">
                        <img src="./assets/images/incare-mobile/ppt.png" alt="plus-image"
                          class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                          *ngIf="media.format === 'ppt' || media.format === 'pptx'">
                        <img src="./assets/images/incare-mobile/zip.png" alt="plus-image"
                          class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                          *ngIf="media.format === 'zip' || media.format === 'rar'">
                        <img src="./assets/images/incare-mobile/document.png" alt="plus-image"
                          class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                          *ngIf="media.format != 'zip' && media.format != 'rar' && media.format != 'pdf' && media.format != 'xlsx' && media.format != 'xls' && media.format != 'csv' && media.format != 'doc' && media.format != 'docx' && media.format != 'ppt' && media.format != 'pptx'">
                      </ng-container>
                      <ng-container *ngIf="this.media.type === 'text'">
                        <img src="./assets/images/incare-mobile/txt.png" alt="plus-image"
                          class="media-img  obj-fit-contain" (click)="redirectPage(media.id)">
                      </ng-container>
                      <ng-container *ngIf="this.media.type === 'video'">
                        <img src="./assets/images/incare-mobile/video.png" alt="plus-image"
                          class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                          *ngIf="!media.thumbnailUrl">
                        <img src="{{mediaService.imageURL}}{{media.thumbnailUrl}}" class="media-form-img w-100"
                          style="height: 143px;object-fit: cover;" (click)="redirectPage(media.id)"
                          *ngIf="media.thumbnailUrl">
                      </ng-container>
                      <ng-container *ngIf="this.media.type === 'audio'">
                        <img src="./assets/images/incare-mobile/audio.png" alt="plus-image" class="media-img"
                          (click)="redirectPage(media.id)">
                      </ng-container>
                      <ng-container *ngIf="this.media.type === 'flashCard'">
                        <img src="./assets/images/incare-mobile/flashcard.png" alt="plus-image"
                          (click)="redirectPage(media.id)">
                      </ng-container>
                      <ng-container
                        *ngIf="this.media.type !== 'video' && this.media.type !== 'image' && this.media.type !== 'document' && this.media.type !== 'text' && this.media.type !== 'audio' && this.media.type !== 'flashCard'">
                        <img src="./assets/images/incare-mobile/document.png" alt="plus-image" class="media-img"
                          (click)="redirectPage(media.id)">
                      </ng-container>

                      <div class="position-relative">
                        <div class="slidecard-content media-title-container">
                          <h3 class="fs12  fs12 mt-3 text-truncate mb-2 color-dark-black"> {{media.name}} </h3>
                          <!-- <span class="grey-color3">11 Views</span> -->
                        </div>
                        <a href="javascript:void(0)" title="Edit Media" (click)="editMedia(updateMedia,media)"
                          *ngIf="showCreate">
                          <img src="./assets/images/menu-icons/edit-icon.png" alt="edit media" class="editmedia"> </a>
                        <a href="javascript:void(0)" title="Delete Media"
                          (click)="deleteMedia(confirmMediaDelete,media)" *ngIf="showCreate">
                          <img src="./assets/images/menu-icons/delete.png" alt="more-img" class="deletemedia"> </a>

                        <!-- 3 dots img -->
                        <!-- <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" class="position-absolute more-icon" (isOpenChange)="isOpenChange()">
                                 <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" class="position-absolute more-icon" (isOpenChange)="isOpenChange()" *ngIf="showCreate">
                                   <a href id="basic-link" dropdownToggle (click)="false"
                                      aria-controls="basic-link-dropdown">
                                      <img src="./assets/images/more.png" alt="more-img" class="more-img">
                                     </a>
                                   <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
                                       role="menu" aria-labelledby="basic-link">
                                     <li>
                                       <a class="dropdown-item" href="#">
                                         <img src="./assets/images/media-share.png" alt="Share"> Share
                                       </a>
                                     </li>
                                     <li>
                                       <a class="dropdown-item" href="javascript:void(0)" (click)="updateMedia(media)">
                                         <img src="./assets/images/media-settings.png" alt="Edit"> Edit
                                       </a>
                                     </li>
                                     
                                     <li>
                                       <a class="dropdown-item" href="javascript:void(0)" (click)="deleteMedia(media)">
                                         <img src="./assets/images/media-delete.png" alt="Delete"> Delete
                                       </a>
                                     </li>
                                   </ul>
                                 </span> -->

                        <!-- /3 dots img -->
                      </div>
                    </li>
                  </ng-container>
                </ng-container>
                <div *ngIf="medialist.media.length === 0" style="display: flex;">
                  <span style="margin: 0 auto;color: var(--danger);">
                    {{medialist.mediaType}} List is Empty
                  </span>
                </div>


              </ul>
              <hr class="desktop-middle-border mt-35 mb-35">
              <h1 *ngIf="!last" class="color-dark-black fs24 mb-4 w-100">{{mediaList[i+1].mediaType | titlecase}}
                <span class="w-10">
                  <img class="float-right w-20px" src="./assets/images/add.png" (click)="gotoAddMedia()">
                </span>
              </h1>

            </ng-container>

            <!-- Media Video slider -->




          </div>
          <p class="text-danger text-center" *ngIf="mediaList.length === 0">No Record Found</p>



        </div>
      </div>
      <!-- Media tab  -->
      <div *ngIf="!tagId">
        <p class="text-danger"> No Record Found</p>
      </div>
    </div>
  </div>
</section>

<ng-template #addMedicationModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left fs26">Add Medication</h4>
    <button type="button" class="close pull-right color-green-text opct-1" aria-label="Close" (click)="modalRef.hide()">
      <img src="assets/images/cross.png" width="25">
    </button>
  </div>
  <div class="modal-body p0">
    <app-covid-addmedication [currentTagID]="changeTagId" [editMediaID]="editMediaID"></app-covid-addmedication>
  </div>
</ng-template>

<ng-template #createTagMediaModal>
  <div class="modal-body">
    <app-media [tagID]="changeTagId"></app-media>
  </div>
</ng-template>

<ng-template #mediaFormTagModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left fs26">{{mediaType === 'flashCard' ? 'Add Flash Card' : 'Upload Media'}}</h4>
    <button type="button" class="close pull-right color-green-text opct-1" aria-label="Close" (click)="modalRef.hide()">
      <img src="assets/images/cross.png" width="25">
    </button>
  </div>
  <div class="modal-body">
    <app-media-form [tagID]="changeTagId" [isSpecial]="true" [mediaType]="mediaType">
    </app-media-form>
  </div>
</ng-template>

<!-- bottom tabs -->
<div class="incareview-mobile-view">
  <app-bottomnav></app-bottomnav>
</div>
<!-- bottom tabs -->



<!---->




<ng-template #addmedication>
  <div class="modal-header">
    <h4 class="modal-title pull-left fs20">Add Medication</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" novalidate>

      <div class="form-group mb-4">
        <label class="mb-0">Medicine Group</label>
        <select class="custom-select my-select">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="form-group mb-4">
        <label class="mb-0">Generic Name</label>
        <select class="custom-select my-select">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="form-group mb-4">
        <label class="mb-0">Amount in Mg</label>
        <input type="text" class="form-control" placeholder="" required>
      </div>
      <div class="form-group mb-4">
        <label class="mb-0">Medication Uses</label>
        <input type="text" class="form-control" placeholder="" required>
      </div>
      <div class="form-group mb-4">
        <label class="mb-0">Comments</label>
        <textarea class="form-control" aria-label="With textarea" placeholder="" rows="3" required></textarea>
      </div>


      <div class="row">
        <div class="col-lg-8">
          <div class="custom-control custom-checkbox text-truncate">
            <input type="checkbox" class="custom-control-input" id="dos">
            <label class="custom-control-label c-pointer" for="dos">
              <span class="fs18 font-roboto">
                Morning
              </span>
            </label>
          </div>
          <div class="custom-control custom-checkbox text-truncate">
            <input type="checkbox" class="custom-control-input" id="dos">
            <label class="custom-control-label c-pointer" for="dos">
              <span class="fs18 font-roboto">
                Afternoon
              </span>
            </label>
          </div>
          <div class="custom-control custom-checkbox text-truncate">
            <input type="checkbox" class="custom-control-input" id="dos">
            <label class="custom-control-label c-pointer" for="dos">
              <span class="fs18 font-roboto">
                Night
              </span>
            </label>
          </div>
          <div class="custom-control custom-checkbox text-truncate">
            <input type="checkbox" class="custom-control-input" id="dos">
            <label class="custom-control-label c-pointer" for="dos">
              <span class="fs18 font-roboto">
                Others
              </span>
            </label>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group mb-4 mt-4">
            <label class="mb-0">others Please Specify </label>
            <input type="text" class="form-control" placeholder="" required>
          </div>
        </div>
      </div>

      <div class="custom-control custom-checkbox text-truncate">
        <input type="checkbox" class="custom-control-input" id="dos">
        <label class="custom-control-label c-pointer" for="dos">
          <span class="fs18 font-roboto">
            Before Food
          </span>
        </label>
      </div>
      <div class="custom-control custom-checkbox text-truncate">
        <input type="checkbox" class="custom-control-input" id="dos">
        <label class="custom-control-label c-pointer" for="dos">
          <span class="fs18 font-roboto">
            After Food
          </span>
        </label>
      </div>
      <div class="text-center mt-30 mb-20">
        <button type="submit" class="btn btn-primary shadow px-3">Add Medication</button>
      </div>
    </form>
  </div>


</ng-template>

<!---->


<ng-template #deleteDosDont>
  <div class="modal-body text-center">
    <!-- <i class="fas fa-times float-right" (click)="modalRef.hide()"></i>
          <div class="clearfix"></div> -->
    <!-- <h2 class="dark-black fs20">Delete {{format}} <span class="font-weight-bold">,</span></h2> -->
    <p class="dark-black mt-30 mb-30 fs20">Are you sure you want to delete this {{format}}?</p>
    <!-- <div class="text-center">
            <button type="button" class="btn btn-theme-gradient text-white shadow mb-30" style="margin-right: 25px;background: var(--dark);" (click)="modalRef.hide()">No</button>
          <button type="button" class="btn btn-theme-gradient text-white shadow mb-30" (click)="deleteDos(format, deletedId)">Yes</button>
        </div> -->
    <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="modalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteDos(format, deletedId)">Delete</button>
  </div>
</ng-template>

<ng-template #confirmMediaDelete>
  <div class="modal-body text-center">
    <p class="mt-40 mb-30 fs20">Are you sure, you want to delete this {{selectMedia.name}} Media?</p>
    <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelDelete()">Cancel</button>
    <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteMediaInfo()">Delete</button>
  </div>
</ng-template>
<ng-template #confirmTagMedDelete>
  <div class="modal-body text-center">
    <p class="mt-40 mb-30 fs20">Are you sure, you want to delete this {{selectMeds.genericName}} Medication?</p>
    <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelMeds()">Cancel</button>
    <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteMedsInfo()">Delete</button>
  </div>
</ng-template>


<ng-template #confirmTagDelete>
  <div class="modal-body text-center">
    <p class="mt-40 mb-30 fs20">Are you sure, you want to delete this {{tagInfoList.name}} Tag?</p>
    <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelDelete()">Cancel</button>
    <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteTagInfo()">Delete</button>
  </div>
</ng-template>

<!-- Edit Media  -->
<ng-template #updateMedia>
  <div class="modal-header">
    <h4 class="modal-title pull-left color-grey fs20">Edit Media</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeMediaEdit()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" [formGroup]="mediaForm" (ngSubmit)="editMediaInfo()" novalidate>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text">
            Title
          </span>
        </div>
        <input type="text" class="form-control" formControlName="title" placeholder="Title">
      </div>
      <div *ngIf="title.errors" class="text-danger mt-1">
        <p class="mb-0" *ngIf="title.errors.required">Title is required</p>
      </div>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text">
            Description
          </span>
        </div>
        <input type="text" class="form-control" formControlName="description" placeholder="Description">
      </div>
      <div *ngIf="description.errors" class="text-danger mt-1">
        <p class="mb-0" *ngIf="description.errors.required">Description is required</p>
      </div>
      <div class="text-center mt-30 mb-20">
        <button type="submit" class="btn btn-primary shadow">Update</button>
      </div>
    </form>
  </div>
</ng-template>