<section>
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
        <i class="fas fa-bars text-white"></i>
        <!-- <img src="assets/images/back.png" width="17"> -->
      </a>
      <div class="m-auto text-white fs16">Appointments</div>
  
    </nav>
    <div class="mobile-body bg-white h-100vh px-4 ask-doctor appointments overflow-x-hidden">
 
          <tabset>
            <tab heading="Upcoming">
                
          

              <section id="slider" class="mt-3">
                  <input type="radio" name="slider" id="s1">
                  <input type="radio" name="slider" id="s2" checked>
                  <input type="radio" name="slider" id="s3">
                  <input type="radio" name="slider" id="s4">
                  <input type="radio" name="slider" id="s5">
                  <label for="s1" id="slide1">
                      <div class="card-three-d">

                          <span class="fs14 grey-color2">In 3 Days</span>
        
         
                          <div class="upcomming-title position-relative">
                                 
                               <h1 class="color-dark-black fs16">Consultation with <span class="d-inline-block font-weight-bold">Dr. Susana</span></h1>
                             
                              <img src="./assets/images/user.jpg" class="user-img rounded-circle position-absolute mt-2">
        
                          </div>
        
                          <ul class="notes-list list-group">
                              <li class="list-group-item" (click)="openDetailedNotesModal(notesDetail)">
                                <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon">
                                <span class="notest-text fs13">Dr. Ross Taylor</span>
                              </li>
                              <li class="list-group-item">
                                <img src="./assets/images/menu-icons/appointments-active.png" alt="notes-img" class="position-absolute user-icon">
                                <span class="notest-text fs13">November 10, 2019 </span>
                              </li>  
                              <li class="list-group-item">
                                  <img src="./assets/images/menu-icons/clock.png" alt="notes-img" class="position-absolute user-icon pt-1">
                                  <span class="notest-text fs13">12.30 PM</span>
                               </li>
                               <li class="list-group-item">
                                  <img src="./assets/images/menu-icons/contact-active.png" alt="notes-img" class="position-absolute user-icon">
                                  <span class="notest-text fs13">+1 90909099090</span>
                               </li>
                               
                               <li class="list-group-item">
                                  <img src="./assets/images/location.png" alt="notes-img" class="position-absolute user-icon">
                                  <span class="notest-text fs13">
                                    Cork University Hospital
                                    Public Center, Crock
                                  </span>
                               </li>
                          </ul>
                      </div>
                  </label>
                  <label for="s2" id="slide2">
                      <div class="card-three-d">

                          <span class="fs14 grey-color2">In 3 Days</span>
        
         
                          <div class="upcomming-title position-relative">
                                 
                               <h1 class="color-dark-black fs16">Consultation with <span class="d-inline-block font-weight-bold">Dr. Susana</span></h1>
                             
                              <img src="./assets/images/user.jpg" class="user-img rounded-circle position-absolute mt-2">
        
                          </div>
        
                          <ul class="notes-list list-group">
                              <li class="list-group-item" (click)="openDetailedNotesModal(notesDetail)">
                                <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon">
                                <span class="notest-text fs13">Dr. Ross Taylor</span>
                              </li>
                              <li class="list-group-item">
                                <img src="./assets/images/menu-icons/appointments-active.png" alt="notes-img" class="position-absolute user-icon">
                                <span class="notest-text fs13">November 10, 2019 </span>
                              </li>  
                              <li class="list-group-item">
                                  <img src="./assets/images/menu-icons/clock.png" alt="notes-img" class="position-absolute user-icon pt-1">
                                  <span class="notest-text fs13">12.30 PM</span>
                               </li>
                               <li class="list-group-item">
                                  <img src="./assets/images/menu-icons/contact-active.png" alt="notes-img" class="position-absolute user-icon">
                                  <span class="notest-text fs13">+1 90909099090</span>
                               </li>
                               
                               <li class="list-group-item">
                                  <img src="./assets/images/location.png" alt="notes-img" class="position-absolute user-icon">
                                  <span class="notest-text fs13">
                                    Cork University Hospital
                                    Public Center, Crock
                                  </span>
                               </li>
                          </ul>
                      </div>
                    </label>
                  <label for="s3" id="slide3">
                      <div class="card-three-d">

                          <span class="fs14 grey-color2">In 3 Days</span>
        
         
                          <div class="upcomming-title position-relative">
                                 
                               <h1 class="color-dark-black fs16">Consultation with <span class="d-inline-block font-weight-bold">Dr. Susana</span></h1>
                             
                              <img src="./assets/images/user.jpg" class="user-img rounded-circle position-absolute mt-2">
        
                          </div>
        
                          <ul class="notes-list list-group">
                              <li class="list-group-item" (click)="openDetailedNotesModal(notesDetail)">
                                <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon">
                                <span class="notest-text fs13">Dr. Ross Taylor</span>
                              </li>
                              <li class="list-group-item">
                                <img src="./assets/images/menu-icons/appointments-active.png" alt="notes-img" class="position-absolute user-icon">
                                <span class="notest-text fs13">November 10, 2019 </span>
                              </li>  
                              <li class="list-group-item">
                                  <img src="./assets/images/menu-icons/clock.png" alt="notes-img" class="position-absolute user-icon pt-1">
                                  <span class="notest-text fs13">12.30 PM</span>
                               </li>
                               <li class="list-group-item">
                                  <img src="./assets/images/menu-icons/contact-active.png" alt="notes-img" class="position-absolute user-icon">
                                  <span class="notest-text fs13">+1 90909099090</span>
                               </li>
                               
                               <li class="list-group-item">
                                  <img src="./assets/images/location.png" alt="notes-img" class="position-absolute user-icon">
                                  <span class="notest-text fs13">
                                    Cork University Hospital
                                    Public Center, Crock
                                  </span>
                               </li>
                          </ul>
                      </div>
                    </label>
                  <label for="s4" id="slide4">
                      <div class="card-three-d">

                          <span class="fs14 grey-color2">In 3 Days</span>
        
         
                          <div class="upcomming-title position-relative">
                                 
                               <h1 class="color-dark-black fs16">Consultation with <span class="d-inline-block font-weight-bold">Dr. Susana</span></h1>
                             
                              <img src="./assets/images/user.jpg" class="user-img rounded-circle position-absolute mt-2">
        
                          </div>
        
                          <ul class="notes-list list-group">
                              <li class="list-group-item" (click)="openDetailedNotesModal(notesDetail)">
                                <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon">
                                <span class="notest-text fs13">Dr. Ross Taylor</span>
                              </li>
                              <li class="list-group-item">
                                <img src="./assets/images/menu-icons/appointments-active.png" alt="notes-img" class="position-absolute user-icon">
                                <span class="notest-text fs13">November 10, 2019 </span>
                              </li>  
                              <li class="list-group-item">
                                  <img src="./assets/images/menu-icons/clock.png" alt="notes-img" class="position-absolute user-icon pt-1">
                                  <span class="notest-text fs13">12.30 PM</span>
                               </li>
                               <li class="list-group-item">
                                  <img src="./assets/images/menu-icons/contact-active.png" alt="notes-img" class="position-absolute user-icon">
                                  <span class="notest-text fs13">+1 90909099090</span>
                               </li>
                               
                               <li class="list-group-item">
                                  <img src="./assets/images/location.png" alt="notes-img" class="position-absolute user-icon">
                                  <span class="notest-text fs13">
                                    Cork University Hospital
                                    Public Center, Crock
                                  </span>
                               </li>
                          </ul>
                      </div>
                  </label>
                  <label for="s5" id="slide5">
                      <div class="card-three-d">

                          <span class="fs14 grey-color2">In 3 Days</span>
        
         
                          <div class="upcomming-title position-relative">
                                 
                               <h1 class="color-dark-black fs16">Consultation with <span class="d-inline-block font-weight-bold">Dr. Susana</span></h1>
                             
                              <img src="./assets/images/user.jpg" class="user-img rounded-circle position-absolute mt-2">
        
                          </div>
        
                          <ul class="notes-list list-group">
                              <li class="list-group-item" (click)="openDetailedNotesModal(notesDetail)">
                                <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon">
                                <span class="notest-text fs13">Dr. Ross Taylor</span>
                              </li>
                              <li class="list-group-item">
                                <img src="./assets/images/menu-icons/appointments-active.png" alt="notes-img" class="position-absolute user-icon">
                                <span class="notest-text fs13">November 10, 2019 </span>
                              </li>  
                              <li class="list-group-item">
                                  <img src="./assets/images/menu-icons/clock.png" alt="notes-img" class="position-absolute user-icon pt-1">
                                  <span class="notest-text fs13">12.30 PM</span>
                               </li>
                               <li class="list-group-item">
                                  <img src="./assets/images/menu-icons/contact-active.png" alt="notes-img" class="position-absolute user-icon">
                                  <span class="notest-text fs13">+1 90909099090</span>
                               </li>
                               
                               <li class="list-group-item">
                                  <img src="./assets/images/location.png" alt="notes-img" class="position-absolute user-icon">
                                  <span class="notest-text fs13">
                                    Cork University Hospital
                                    Public Center, Crock
                                  </span>
                               </li>
                          </ul>
                      </div>
                  </label>
              </section>

            

               
            </tab>
            <tab heading="Past">
               
              <ul class="list-group patients-list appointments-list">
                <li class="list-group-item mb-1 px-1 rounded-0">
                    <img src="./assets/images/user.jpg" class="position-absolute patients-img rounded-circle">
                    <div class="patients-content position-relative">
                      <h1 class="fs16 color-dark-black mb-0 font-weight-bold">Dr. Susane Lewis</h1>
                      <span class="fs13 color-dark-black d-block mb-2">Dentist</span>
                      <span class="fs13 color-dark-black d-block">November 10. 2019</span>

                       <img src="assets\images\menu-icons\dos-donts-active.png" alt="" class="right-img position-absolute"> 
                    </div>
                </li>
                <li class="list-group-item mb-1 px-1 rounded-0">
                    <img src="./assets/images/user.jpg" class="position-absolute patients-img rounded-circle">
                    <div class="patients-content position-relative">
                      <h1 class="fs16 color-dark-black mb-0 font-weight-bold">Dr. Susane Lewis</h1>
                      <span class="fs13 color-dark-black d-block mb-2">Dentist</span>
                      <span class="fs13 color-dark-black d-block">November 10. 2019</span>

                      <img src="assets\images\menu-icons\dos-donts-active.png" alt="" class="right-img position-absolute"> 
                    </div>
                </li>
              </ul>

            </tab>
          </tabset>
        
      

    </div>
  </section>



  <!-- bottom tabs -->
  <app-bottomnav></app-bottomnav>
<!-- bottom tabs -->



