<section>
  <div class="float-md-right" id="noprint">
    <a href="javascript:void(0)" class="btn btn-success btn-lg" (click)="printSummary()">
      <i class="fa fa-print" aria-hidden="true"></i> Print </a></div>
  <div #content id="canvas_div_pdf" style="display: block; page-break-after:always">
    <div class="incareview-mobile-view" id="noprint">
      <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
        <a class="navbar-brand position-absolute top-17px" (click)="redirectPage()">
          <img src="assets/images/back.png" width="17">
        </a>
        <div class="m-auto text-white fs16">Discharge Summary</div>
        <ul class="list-inline position-absolute right-20">
          <li class="position-relative list-inline-item mr-4" (click)="printSummary()">
            <a><i class="fa fa-print w-19px" aria-hidden="true"></i>
              <!-- <img src="./assets/images/incare-mobile/home@2x.png" class="w-19px"> --></a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="incareview-desktop-view" id="noprint">
      <div class="row heading mb-20">
        <div class="col-md-8 col-sm-8">
          <h1 class="color-dark-black fs36 font-roboto">
            <span (click)="redirectPage()"><i class="fa fa-angle-left color-arrow-grey mr-3"></i></span>Discharge
            Summary
          </h1>
        </div>
      </div>
    </div>

    <div class="mobile-body bg-white incareview-form tag-addmed-top">
      <div class="row">
        <div class="col-4">Patient Name: <b>{{downloadInfo.patientName}}</b></div>
        <div class="col-4">Reported By: <b>{{downloadInfo.careName}}</b></div>
        <div class="col-4">Date: <b>{{downloadInfo.createdAt | date:'dd MMM yyyy'}}</b></div>
      </div>
      <div *ngIf="downloadInfo && downloadInfo.notes && downloadInfo.notes.length > 0">
        <table class='table borderless'>
          <th style="width:25%">
            <h1 class="fs29 font-weight-bold mt-30">Summary Information</h1>
          </th>
          <tr>
            <td>
              <p [innerHTML]="downloadInfo.notes" class="dark-black fs14 mt-15"></p>
            </td>
          </tr>
        </table>
      </div>
      <table class='table borderless'>
        <div class="notes-list list-group mx-2">
          <div
            *ngIf="downloadInfo && (downloadInfo.dos && downloadInfo.dos.length > 0 ||  downloadInfo.donts && downloadInfo.donts.length > 0)">
            <th style="width:25%">
              <h1 class="fs29 font-weight-bold mt-30">Instructions</h1>
            </th>
          </div>
          <div *ngIf="downloadInfo && downloadInfo.dos && downloadInfo.dos.length > 0">
            <th style="width:25%">
              <h1 class="color-green2 fs16 font-weight-bold mt-30">DO's</h1>
            </th>
            <ul class="list-unstyled dos-list">
              <li class="position-relative" *ngFor="let dosInfo of downloadInfo.dos">
                <i class="fas fa-check color-green2 position-absolute"></i>
                <div class="list-text"> {{dosInfo.message}} </div>
              </li>
            </ul>
          </div>
          <div *ngIf="downloadInfo && downloadInfo.donts && downloadInfo.donts.length > 0">
            <th style="width:25%">
              <h1 class="color-red2 fs16 font-weight-bold mt-30">DONT's</h1>
            </th>
            <ul class="list-unstyled dont-list">
              <li class="position-relative" *ngFor="let dontsInfo of downloadInfo.donts">
                <i class="fas fa-times color-red2 position-absolute"></i>
                <div class="list-text"> {{dontsInfo.message}} </div>
              </li>
            </ul>
          </div>
        </div>
      </table>

      <div *ngIf="downloadInfo && downloadInfo.medList && downloadInfo.medList.length > 0">
        <table class='table borderless'>
          <th style="width:25%">
            <h1 class="fs29 font-weight-bold mt-30">Medications</h1>
          </th>
          <tr *ngFor="let medView of downloadInfo.medList;let i = index">
            <td>
              <div class="medication-content position-relative mb-3">
                <h1 class="fs16 mb-1 font-weight-bold color-black">{{i+1}}. {{medView.genericName}}</h1>
              </div>
              <div class="row fs12">
                <label class="col-2 col-md-1 text-left pl-4 font-weight-bold color-black"> Dose </label>
                <div class="col-9  col-md-11">
                  <span class="grey-color">{{medView.amountOfMg}} mg</span>
                </div>
              </div>
              <div class="row fs12">
                <label class="col-2  col-md-1 text-left pl-4 font-weight-bold color-black"> Timing </label>
                <div class="col-9  col-md-11">
                  <span class="grey-color">{{medView.medicinetime}}</span>
                </div>
              </div>
              <div class="row fs12">
                <label class="col-2 col-md-1 text-left pl-4 font-weight-bold color-black"> When </label>
                <div class="col-9 col-md-11">
                  <span class="grey-color">{{medView.foodTime}}</span>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="downloadInfo && downloadInfo.media && downloadInfo.media.length > 0">
        <table class='table borderless'>
          <th style="width:25%">
            <h1 class="fs29 font-weight-bold mt-30">Educational Information</h1>
          </th>
          <tr *ngFor="let media of downloadInfo.media;let i = index">
            <td>
              <h1 class="fs16 mb-3">{{i+1}}. {{media.name}}</h1>
              <img *ngIf="media.type=='image'" id="img{{i}}" class="w-100" style="height: 243px;object-fit: contain;" [src]="media.fileUrl">
              <img *ngIf="media.type!=='image'" id="img{{i}}" class="w-100" style="height: 243px;object-fit: contain;" [src]="media.previewURL">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
