<section>
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/media-slides">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Forums</div>
  
    </nav>
    <div class="mobile-body bg-white h-100vh">
      

    </div>
  </section>



  <!-- bottom tabs -->
  <app-bottomnav></app-bottomnav>
<!-- bottom tabs -->



