@media (min-width: 768px) {
  .auth-content {
    display: flex;
    align-items: center;
  }
  .incareview-model {
    &.org-window {
      &.modal-dialog {
        max-width: 700px;
      }
    }
  }
}

@media (max-width: 768px) {
  .auth-content {
    background-position: right top;
  }
  .custom-tabs-body {
    .panel-group {
      .dos-checkbox {
        width: 100%;
        margin-right: 0%;
      }
    }
  }
}

@media (min-width: 576px) {
  .incareview-model {
    &.modal-dialog {
      max-width: 395px;
    }
    &.incare-window {
      max-width: 536px;
    }
  }
}

@media (max-width: 1024px) {
  .app-header {
    max-width: calc(100% - 179px);
    width: calc(100% - 179px);
    padding: 22px 30px;
  }
  .navbar {
    background-image: none;
    background-image: linear-gradient(
      to left,
      #109fcc,
      #01a2c8,
      #01a5c3,
      #0fa7be,
      #1fa9b9,
      #25abb6,
      #2dadb2,
      #35afae,
      #39b1aa,
      #3fb3a6,
      #46b5a1,
      #4eb79c
    );
  }
  .dos-width {
    width: 80%;
  }
  .dos-submit {
    width: 20%;
  }
  .profile-title {
    font-size: 19px;
  }
  //  .mobile-floating-search{
  //     position: fixed;
  //     background-color: $white;
  //     z-index: 111;
  //     top:59px;
  //     left:0px;
  //     padding: 10px 16px;
  //     width: 100%;
  //     box-shadow: 3px 3px 10px #ccc;
  //     transition: 0.5s;
  //     &.animated-hiding{
  //       top:-59px;
  //     }

  //     .form-control{
  //         border-radius: 50px 0px 0px 50px !important;
  //     }
  //     .input-group-append{
  //       .btn{
  //         border-radius:  0px 50px 50px 0px !important;
  //         padding: 12px 20px;
  //       }
  //     }
  //  }

  .mobile-view {
    display: block;
  }

  .desktop-view {
    display: none;
  }

  app-user-view {
    li {
      &.treeview {
        li {
          border-top: 1px solid #a5e0e8;
          border-bottom: none !important;
        }
      }
    }
  }

  .manage-tree {
    .child-tree {
      border-bottom: 1px solid #a5e0e8;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .custom-tabs-head {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (min-width: 1025px) {
  .desktop-view {
    display: block;
  }

  .mobile-view {
    display: none;
  }
  .custom-tabs-head {
    .nav {
      &.nav-pills {
        .nav-item {
          width: 20%;
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .message-body {
    ul {
      li {
        p {
          max-width: 182px;
        }
      }
    }
  }
}
@media (max-width: 672px) {
  .mobile-view-top {
    margin-top: 70px;
  }
  .incareview-mobile-view {
    display: block;
  }
  .incareview-desktop-view {
    display: none;
  }

  .page-content {
    max-width: 100%;
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
  }
  .slider-card {
    margin-bottom: 40px;
  }
  .mobile-floating-search {
    position: fixed;
    background-color: $white;
    z-index: 111;
    top: 59px;
    left: 0px;
    padding: 10px 16px;
    width: 100%;
    box-shadow: 3px 3px 10px #ccc;
    transition: 0.5s;
    &.animated-hiding {
      top: -59px;
    }

    .form-control {
      border-radius: 50px 0px 0px 50px !important;
    }
    .input-group-append {
      .btn {
        border-radius: 0px 50px 50px 0px !important;
        padding: 12px 20px;
      }
    }
  }
  .desktop-middle-border {
    display: none;
  }

  body {
    background-color: $white;
  }
  .mobile-view-hgt {
    min-height: 100vh;
  }
  .upload-icon {
    width: 100px;
  }
  .mobile-body {
    .patient-webview {
      li {
        width: 100% !important;
      }
    }
  }
  .tag-other {
    display: block;
  }
  .myorg {
    tree-view,
    app-user-view {
      li {
        margin-bottom: 0;

        border-bottom: 1px solid #a5e0e8;
        border-radius: 0;
        &.treeview {
          li {
            border-bottom: 1px solid #a5e0e8;
            border-radius: 0;
            &:last-child {
              // border-top:none;
              border-bottom: none;
            }
          }
          .up-arrow,
          .down-arrow {
            width: 13px;
            height: 8px;
          }
        }
        // tree-view{
        //   li{
        //     border-top: 1px solid #a5e0e8;
        //   }

        // }
      }
    }
  }
  .org-top {
    padding-top: 35px;
  }
  .org-dept-top {
    padding-top: 13px;
  }
  .treeview-margin {
    margin: 0;
  }
  .med-detail {
    margin-top: 25px;
    padding: 0 25px;
  }
  .media-padding {
    padding: 0 15px;
  }
  .custom-tabs-head {
    .nav {
      &.tag-pills {
        .nav-item {
          width: auto;
        }
      }
    }
  }
  .mob-mb-100 {
    margin-bottom: 100px;
  }
  .widthcustomcovid2 {
    width: 50px;
  }
}

@media (min-width: 673px) {
  .incareview-mobile-view {
    display: none;
  }
  .incareview-desktop-view {
    display: block;
  }
  .med-form {
    padding: 20px !important;
  }
  textarea {
    &.tag-height {
      height: 350px;
      border: 2px solid #ced4da;
    }
  }
  .page-content {
    &.show_pagecontent {
      padding-left: 275px;
      .app-header {
        max-width: calc(100% - 314px);
        width: calc(100% - 314px);
      }
    }
  }
  .custom-tabs-head {
    margin: 0 20px;
    .nav.nav-pills {
      margin: 0px;
      width: 100%;
      .nav-item {
        width: 1%;
        display: table-cell;
      }
    }
  }
  .btn.btn-theme-gradient {
    &.btn-tag-pad {
      padding: 15px;
      width: 185px;
    }
  }
  .dos-checkbox {
    li {
      input {
        padding: 10px 0;
        font-size: 16px;
      }
      .tag-font-size {
        font-size: 12px;
      }
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .dos-checkbox {
      li {
        input {
          padding: 10px 0;
          height: 40px;
        }
      }
    }
  }
  .slider-card {
    &.media-scroll {
      padding-bottom: 0px;
      margin: 0 0 50px;
      &.patient-margin {
        margin: 0px -20px 0px -7px;
      }
      li {
        width: 171px;
        padding: 13px;
        margin: 10px 24px;
        box-shadow: 0px 3px 5px #ddd;
        .media-img {
          height: 129px;
        }
        &:first-child {
          margin-left: 0px;
        }
      }
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
  .align-mobile-title {
    text-align: left;
    font-size: 24px;
    color: #4a4a4a;
  }
  .mobile-body {
    background-color: transparent !important;
  }
  .desktop-middle-border {
    border-top: 3px solid rgba(0, 0, 0, 0.3);
    &:last-child {
      border-top: 0;
    }
  }
  .mobile-view-top {
    margin-top: 20px;
  }
  .desktop-bold-text {
    font-weight: bold;
  }
  .mobile-view-hgt {
    margin: 30px 0;
  }
  .two {
    order: 1;
    -ms-flex-order: 1;
  }
  .one {
    order: 2;
    -ms-flex-order: 2;
  }
  .three {
    order: 3;
    -ms-flex-order: 3;
  }
  .media-form-img {
    height: 150px !important;
  }
  .progress {
    background-color: #e0e0e0;
  }
  .mobile-body {
    .patient-webview {
      display: block;
      li {
        display: inline-block;
        width: 25%;
        float: left;
        padding-left: 0 !important;
        text-align: center;
        border: none;
        .patients-dot {
          display: none;
          left: 0;
        }
        .patients-img {
          position: relative !important;
          width: 150px;
          height: 150px;
          // border:1px solid #2caab6;
        }
        .patients-content {
          margin: 20px 0;
        }
      }
    }
  }
  .mobile-form {
    a {
      display: inline-block !important;
      margin: 0 20px;
    }
  }
  .mobile-tb17 {
    margin: 17px 0;
    padding: 0;
  }
  .custom-tabs-body {
    margin-bottom: 0;
    .panel-group {
      .card,
      .card-header {
        background-color: transparent;
        border-radius: 0;
      }
      .card {
        border-width: 3px;
      }
      h2 {
        font-size: 20px;
        color: #4a4a4a;
      }
      .fa-chevron-down,
      .fa-chevron-up {
        color: #0000004d;
        font-size: 28px;
      }
      .slider-card {
        &.list-inline {
          li {
            width: 23%;
            .user-img {
              height: 115px;
              width: 115px;
              border: 1px solid #ccc;
            }
          }
        }
      }
      .dos-checkbox {
        .custom-control-label::before {
          background-color: transparent;
        }
        width: 46%;
        float: left;
        margin-right: 8%;
        & + ul {
          margin-right: 0%;
        }
      }
      .custom-checkbox
        .custom-control-input:checked
        ~ .custom-control-label::before {
        background: #1a4970 !important;
      }
    }
  }
  .custom-tabs-head {
    .nav-link {
      font-size: 20px;
    }
  }
  .patient-info {
    &.patient-info-data {
      padding: 0;
      margin: 25px 0;
    }
  }
  .patient-profile-info {
    &.profile-webview {
      img {
        &.avator {
          position: relative !important;
          width: 150px;
          height: 150px;
          border: 1px solid #2caab6;
          border-radius: 7px;
        }
      }
      h1 {
        width: 80%;
        margin: 25px 0 20px;
      }
      p {
        font-size: 16px;
        line-height: 27px;
      }
      .edit-icon-profile {
        top: 58%;
      }
    }
  }
  .desktop-title {
    font-size: 24px;
  }
  .history-report {
    display: table;
    width: 100%;
    span {
      &.d-block {
        display: table-cell !important;
        width: 33.33%;
        font-size: 16px;
        color: #4a4a4a;
      }
    }
  }
  .view-report-link {
    padding-top: 5px;
    font-size: 16px;
  }
  .via-history-list {
    font-size: 16px;
  }
  .patients-list {
    &.tag-list {
      li {
        padding-left: 0;
        h1 {
          font-size: 16px;
          color: #4a4a4a;
          padding-bottom: 5px;
        }
      }
    }
  }
  .dos-checkbox {
    .custom-control-label::before {
      background-color: transparent;
    }
  }
  .desktop-border {
    border-right: 1px solid #ccc;
  }
  .tag-border {
    border-width: 3px;
  }
  .tag-med-top {
    margin-top: 30px;
  }
  .tag-addmed-top {
    margin-top: 0px;
  }
  .tag-other {
    min-width: 230px;
    margin-bottom: 0 !important;
    margin-left: 15px;
    display: inline-block;
    input {
      height: 29px !important;
    }
  }
  .settings-form {
    padding: 0;
    .set-input {
      width: 60%;
      display: inline-block;
    }
    .set-label {
      width: 40%;
      display: inline-block;
      font-size: 18px;
      opacity: 1;
    }
    .form-control {
      font-size: 18px;
      &:disabled {
        padding: 34px 0 34px 0;
      }
    }
  }
  .ask-doctor {
    &.appointments {
      ul.nav-tabs {
        li {
          font-size: 23px;
          a {
            border-width: 6px;
            border-left: 0;
            border-right: 0;
            border-top: 0;
          }
          &.active {
            a.active {
              border-width: 6px;
              border-image: linear-gradient(to right, #4eb79c, #24a5bc) 100% 1%;
            }
          }
        }
      }
    }
  }
  .med-detail {
    margin-top: 30px;
  }
  .media-descrip {
    font-size: 19px;
  }
  .display-content {
    display: contents;
  }
}

@media (max-width: 991px) {
  .mobile-body {
    .patient-webview {
      li {
        width: 33.33%;
      }
    }
  }
}

@media (max-width: 767px) {
  .desktop-border {
    border-right: none;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @media (min-width: 768px) {
    .auth-content {
      .log-container {
        padding: 120px 0;
        .floating-input-form label {
          top: -22px;
        }
      }
    }
  }

  @media (min-width: 673px) {
    .ie-hgt {
      height: 35px;
    }
    .ie-pad {
      padding-top: 10px;
    }
    .ie-top {
      margin-top: -10px;
    }
    .ie-cancel {
      padding-top: 4px;
    }
    .ie-form {
      .input-group {
        input {
          &.form-control {
            height: 72px;
          }
        }
      }
    }
  }

  input:-ms-input-placeholder:focus {
    color: #999;
  }
}
