<section>
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
        <a class="navbar-brand position-absolute top-17px" routerLink="/app/patient-summary">
            <!-- <i class="fas fa-bars text-white"></i> -->
            <img src="assets/images/back.png" width="17">
        </a>
        <div class="m-auto text-white fs16">Medications</div>
        <ul class="list-inline position-absolute right-20">
            <li class="position-relative list-inline-item">
                <a class="c-pointer" routerLink="/app/menu"><img src="./assets/images/incare-mobile/home@2x.png"
                        class="w-19px"></a>
            </li>
        </ul>
    </nav>
    <div class="mobile-body bg-white">
        <div class="medication-list bg-white">
            <ul class="list-group">
                <!-- <li class="list-group-item" routerLink="/chatbox"> -->
                <li class="list-group-item" *ngFor="let medView of medViewList">
                    <img src="./assets/images/menu-icons/medications-active.png"
                        class="position-absolute medication-img">
                    <div class="medication-content position-relative mb-3" (click)="goToDragInfo(medView)">
                        <h1 class="fs16 mb-1 font-weight-bold color-black">{{medView.genericName}}</h1>
                        <span class="fs12 grey-color">{{medView.groupName}}</span>
                        <i class="fas fa-chevron-right chevron-icon position-absolute grey-color"></i>
                    </div>
                    <div class="row fs14">
                        <label class="col-2 col-md-1 text-left pr-0 font-weight-bold color-black">
                            Dose
                        </label>
                        <div class="col-9  col-md-11">
                            <span class="grey-color">{{medView.amountOfMg}}</span>
                        </div>
                    </div>
                    <div class="row fs14">
                        <label class="col-2  col-md-1 text-left pr-0 font-weight-bold color-black">
                            Timing
                        </label>
                        <div class="col-9  col-md-11">
                            <span class="grey-color">{{medView.medicinetime}}</span>
                        </div>
                    </div>
                    <div class="row fs14">
                        <label class="col-2  col-md-1 text-left pr-0 font-weight-bold color-black">
                            When
                        </label>
                        <div class="col-9  col-md-11">
                            <span class="grey-color">{{medView.foodTime}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>


<!-- bottom tabs -->
<app-bottomnav></app-bottomnav>
<!-- bottom tabs -->