<section class="auth-content">
  <app-loader></app-loader>
  <div class="container log-container pb-sm-0 pb-5">
    <header class="pt-5 pb-4 text-white  d-md-none d-sm-block">
      <i class="fas fa-arrow-left  float-left mt-1 d-inline-block" routerLink="/app/login"></i>
      <h1 class="fs16 text-center font-weight-normal">Forgot Password</h1>
    </header>
    <div class="text-md-center">
      <img src="./assets/images/logo.png" class="logo d-md-inline-block  d-none" alt="via-logo">
      <h2 class="mt-4 text-md-center text-white font-weight-light font-roboto fs30 pl-2 pl-sm-0">Forgot Password? Don't
        worry.</h2>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-11 m-auto">
        <form name="form" #forgotPasswordForm="ngForm" (ngSubmit)="validateForgotPwdInfo()"
          class="floating-input-form mt-5" novalidate>

          <div class="mb-4" *ngIf="!isEmail">
            <div class="d-flex">
              <!---->
              <div class="input-group-prepend">
                <span
                  class="input-group-text p-0 bg-transparent border-top-0  border-left-0 border-right-0 border-bottom borderw-2">
                  <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                      class=" dropdown-toggle bg-transparent border-0 rounded-0" aria-controls="dropdown-basic">
                      <img src="./assets/images/CountryImage/{{countryCode}}.png" alt="country-image">
                      <span class="caret text-white">{{defaultCountry}}</span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu px-2 min-auto" role="menu"
                      aria-labelledby="button-basic" style="max-height: 120px;overflow-y: auto;">
                      <li role="menuitem">
                        <a class="dropdown-item" href="javascript:void(0)" *ngFor="let flag of countryCodes"
                          (click)="setCountryInfo(flag)">
                          <img src="./assets/images/CountryImage/{{flag.code}}.png" alt="country-image">
                          <span class="caret ">{{flag.dial_code}}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </span>
              </div>
              <!---->
              <div>
                <input class="floating-input placeholder-text" type="text" #phone="ngModel" name="phone"
                  [(ngModel)]="forgotpassworddata.phone" placeholder="Phone Number" autocomplete="off"
                  maxlength="{{phoneMaxLength}}">
              </div>
              <span class="highlight"></span>
            </div>
            <div *ngIf="isSubmit" class="text-danger mt-1">
              <p class="mb-0" *ngIf="emailRequired">Mobile Number is required</p>
              <p class="mb-0" *ngIf="emailPatterError">Invalid Mobile Number</p>
            </div>
          </div>

          <div *ngIf="isEmail" class="mb-4">
            <div class="floating-label">
              <input class="floating-input" type="text" #email="ngModel" name="email"
                [(ngModel)]="forgotpassworddata.email" placeholder=" " autocomplete="off">
              <span class="highlight"></span>
              <label>Email</label>
            </div>
            <div *ngIf="isSubmit" class="text-danger mt-1">
              <p class="mb-0" *ngIf="emailRequired">Email ID is required</p>
              <p class="mb-0" *ngIf="emailPatterError">Invalid Email ID</p>
            </div>
          </div>

          <div class="mb-4 text-right">
            <div class="floating-label">
              <a style="color:#fff;cursor:pointer;" *ngIf="isEmail" (click)="isEmail=!isEmail">Use Phone Number</a>
              <a style="color:#fff;cursor:pointer;" *ngIf="!isEmail" (click)="isEmail=!isEmail">Use Email ID</a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10 col-11 m-auto">
              <button class="btn btn-card btn-block btn-lg btn-rounded fw500 btn-shadow"
                (click)="isSubmit = true;"><span class="fs20">Submit</span></button>
            </div>
          </div>
          <div class="text-white text-center mt-4 fs16">
            <span class="d-block mb-1 c-pointer" routerLink="/app/login">Already have an account? <a
                class="font-weight-bold text-white">Log In!</a></span>
            <!--  <span class="d-block">Don't have an account? <a class="font-weight-bold c-pointer text-white" routerLink="/app/validemail">Sign Up!</a></span> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</section>