<section>
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px" routerLink="/app/media-slides">
      <!-- <i class="fas fa-arrow-left text-white"></i> -->
      <img src="assets/images/back.png" width="17">
    </a>
    <div class="m-auto text-white fs16">Media</div>
    <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item mr-4" routerLink="/app/media">
          <a ><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
        </li>
        <li class="position-relative list-inline-item">
          <a><img src="./assets/images/incare-mobile/Shape@2x.png" class="w-22px"></a>
        </li>
      </ul>
  </nav>
  <div class="mobile-body bg-white h-100vh mb-105">
   
    <div class="container-fluid pl25 pr25 pt25">
  

    <!-- video feed card -->
        <div *ngIf="mediaList.length===0" style="display: flex;">
          <span style="margin: 0 auto;">
              Video List is Empty
          </span>
         
        </div>
      <div class="video-feed-card position-relative mb-25" *ngFor="let media of mediaList">

        <div class="position-relative" [routerLink]="['/app/media-ivideo', media.id]">
          <img src="./assets/images/physiotherapy.jpg" class="br-10 w-100">

          <!-- play / pause -->
          <div class="playpusebtn rounded-circle bg-theme-color position-absolute">
              <i class="fas fa-play text-white"></i>
          </div>
          <!-- play / pause -->
        </div>
 
        <div class="position-relative">
           <div class="mt-15 pr30">
              <h1 class="fs20">{{media.name}}</h1>
              <!-- <span class="grey-color fs14">11 Views | 2 Weeks ago</span> -->
           </div>

            <!-- 3 dots img -->
            <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" class="position-absolute more-icon-video" (isOpenChange)="isOpenChange()">
                <a href id="basic-link" dropdownToggle (click)="false"
                   aria-controls="basic-link-dropdown">
                   <img src="./assets/images/more.png" alt="more-img" class="more-img-video">
                  </a>
                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-left"
                    role="menu" aria-labelledby="basic-link">
                  <li>
                    <a class="dropdown-item" href="#">
                        Share
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="updateMedia(media)">
                       Edit
                    </a>
                  </li>
                  
                  <li>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="deleteMedia(media)">
                       Delete
                    </a>
                  </li>
                </ul>
              </span>
            <!-- /3 dots img -->
          </div>
      </div>

      <!-- /video feed card -->
  
      <!-- video feed card -->

      <!-- <div class="video-feed-card position-relative mb-25">

          <div class="position-relative">
            <img src="./assets/images/physiotherapy.jpg" class="br-10 w-100">
  
            
          </div>
   
          <div class="position-relative">
             <div class="mt-15 pr30">
                <h1 class="fs20">physiotherapy Guide for Legs</h1>
                <span class="grey-color fs14">11 Views | 2 Weeks ago</span>
             </div>
  
           
              <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" class="position-absolute more-icon-video" (isOpenChange)="isOpenChange()">
                  <a href id="basic-link" dropdownToggle (click)="false"
                     aria-controls="basic-link-dropdown">
                     <img src="./assets/images/more.png" alt="more-img" class="more-img-video">
                    </a>
                  <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-left"
                      role="menu" aria-labelledby="basic-link">
                    <li>
                      <a class="dropdown-item" href="#">
                          Share
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                         Edit
                      </a>
                    </li>
                    
                    <li>
                      <a class="dropdown-item" href="#">
                         Delete
                      </a>
                    </li>
                  </ul>
                </span>
           
            </div>
        </div>
  
     

      <div class="video-feed-card position-relative mb-25">

          <div class="position-relative">
            <img src="./assets/images/physiotherapy.jpg" class="br-10 w-100">
  
            
          </div>
   
          <div class="position-relative">
             <div class="mt-15 pr30">
                <h1 class="fs20">physiotherapy Guide for Legs</h1>
                <span class="grey-color fs14">11 Views | 2 Weeks ago</span>
             </div>
  
              <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" class="position-absolute more-icon-video" (isOpenChange)="isOpenChange()">
                  <a href id="basic-link" dropdownToggle (click)="false"
                     aria-controls="basic-link-dropdown">
                     <img src="./assets/images/more.png" alt="more-img" class="more-img-video">
                    </a>
                  <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-left"
                      role="menu" aria-labelledby="basic-link">
                    <li>
                      <a class="dropdown-item" href="#">
                          Share
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                         Edit
                      </a>
                    </li>
                    
                    <li>
                      <a class="dropdown-item" href="#">
                         Delete
                      </a>
                    </li>
                  </ul>
                </span>
            </div>
        </div> -->
  
     


    </div>

    
     

  </div>
</section>


  <!-- bottom tabs -->
  <app-bottomnav></app-bottomnav>
<!-- bottom tabs -->


