<section>
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Media</div>
      <ul class="list-inline position-absolute right-20">
          <li class="position-relative list-inline-item mr-4">
            <a ><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
          </li>
          <li class="position-relative list-inline-item">
            <a><img src="./assets/images/incare-mobile/Shape@2x.png" class="w-22px"></a>
          </li>
        </ul>
    </nav>
    <div class="mobile-body bg-white h-100vh">
      
      
              
        <ul class="list-group border-0 p-0 mt-50">
            <li class="list-group-item border-0 p-0">
                <div class="patient-profile-info">
                    <img src="./assets/images/user.jpg"  alt="patient-profile-img" class="position-absolute avator br-10">
                    <div class="patient-info grey-color fs14 mt-4 position-relative">
                       <h1 class="color-black fs12">Robert Mayar.png</h1>
                       <div class="progress bg-white">
                          <div class="progress-bar" style="width:70%"></div>
                       </div>
                       <i class="fas fa-times position-absolute rt-0 tp-20 grey-color2"></i>
                    </div>
                 </div>
            </li>
            <li class="list-group-item border-0 p-0">
                <div class="patient-profile-info">
                    <img src="./assets/images/user.jpg"  alt="patient-profile-img" class="position-absolute avator br-10">
                    <div class="patient-info grey-color fs14 mt-4 position-relative">
                       <h1 class="color-black fs12">Guide.pdf</h1>
                       <div class="progress bg-white">
                          <div class="progress-bar" style="width:70%"></div>
                       </div>
                       <i class="fas fa-times position-absolute rt-0 tp-20 grey-color2"></i>
                    </div>
                 </div>
            </li>
        </ul>
    </div>
  </section>




