<div class="myorg overflow-x-hidden ">

  <!-- <div class="row heading mobile-margin">
    <div class="col-md-8  desktop-view">
      <h1 class="color-dark-black fs36 font-roboto">Manage Users 
          <button *ngIf="!isDeleteIds && (emptyOrg || userType === 1)"
          class="btn btn-secondary btn-lg ml-20 fs16 p12 bg-transparent color-green border-green btn-shadow outline-0"
          (click)="createOrgModal(createOrg)"><i class="fas fa-plus"></i> Create Organisation</button>
        <button *ngIf="isDeleteIds"
            class="btn btn-secondary btn-lg ml-20 fs16 p12 bg-transparent color-green border-green btn-shadow outline-0"
        (click)="multiDelete(confirmMultiDelete)"><i class="fas fa-times"></i> Delete Users</button>
    </h1>    
    </div>
    <div class="col-md-4">
      <div class="mobile-floating-search seachfiled-color" [ngClass]="{'animated-hiding' : searchMobileToggle }">
        <div class="input-group h50">
          <input type="text" class="form-control h50 bg-transparent border-right-0 fs14 border-green"
            placeholder="Type Here...">
          <div class="input-group-append">
            <button class="btn btn-secondary bg-transparent border-left-0 p12 border-green" type="button">
              <img src="assets/images/search.png" width="18">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <app-user-view [treeData]="myTree" [emptyOrg]="emptyOrg" [isMulti]="isMulti" [seletedNode]="seletedNode" [isFirst]="isFirst"></app-user-view>


  <ng-template #createOrg>
    <div class="modal-header">
      <h4 class="modal-title pull-left fs20">Create Organisation</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="form" [formGroup]="orgForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="assets/images/org-icon.png" width="18"></span>
              </div>
              <input type="text" class="form-control" placeholder="Org Name" formControlName="name"
                [ngClass]="{ 'is-invalid':submitted && name.errors   }" required>
              <div *ngIf="submitted && name.errors " class="invalid-feedback">
                <div *ngIf="name.errors.required ">Org Name is required</div>
                <div *ngIf="name.errors.pattern ">Org Name allowed charecters only</div>
              </div>
            </div>
            <div class="input-group mb-4" *ngIf="hideMail">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="assets/images/envelope.png" width="18"></span>
              </div>
              <input type="text" class="form-control" placeholder="Mail Address" formControlName="email"
                [ngClass]="{ 'is-invalid':submitted && email.errors   }" required>
              <div *ngIf="submitted && email.errors " class="invalid-feedback">
                <div *ngIf="email.errors.required ">Email is required</div>
                <div *ngIf="email.errors.pattern">Email must be a valid email address</div>
              </div>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="assets/images/location.png" width="18"></span>
              </div>
              <input type="text" class="form-control" placeholder="Location" formControlName="location"
              [ngClass]="{ 'is-invalid':submitted && location.errors   }" required>
              <div *ngIf="submitted && location.errors " class="invalid-feedback">
                <div *ngIf="location.errors.required ">Location is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text align-items-start"><img src="assets/images/description.png"
                    width="18"></span>
              </div>
              <textarea class="form-control" aria-label="With textarea" placeholder="Description" rows="5" formControlName="description"
              [ngClass]="{ 'is-invalid':submitted && description.errors   }" required></textarea>
              <div *ngIf="submitted && description.errors " class="invalid-feedback">
                <div *ngIf="description.errors.required ">Description is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-30 mb-20">
          <button type="submit" class="btn btn-primary shadow">Create Org</button>
        </div>
      </form>
    </div>
  </ng-template>

</div>




<!-- Mobile view content -->

<section class="incareview-mobile-view">
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
      <!-- <i class="fas fa-arrow-left text-white"></i> -->
      <img src="assets/images/back.png" width="17">
    </a>
    <div class="m-auto text-white fs16">Manage Users</div>
    <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item mr-3" *ngIf="deleteIDs.length===0"  (click)="createOrgModal(createOrg)">
          <a href="javascript:void(0)"><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
        </li>
        <li class="position-relative list-inline-item mr-3" *ngIf="deleteIDs.length>0"  (click)="multiDelete(confirmMultiDelete)">
            <a href="javascript:void(0)"><img src="./assets/images/incare-mobile/trash.png" class="w-18px" ></a>
          </li>
        <li class="position-relative list-inline-item">
          <a><img src="./assets/images/incare-mobile/Shape@2x.png" (click)="toggleSearchMobile()" class="w-22px"></a>
        </li>
      </ul>


  </nav>
  <div class="mobile-body bg-white">



    <!-- <div class="text-center pt-5" *ngIf="emptyOrg === true">
      <img src="assets/images/payment-success.png" width="170" class="mb-30">
      <h2 class="color-black fs16 font-weight-bold">Create Organization</h2>
    </div> -->

  </div>

  <ng-template #confirmMultiDelete>
      <div class="modal-body text-center">
        <p class="mt-40 mb-30 fs20">Are you sure, you want to delete all the selected users?</p>
        <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelDelete()">Cancel</button>
        <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteUser()">Delete</button>
      </div>
    </ng-template>
</section>



<!-- Mobile view content -->