.mobile-margin { margin-bottom: 50px; }
@media (min-width: 1024px) {
  
    .mobile-margin { margin-bottom: 0px; }
    
  }
  div.userborder{
    border-top: 1px solid #a5e0e8;
  }
  div.userborder:first-child{
    border-top: none!important;
  }

  .form-control:disabled{
    background-color: #e9ecef03;
  }

