<section>

  <ul class="pl-0">
    <ng-container *ngIf="treeData.length>0">
      <li class="list-inline incareview-desktop-view" *ngIf="orgUser && showCreate">

        <div class="bg-white text-center mt-25 mb-25 p20 shadow-box br-10"
          (click)="createDeptModal(createDept,'create',orgUser)">
          <img src="assets/images/add.png" alt="Create" width="20">
          <span class="theme-color ml-2">Invite Users</span>
        </div>
      </li>
      <li *ngFor="let node of treeData" class="list-inline treeview manage-tree">
        <div class="row pt20 pb20 child-tree mr-0" *ngIf="node.puid != 1">
          <div class="col-md-8 col-7 text-truncate">
            <span (click)="showNode(node,false)" *ngIf="node.puid != 1" class="fas "
              [ngClass]="node.isOpen && childData === node.id ? 'up-arrow' : 'down-arrow bg-grey'">
            </span>
            <!-- <ng-container *ngIf="node.puid === 1">
              <img src="assets/images/org-icon.png" alt="Organisation" width="20" class="ml-15 mr-15">
            </ng-container> -->
            <ng-container *ngIf="node.puid !== 1">
              <img src="assets/images/dept-icon.png" alt="Department" width="20" class="ml-15 mr-15">
            </ng-container>
            <span class="fs18 font-roboto font-weight-light" *ngIf="node.puid != 1"
              [ngClass]="node.isOpen && childData === node.id && node.children.length>0 ? 'font-weight-bold':''">{{node.nodes.name}}
            </span>
          </div>
          <div class="col-md-4 col-5 text-right" *ngIf="node.puid != 1">

            <span class="float-right">

              <span *ngIf="node.myActions.isEdit || node.myActions.isDelete"
                class="btn-group myorg-dd  incareview-mobile-view" dropdown>
                <span class="mr-2" id="button-basic" dropdownToggle>
                  <img src="assets/images/more.png" alt="more" width="20">
                </span>

                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <li *ngIf="node.myActions.isEdit" role="menuitem" class="position-relative">
                    <a class="dropdown-item text-muted" href="javascript:void(0)"
                      (click)="createDeptModal(createDept,'edit',node)">
                      <img src="assets/images/settings.png" alt="Settings" width="22">
                      <span class="position-absolute" style="top:12px;">Edit</span>
                    </a>
                  </li>
                  <li *ngIf="node.myActions.isDelete" role="menuitem" class="position-relative">
                    <a class="dropdown-item text-muted" href="javascript:void(0)"
                      (click)="deleteUserModal1(confirmDelete1,node.nodes)">
                      <img src="assets/images/delete.png" alt="Delete" width="18">
                      <span class="position-absolute" style="top:12px;">Delete</span>
                    </a>
                  </li>
                </ul>
              </span>
            </span>

            <div class="float-right">
              <span *ngIf="node.myActions.isRead && node.myActions.isShare" class="mr-4 float-left"
                (click)="createDeptModal(createDept,'create',node)">
                <img src="assets/images/create-icon.png" alt="Create" width="20">
              </span>
              <span class="incareview-desktop-view float-left">
                <span *ngIf="node.myActions.isEdit" class="mr-4" (click)="createDeptModal(createDept,'edit',node)">
                  <img src="assets/images/settings.png" alt="Settings" width="22">
                </span>
                <span *ngIf="node.myActions.isDelete" class="mr-4"
                  (click)="deleteUserModal1(confirmDelete1,node.nodes)">
                  <img src="assets/images/delete.png" alt="Delete" width="18">
                </span>
              </span>
            </div>


          </div>


        </div>
        <ng-container *ngIf="node.accessInfo.length>0 && (node.isOpen && childData === node.id)">
          <ng-container *ngFor="let accessInfo of node.accessInfo ; let i = index">
            <div class="row pt20 pb20 pl70 mr-0" [ngClass]="{'userborder':i !== 0}">
              <div class="col-md-9 col-7 text-truncate">
                <!-- <img src="assets/images/menu-icons/users.png" alt="User" width="18" style="float: left;margin-right: 10px;"> -->
                <div class="custom-checkbox text-truncate"
                  [ngClass]="{'custom-control':node.myActions.isDelete && currentUserID !== accessInfo.user.id}">
                  <input *ngIf="node.myActions.isDelete && currentUserID !== accessInfo.user.id" type="checkbox"
                    class="custom-control-input" id="{{accessInfo.permissionId}}"
                    (click)="multiDelete($event.target.checked,accessInfo)">
                  <label class="custom-control-label" for="{{accessInfo.permissionId}}" style="cursor: pointer;">

                    <img src="assets/images/menu-icons/users.png" alt="User" width="18"
                      style="float: left;margin-right: 10px;">
                    <span class="fs18 font-roboto"
                      [ngClass]="currentPermission === accessInfo.permissionId ? 'font-weight-bold' : 'font-weight-light'"
                      *ngIf="accessInfo.user.status === 'INVITED' && accessInfo.user.username !== null">
                      {{accessInfo.user.username}}
                    </span>
                    <span class="fs18 font-roboto"
                      [ngClass]="currentPermission === accessInfo.permissionId ? 'font-weight-bold' : 'font-weight-light'"
                      *ngIf="(accessInfo.user.status === 'INVITED' || accessInfo.user.firstName === null) && !accessInfo.user.username">
                      {{accessInfo.user.email}}
                    </span>

                    <span class="fs18 font-roboto"
                      [ngClass]="currentPermission === accessInfo.permissionId ? 'font-weight-bold' : 'font-weight-light'"
                      *ngIf="(!accessInfo.user.status && !accessInfo.user.username)">
                      {{accessInfo.user.firstName}} {{accessInfo.user.lastName}}
                    </span>
                  </label>
                </div>

              </div>
              <div class="col-md-3 col-5 text-right">

                <span class="incareview-desktop-view">
                  <span *ngIf="node.myActions.isEdit && currentUserID !== accessInfo.user.id" class="mr-4"
                    (click)="updatePermission(accessInfo,updateUser,node.uId)">
                    <img src="assets/images/settings.png" alt="Settings" width="22">
                  </span>
                  <span *ngIf="node.myActions.isDelete && currentUserID !== accessInfo.user.id" class="mr-4"
                    (click)="deleteUserModal(deleteuser,accessInfo,node.nodes)">
                    <img src="assets/images/delete.png" alt="Delete" width="18">
                  </span>
                </span>


                <div *ngIf="node.myActions.isEdit || (node.myActions.isDelete && currentUserID !== accessInfo.user.id)"
                  class="btn-group myorg-dd  incareview-mobile-view" dropdown>
                  <span class="mr-2" id="button-basic" dropdownToggle>
                    <img src="assets/images/more.png" alt="more" width="20">
                  </span>

                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-basic">
                    <li *ngIf="node.myActions.isEdit && currentUserID !== accessInfo.user.id" role="menuitem"
                      class="position-relative">
                      <a class="dropdown-item text-muted" href="javascript:void(0)"
                        (click)="updatePermission(accessInfo,updateUser,node.uId)">
                        <img src="assets/images/settings.png" alt="Settings" width="22">
                        <span class="position-absolute" style="top:12px;">Edit</span>
                      </a>
                    </li>
                    <li *ngIf="node.myActions.isDelete && currentUserID !== accessInfo.user.id" role="menuitem"
                      class="position-relative">
                      <a class="dropdown-item text-muted" href="javascript:void(0)"
                        (click)="deleteUserModal(deleteuser,accessInfo,node.nodes)">
                        <img src="assets/images/delete.png" alt="Delete" width="18">
                        <span class="position-absolute" style="top:12px;">Delete</span>
                      </a>
                    </li>
                  </ul>
                </div>


              </div>


            </div>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="node.accessInfo.length<1 && (node.isOpen && childData === node.id) && node.children.length === 0">
          <p class="pt10 pb10 text-center color-dark-grey mb-0">
            No Users Found !
          </p>
        </ng-container>

        <app-user-view [treeData]="node.children" [seletedNode]="childNode" *ngIf="node.isOpen && childData === node.id"
          [mobileView]="mobileView"></app-user-view>
      </li>
    </ng-container>
    <ng-container *ngIf="treeData.length<1 && emptyOrg === false">
      <p class="pt10 pb10 text-center color-dark-grey mb-0">
        No department was created
      </p>
    </ng-container>
    <ng-container *ngIf="emptyOrg === true">
      <p class="pt10 pb10 text-center color-dark-grey mb-0">
        No Organisation was created
      </p>
    </ng-container>
  </ul>

  <!-- <h6  (click)="inviteUserModal(inviteUser)">Invite user</h6>
<h6  (click)="paymentModal(payment)">Payment</h6> -->

  <ng-template #createDept>
    <div class="modal-header">
      <h4 class="modal-title pull-left color-grey fs20">{{postTitle}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="form" [formGroup]="orgForm" (ngSubmit)="onSubmit()" novalidate>
        <ng-container *ngIf="postType ==='Invite'">
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><img src="assets/images/envelope.png" width="18"></span>
            </div>
            <input type="text" class="form-control" placeholder="Mail Address" formControlName="email"
              [ngClass]="{ 'is-invalid':submitted && email.errors   }">
            <div *ngIf="submitted && email.errors " class="invalid-feedback">
              <div *ngIf="email.errors.required ">Email is required</div>
              <div *ngIf="email.errors.pattern">Email must be a valid email address</div>
            </div>
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><img src="assets/images/menu-icons/users.png" width="18"></span>
            </div>
            <input type="text" class="form-control" placeholder="User Name" formControlName="username"
              [ngClass]="{ 'is-invalid':submitted && username.errors   }">
            <div *ngIf="submitted && username.errors " class="invalid-feedback">
              <div *ngIf="username.errors.required ">User Name is required</div>
              <div *ngIf="username.errors.minlength">User Name allowed minimum 3 charecters</div>
              <div *ngIf="username.errors.pattern">User Name allowed characters only</div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="postType ==='Update'">
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img *ngIf="isLocation" src="assets/images/org-icon.png" width="18">
                <img *ngIf="!isLocation" src="assets/images/dept-icon.png" width="18">
              </span>
            </div>
            <input type="text" class="form-control" [placeholder]="isLocation ? 'Organisation Name' : 'Department Name'"
              formControlName="name" [ngClass]="{ 'is-invalid':submitted && name.errors   }">
            <div *ngIf="submitted && name.errors " class="invalid-feedback">
              <div *ngIf="name.errors.required ">
                <ng-container *ngIf="isLocation">
                  Organisation Name is required
                </ng-container>
                <ng-container *ngIf="!isLocation">
                  Department Name is required
                </ng-container>
              </div>
              <div *ngIf="name.errors.pattern">Name allowed characters only</div>
              <div *ngIf="name.errors.minlength">Name must contains 3 Char Long</div>
            </div>
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text align-items-start"><img src="assets/images/description.png"
                  width="18"></span>
            </div>
            <textarea class="form-control" aria-label="With textarea" placeholder="Description" rows="4"
              formControlName="description" [ngClass]="{ 'is-invalid':submitted && description.errors   }"></textarea>
            <div *ngIf="submitted && description.errors " class="invalid-feedback">
              <div *ngIf="description.errors.required ">Description is required</div>

            </div>
          </div>
          <div class="input-group mb-4" *ngIf="isLocation">
            <div class="input-group-prepend">
              <span class="input-group-text"><img src="assets/images/location.png" width="18"></span>
            </div>
            <input type="text" class="form-control" placeholder="Location" formControlName="location"
              [ngClass]="{ 'is-invalid':submitted && location.errors   }">
            <div *ngIf="submitted && location.errors " class="invalid-feedback">
              <div *ngIf="location.errors.required ">Location is required</div>

            </div>
          </div>
        </ng-container>

        <div class="input-group mb-4" *ngIf="postType ==='Invite'">
          <div class="input-group-prepend">
            <span class="input-group-text border-0"><img src="assets/images/file.png" width="18"></span>
          </div>
          <input type="text" class="form-control bg-transparent border-0" placeholder="Admin" disabled>
          <div class="input-group-append">
            <span class="input-group-text bg-transparent toggle-switch border-0 ">
              <input type="checkbox" (click)="permissionChange($event.target.checked)" id="switch" /><label
                for="switch">Toggle</label>
            </span>
          </div>
        </div>

        <div class="text-center mt-30 mb-20">
          <button type="submit" class="btn btn-primary shadow"> {{postType}}</button>
        </div>
      </form>
    </div>
  </ng-template>



  <ng-template #deleteuser>
    <div class="modal-header">
      <h4 class="modal-title pull-left color-grey fs20">Delete User</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeUser()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text border-0">
              <img src="assets/images/menu-icons/users.png" width="18">
            </span>
          </div>

          <span class="form-control" style="border:0">{{deleteUserName}}</span>
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text border-0">
              <img src="assets/images/envelope.png" width="18">
            </span>
          </div>
          <span class="form-control" style="border:0">{{deleteUserEmail}}</span>
        </div>
        <!-- <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text border-0">
              <img src="assets/images/file.png" width="18">
            </span>
          </div>
          <input type="text" class="form-control bg-transparent border-0" placeholder="Admin" disabled>
          <div class="input-group-append">
            <span class="input-group-text bg-transparent toggle-switch border-0 ">
              <input type="checkbox" id="switch" [checked]="currentPermissionType.toString() !== 'READ'" disabled />
              <label for="switch">Toggle</label>
            </span>
          </div>
        </div> -->
        <div class="text-center mt-30 mb-20">
          <button type="button" class="btn btn-primary shadow"
            (click)="deleteConfirmModel(confirmDelete)">Delete</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #confirmDelete>
    <div class="modal-body text-center">
      <p class="mt-40 mb-30 fs20">Are you sure, you want to delete this user?</p>
      <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelDelete()">Cancel</button>
      <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteUser()">Delete</button>
    </div>
  </ng-template>



  <ng-template #confirmDelete1>
    <div class="modal-body text-center">
      <p class="mt-40 mb-30 fs20">Are you sure, you want to delete this {{deleteOrgName}}?</p>
      <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelDelete()">Cancel</button>
      <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteOrg()">Delete</button>
    </div>
  </ng-template>


  <!-- Edit User  -->
  <ng-template #updateUser>
    <div class="modal-header">
      <h4 class="modal-title pull-left color-grey fs20">Edit User</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeUser()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="form" [formGroup]="orgForm" (ngSubmit)="onDelete()" novalidate>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text border-0">
              <img src="assets/images/envelope.png" width="18">
            </span>
          </div>
          <input type="text" class="form-control" formControlName="email" placeholder="Email" readonly style="border:0">
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text border-0">
              <img src="assets/images/menu-icons/users.png" width="18">
            </span>
          </div>
          <input type="text" class="form-control" formControlName="username" placeholder="User Name" readonly
            style="border:0">
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text border-0">
              <img src="assets/images/file.png" width="18">
            </span>
          </div>
          <input type="text" class="form-control bg-transparent border-0" placeholder="Admin" disabled value="Admin">
          <div class="input-group-append">
            <span class="input-group-text bg-transparent toggle-switch border-0 ">
              <input type="checkbox" (click)="permissionChange($event.target.checked)"
                [checked]="this.orgForm.controls['permissionId'].value.toString() !== 'READ'" id="switch" />
              <label for="switch">Toggle</label>
            </span>
          </div>
        </div>
        <div class="text-center mt-30 mb-20">
          <button type="submit" class="btn btn-primary shadow">Update</button>
        </div>
      </form>
    </div>
  </ng-template>



  <ng-template #payment>
    <div class="modal-body text-center mt-15">
      <img src="assets/images/payment-success.png" width="170" class="mb-30">
      <h2 class="color-black fs16 font-weight-bold">Payment Successful</h2>
      <p class="color-grey fs14 mt-15">You will be redirected to home page</p>
      <button type="button" class="btn btn-primary shadow mb-30">Manage Org</button>
    </div>
  </ng-template>


</section>