<section>
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px" (click)="gotoBack()">
      <!-- <i class="fas fa-arrow-left text-white"></i> -->
      <img src="assets/images/back.png" width="17">
    </a>
    <div class="m-auto text-white fs16">{{title}} Care team</div>

  </nav>
  <div class="mobile-body p25 bg-white h-100vh">





    <form name="form" [formGroup]="addCareForm" (ngSubmit)="onSubmit()" class="incareview-form" novalidate>
      
      <div class="input-group custom-form-elemet mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text rounded-0  bg-transparent"><img src="assets/images/menu-icons/users.png"
              style="width: 15px;"></span>
        </div>
        <input type="text" class="form-control bg-transparent" placeholder="User Name" formControlName="username"
          [ngClass]="{ 'is-invalid':submitted && username.errors   }">
        <div *ngIf="submitted && username.errors " class="invalid-feedback">
          <div *ngIf="username.errors.required ">User Name is required</div>
        </div>
      </div>
      <div class="input-group custom-form-elemet mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text rounded-0  bg-transparent"><img src="assets/images/envelope.png" width="18"></span>
        </div>
        <input type="text" class="form-control bg-transparent" placeholder="Mail Address" formControlName="email"
          [ngClass]="{ 'is-invalid':submitted && email.errors   }">
        <div *ngIf="submitted && email.errors " class="invalid-feedback">
          <div *ngIf="email.errors.required ">Email is required</div>
          <div *ngIf="email.errors.pattern">Email must be a valid email address</div>
        </div>
      </div>

      <div class="input-group custom-form-elemet mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text rounded-0  bg-transparent border-0"><img src="assets/images/file.png"
              width="18"></span>
        </div>
        <input type="text" class="form-control bg-transparent border-0" placeholder="Admin" disabled>
        <div class="input-group-append">
          <span class="input-group-text bg-transparent toggle-switch border-0 ">
            <input type="checkbox" (click)="permissionChange($event.target.checked)" id="switch" /><label
              for="switch">Toggle</label>
          </span>
        </div>
      </div>

      <div class="text-center mt-30 mb-20">
        <button type="submit" class="btn btn-theme-gradient text-white shadow"> {{title}}</button>
      </div>
    </form>



  </div>
</section>