<section class="auth-content">
  <app-loader></app-loader>
  <div class="container log-container pb-sm-0 pb-5">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8 col-11 m-auto">

        <header class="pt-5 pb-5  d-md-none d-sm-block">
          <h1 class="fs16 text-white text-center font-weight-normal font-roboto">Login</h1>
        </header>

        <div class="text-center">
          <img src="./assets/images/logo.png" class="logo" alt="via-logo">
        </div>

        <form name="form" (ngSubmit)="loginForm.form.valid && loginSubmit()" #loginForm="ngForm"
          class="floating-input-form mt-5" novaliadte>
          <div class="mb-5">
            <div class="floating-label">
              <input class="floating-input" type="text" #otp_code="ngModel" name="otp_code"
                [(ngModel)]="logindata.otp_code" placeholder=" " autocomplete="off" required>
              <span class="highlight"></span>
              <label>OTP</label>
            </div>
            <div *ngIf="otp_code.errors && loginForm.submitted" class="text-danger mt-1">
              <p class="mb-0" *ngIf="otp_code.errors.required">OTP is required</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-12">
              <button class="btn btn-card btn-block btn-lg btn-rounded fw500 btn-shadow">Login</button>

            </div>
          </div>

        </form>

        <div class="text-white text-center mt-4 fs16">
          <span class="d-block mb-1">Forgot Password? <a class="font-weight-bold c-pointer text-white"
              routerLink="/app/forgotpassword">Get New!</a></span>
          <!--  <span class="d-block">Don't have an account? <a class="font-weight-bold c-pointer text-white" routerLink="/validemail">Sign Up!</a></span> -->
        </div>


      </div>
    </div>
  </div>
</section>