<!-- sidemenu List -->
<ul class="list-group" *ngIf="userType == '1'">
  <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a (click)="sidebarToggle()" class="pl10">
      <img src="assets/images/menu-icons/toggle-icon.png" width="26">
    </a>
  </li>

  <li class="list-group-item position-relative" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/app/ceo-management">
      <span class="menu-txt">CEO Management</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/app/users">
      <span class="menu-txt">Users</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
</ul>
<!-- sidemenu List -->

<!-- sidemenu List -->
<ul class="list-group" *ngIf="(isPatient === false && userType != '1') || userType == '3'">
  <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a (click)="sidebarToggle()" class="pl10">
      <img src="assets/images/menu-icons/toggle-icon.png" width="26" id="noprint">
    </a>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active">
    <a routerLink="/app/covid">
      <span class="menu-txt ml15">{{getname}}</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>

  <li class="list-group-item position-relative" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/app/patients">
      <span class="menu-txt">Patients</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active">
    <a routerLink="/app/media-slides">
      <span class="menu-txt ml15">Media</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active">
    <a routerLink="/app/tags">
      <span class="menu-txt ml15">Tag management</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active">
    <a routerLink="/app/assessment-management">
      <span class="menu-txt ml15">Assessment management</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active">
    <a routerLink="/app/settings">
      <span class="menu-txt ml15">Settings</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>

</ul>
<!-- sidemenu List -->


<!-- Patient sidemenu List -->
<ul class="list-group patient-menu" *ngIf="isPatient === true && userType != '1' && userType != '3'">
  <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a (click)="sidebarToggle()" class="pl10">
      <img src="assets/images/menu-icons/toggle-icon.png" width="26">
    </a>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active">
    <a href="javascript:void(0)" (click)="goRedirectPage('Notes', '/app/notes')">
      <span class="menu-txt">My Care Notes</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active">
    <a href="javascript:void(0)" (click)="goRedirectPage('Dos', '/app/instructions')">
      <span class="menu-txt">Do's and Don'ts</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active">
    <a href="javascript:void(0)" (click)="goRedirectPage('Meds', '/app/medications')">
      <span class="menu-txt">Medication</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a href="javascript:void(0)" (click)="goRedirectPage('Media', '/app/patient-media')">
      <span class="menu-txt">Media</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
  <li class="list-group-item position-relative" routerLinkActive="active">
    <a routerLink="/app/settings">
      <span class="menu-txt">Settings</span>
    </a>
    <div class="custom-border position-absolute"></div>
  </li>
</ul>
<!-- sidemenu List -->