<section>
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px">
      <img src="assets/images/back.png" width="17" routerLink='/app/manage'>
    </a>
    <div class="m-auto text-white fs16">{{postTitle}}</div>
  </nav>
  <div class="mobile-body bg-white h-100vh incareview-form p25">
    <form class="incareview-form" [formGroup]="orgForm" (ngSubmit)="inviteUser()">
      <div class="input-group mb-4 custom-form-elemet">
        <div class="input-group-prepend">
          <span class="input-group-text rounded-0 bg-white align-items-start user-menu"><img src="assets/images/menu-icons/users.png"></span>
        </div>
        <input type="text" class="form-control" placeholder="Name" formControlName="username" [ngClass]="{ 'is-invalid':submitted && username.errors   }">
          <div *ngIf="submitted && username.errors " class="invalid-feedback">
            <div *ngIf="username.errors.required ">User Name is required</div>
          </div>
      </div>
      <div class="input-group mb-4 custom-form-elemet">
        <div class="input-group-prepend pt7">
          <span class="input-group-text rounded-0 bg-white align-items-start"><img src="assets/images/envelope.png" width="18"></span>
        </div>
        <input type="email" class="form-control" placeholder="Email" formControlName="email"
                [ngClass]="{ 'is-invalid':submitted && email.errors   }" >
          <div *ngIf="submitted && email.errors " class="invalid-feedback">
            <div *ngIf="email.errors.required ">Email is required</div>
            <div *ngIf="email.errors.pattern">Email must be a valid email address</div>
          </div>
      </div>
      <div class="input-group mb-4 custom-form-elemet">
        <div class="input-group-prepend">
          <span class="input-group-text rounded-0 bg-white align-items-start border-0"><img src="assets/images/file.png" width="18"></span>
        </div>
        <input type="text" class="form-control bg-transparent border-0" placeholder="Admin" disabled>
        <div class="input-group-append">
          <span class="input-group-text bg-transparent toggle-switch border-0 ">
            <input type="checkbox" id="switch" (click)="permissionChange($event.target.checked)" [checked]="this.orgForm.controls['permissionId'].value.toString() !== 'READ'"/><label for="switch">Toggle</label>
          </span>
        </div>
      </div>
      <div class="text-center mt-30 mb-20">
        <button type="submit" class="btn btn-theme-gradient text-white shadow">{{postType}}</button>
      </div>
    </form>
  </div>
</section>
