.btn-card{
    background: $white;
    color: $teal-color;
    @extend .font-roboto ;
    &:hover{
      @extend .btn-shadow ;
    }
}

.btn-rounded{
    border-radius:30px !important;
}

.btn-shadow{
    box-shadow: #666666 0px 2px 12px;
}

.btn-theme-gradient{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #59bc93 0%, #0c9dce 100%, #0c9dce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%,#59bc93 0%,#0c9dce 100%,#0c9dce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%,#59bc93 0%,#0c9dce 100%,#0c9dce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#0c9dce',GradientType=1 ); /* IE6-9 */
    border-radius: 25px;
    border: none;
    padding: 10px 29px;
    width: 180px;
}