/******* bottom vavigation bar ********/

.bottom-navigation{
    bottom: -1px;
   .tabs-bar{
       border-radius: 12px;
       box-shadow: 0px 7px 16px #ddd;
       ul.list-inline{
           @extend .mb-0;
           li.list-inline-item{ 
               padding: 10px;
               @extend .m-0;
               @extend .fs8;
              
                .tabs-img{
                     img{
                         width:22px;
                         @extend .mb-5;
                         &.wid-12{
                            width: 12px;
                        }
                        &.active-img{
                            display: none;
                          }
                        &.inactive-img{
                            display: inline-block;
                        }
                     }
                   
                    // height: 20px;
                    // width:20px;
                    // background-size: contain;
                    // background-repeat: no-repeat;
                    // background-position: center;
                    // &.patient-img{
                    //     background-image:url('./assets/images/incare-mobile/recovered@2x.png');
                    // }

                    // &.insights-img{
                    //     background-image:url('./assets/images/incare-mobile/graph-grey.png');
                    // }

                    // &.media-img{
                    //     background-image:url('./assets/images/incare-mobile/appointment@2x.png');
                    // }

                    // &.appointments-img{
                    //     background-image:url('./assets/images/incare-mobile/appointment@2x.png');
                    // }
                }   

                // if active list 
                &.active{
                    color: $theme-color;
                    .tabs-img{
                        img{                 
                            &.active-img{
                                display: inline-block !important;
                            }
                            &.inactive-img{
                                display: none !important;
                            }
                        }
                    }
                }
            } 
       }
   }
}
