<section class="auth-content">
  <app-loader></app-loader>
  <div class="container log-container pb-sm-0 pb-5">
    <div class="row">
      <div class="col-lg-8 col-md-9 col-sm-8 col-11 m-auto">

        <header class="pt-5 pb-4 text-white d-md-none d-sm-block">
          <h1 class="fs16 text-center font-weight-normal font-roboto">Sign Up</h1>
        </header>


        <div class="text-center text-white font-weight-normal">
          <img src="./assets/images/logo.png" class="logo d-md-inline-block  d-none" alt="via-logo">
        </div>
        <h2 class="mt-4 text-md-center text-white fs30 font-weight-light font-roboto">Welcome, sign up now.</h2>

        <form #registrationForm="ngForm" (ngSubmit)="registrationForm.form.valid && registrationSubmit()"
          class="floating-input-form mt-5" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-5">
                <div class="floating-label">
                  <input class="floating-input" type="text" name="firstName" autocomplete="off" #firstName="ngModel"
                    [(ngModel)]="registrationdata.firstName" placeholder=" " required>
                  <span class="highlight"></span>
                  <label>First Name</label>
                </div>
                <div *ngIf="firstName.errors && registrationForm.submitted" class="text-danger mt-1">
                  <p class="mb-0" *ngIf="firstName.errors.required">First name is required</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-5">
                <div class="floating-label">
                  <input class="floating-input" type="text" autocomplete="off" name="lastName" #lastName="ngModel"
                    [(ngModel)]="registrationdata.lastName" placeholder=" " required>
                  <span class="highlight"></span>
                  <label>Last Name</label>
                </div>
                <div *ngIf="lastName.errors && registrationForm.submitted" class="text-danger mt-1">
                  <p class="mb-0" *ngIf="lastName.errors.required">Last Name is required</p>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-6">
                    <div class="mb-5">
                      <div class="floating-label">      
                        <input class="floating-input" type="password"  autocomplete="new-password" 
                        pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d][A-Za-z\d!@#$%^&*()_+]{8,19}$" name="password" #password="ngModel"  [(ngModel)]="registrationdata.password" placeholder=" " required>
                        <span class="highlight"></span>
                        <label>Password</label>
                      </div>
                      <div *ngIf="password.errors && registrationForm.submitted" class="text-danger mt-1">
                          <p class="mb-0" *ngIf="password.errors.required">Password is required</p>
                          <p class="mb-0" *ngIf="password.errors.pattern">Password should be atleast 8 letters with one number and one special character</p>
                      </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-5">
                      <div class="floating-label">      
                        <input class="floating-input" type="password" autocomplete="new-password" name="confirmpassword" 
                        pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d][A-Za-z\d!@#$%^&*()_+]{8,19}$" #confirmPassword="ngModel"  [(ngModel)]="registrationdata.confirmPassword" placeholder=" " required>
                        <span class="highlight"></span>
                        <label>Confirm Password</label>
                      </div>
                      <div *ngIf="confirmPassword.errors && registrationForm.submitted" class="text-danger mt-1">
                          <p class="mb-0" *ngIf="confirmPassword.errors.required">Confirm password is required</p>
                          <p class="mb-0" *ngIf="confirmPassword.errors.pattern">Password should be atleast 8 letters with one number and one special character</p>
                      </div>
                    </div>
                </div> -->

            <div class="col-md-6">
              <div class="mb-5">
                <div class="floating-label">
                  <my-date-picker name="dob" [options]="myDatePickerOptions" placeholder=" " #dob="ngModel"
                    [(ngModel)]="registrationdata.dob" required></my-date-picker>
                  <span class="highlight"></span>
                  <label [ngClass]="registrationdata.dob == null ? 'label-top' : 'date-label'">Date Of Birth</label>
                </div>
                <div *ngIf="dob.errors && registrationForm.submitted" class="text-danger">
                  <p class="mb-0" *ngIf="dob.errors.required">Date Of Birth is required</p>
                </div>
                <div *ngIf="isDobError" class="text-danger">
                  <div class="mb-0" *ngIf="isDobError">User must be of at least 18 years old</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 col-11 m-auto">
              <button type="submit" class="btn btn-card btn-block btn-lg btn-rounded fw500 btn-shadow">Sign Up</button>
            </div>
          </div>
        </form>

        <div class="text-white text-center mt-4 fs16">
          <span class="d-block mb-1"><a class="font-weight-bold  c-pointer text-white" (click)="redirectLinkvia()">Link
              My Via account </a></span>
          <span class="d-block mb-1">Already have an account? <a class="font-weight-bold  c-pointer text-white"
              routerLink="/app/login">Login!</a></span>
        </div>
      </div>
    </div>
  </div>
</section>