<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/patients">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">{{title}} patient</div>
      <ul class="list-inline position-absolute right-20">
        <!--  <li class="position-relative list-inline-item mr-4" (click)="createPage()">
          <a ><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
        </li>
        <li class="position-relative list-inline-item">
          <a><img src="./assets/images/incare-mobile/Path@2x.png"  class="w-22px"></a>
        </li> -->
      </ul>
    </nav>
  </div>
  <div class="mobile-body p25 bg-white mobile-view-hgt mobile-tb17">


    <!-- section 1 -->
    <div *ngIf="addpatient == 1" class="text-center mobile-form">

      <a class="d-block mb-3">
        <img src="./assets/images/incare-mobile/Group@3x.png" alt="form-image" class="w150px">
        <label class="d-block font-weight-bold mt-2">Scan Barcode</label>
      </a>

      <a class="d-block mb-3" (click)="switchTab(2)">
        <img src="./assets/images/incare-mobile/Group 2@3x.png" alt="form-image" class="w150px">
        <label class="d-block font-weight-bold mt-2">Complete Form</label>
      </a>

      <a class="d-block mb-3">
        <img src="./assets/images/incare-mobile/Group 3@3x.png" alt="form-image" class="w150px">
        <label class="d-block font-weight-bold mt-2">MRN Search</label>
      </a>
    </div>
    <!-- / section 1  -->

    <!-- add pateient form section -->
    <form [formGroup]="addPatientForm" (ngSubmit)="onSubmit()" novalidate class="incareview-form"
      *ngIf="addpatient == 2">

      <div class="modal-header p-0 incareview-desktop-view">
        <h4 class="modal-title pull-left fs26">{{title}} Patient
          <button type="button" class="close pull-right color-green-text opct-1" aria-label="Close"
            (click)="closeModal()">
            <img src="assets/images/cross.png" width="25">
          </button>
        </h4>

      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group custom-form-elemet mt-20">
            <div class="input-group-prepend">
              <span class="input-group-text  rounded-0 bg-white"
                [ngClass]="{ 'error':submitted && firstName.errors   }">
                <img src="./assets/images/menu-icons/users.png" class="w-17px" alt="user-image">
              </span>
            </div>
            <input type="text" class="form-control rounded-0" placeholder="First Name" aria-label="First Name"
              [ngClass]="{ 'error':submitted && firstName.errors   }" formControlName="firstName" required>
            <div *ngIf="submitted && firstName.errors " class="invalid-feedback">
              <div *ngIf="firstName.errors.required ">First Name is required</div>
              <div *ngIf="firstName.errors?.minlength ">First Name must be at least 3
                characters long</div>
              <div *ngIf="!firstName.errors?.minlength && firstName.errors?.pattern ">First Name must contains only
                alphanumeric values</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="gradient-box">
            <div class="input-group custom-form-elemet mt-20">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-0 bg-white"
                  [ngClass]="{ 'error':submitted && lastName.errors   }">
                  <img src="./assets/images/incare-mobile/Designation@2x.png" class="opct-0" alt="job-postion-image">
                </span>
              </div>
              <input type="text" class="form-control rounded-0" placeholder="Last Name" aria-label="Last Name"
                formControlName="lastName" [ngClass]="{ 'error':submitted && lastName.errors}" required>
              <div *ngIf="submitted && lastName.errors " class="invalid-feedback">
                <div *ngIf="lastName.errors.required ">Last Name is required</div>
                <div *ngIf="lastName.errors?.minlength">Last Name must be at least 1 characters long</div>
                <div *ngIf="!lastName.errors?.minlength && lastName.errors?.pattern ">Last Name must contains only
                  alphanumeric values</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group custom-form-elemet mt-20">
            <div class="input-group-prepend">
              <span class="input-group-text  rounded-0 bg-white">
                <img src="./assets/images/incare-mobile/Users@2x.png" alt="MRN-image">
              </span>
            </div>
            <input type="text" class="form-control rounded-0" placeholder="Email ID" formControlName="email">
            <div *ngIf="submitted && (!email.value || email.errors)" class="invalid-feedback">
              <div *ngIf="!email.value && emailPhoneErr ">Email is required</div>
              <div *ngIf="email.value && email.errors && email.errors.pattern">Email must be a valid email address</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group custom-form-elemet mt-30">
            <!-- <div class="input-group-prepend">
                  <span class="input-group-text  rounded-0 bg-white">
                    <img src="./assets/images/incare-mobile/appointment@2x.png" alt="DOB-image">
                  </span>
                </div> -->
            <!-- <input type="text" class="form-control rounded-0" placeholder="Date Of Birth" aria-label="Date Of Birth"
                  required> -->
            <my-date-picker name="dob" [ngClass]="{ 'date-error':submitted && dob.errors}"
              [options]="myDatePickerOptions" placeholder="Date Of Birth" formControlName="dob" required
              class="w-100 date-border"></my-date-picker>
            <span class="highlight"></span>
            <!-- <label >Date Of Birth</label>                 -->

            <div *ngIf="submitted && dob.errors " class="invalid-feedback">
              <div *ngIf="dob.errors.required ">DOB is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="input-group custom-form-elemet mt-20">
            <div class="input-group-prepend">
              <span class="input-group-text rounded-0 bg-white">
                <div class="btn-group" dropdown>
                  <button id="button-basic" dropdownToggle type="button"
                    class=" dropdown-toggle bg-transparent border-0" aria-controls="dropdown-basic">
                    <img src="./assets/images/CountryImage/{{countryCode}}.png" alt="country-image">
                    <span class="caret">{{defaultCountry}}</span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu px-2 min-auto" role="menu"
                    aria-labelledby="button-basic" style="max-height: 120px;overflow-y: auto;">
                    <li role="menuitem">
                      <a class="dropdown-item" href="javascript:void(0)" *ngFor="let flag of countryCodes"
                        (click)="setCountryInfo(flag)">
                        <img src="./assets/images/CountryImage/{{flag.code}}.png" alt="country-image">
                        <span class="caret">{{flag.dial_code}}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </span>
            </div>
            <input type="text" class="form-control rounded-0" placeholder="Mobile Number" formControlName="phoneNumber"
              maxlength="{{phoneMaxLength}}">
            <div *ngIf="!phoneNumber.value && submitted && emailPhoneErr " class="invalid-feedback">
              <div *ngIf="emailPhoneErr ">phoneNumber is required</div>
            </div>
            <div *ngIf="isValidPhoneError " class="invalid-feedback">Enter Valid Mobile No</div>
          </div>
        </div>
      </div>









      <!-- <div class="input-group custom-form-elemet mt-30">
        <div class="input-group-prepend">
          <span class="input-group-text  rounded-0 bg-white">
            <img src="./assets/images/menu-icons/users.png" class="w-17px" alt="user-image">
          </span>
        </div>
        <input type="text" class="form-control rounded-0" placeholder="Consultant Name"
          aria-label="Consultant Name">

      </div>

      <div class="input-group custom-form-elemet mt-30">
          <div class="input-group-prepend">
            <span class="input-group-text  rounded-0 bg-white">
              <img src="./assets/images/incare-mobile/Group@2x.png" alt="MRN-image">
            </span>
          </div>
          <input type="text" class="form-control rounded-0" placeholder="MRN Number" aria-label="MRN Number"
             minlength="10" maxlength="10" required>
        </div> -->

      <div class="text-center mt-40">
        <button type="submit" class="btn btn-theme-gradient text-white shadow">{{title}} Patient</button>
      </div>

    </form>

    <!-- add pateient form section -->



  </div>
</section>