<div class="myorg overflow-x-hidden">
  <div class="row heading mb-20" *ngIf="!showOrgContent">
    <div class="col-md-12 incareview-desktop-view">
      <h1 class="color-dark-black fs36 font-roboto"><img src="assets/images/back-arrow.png" class="mr-4 mt--5" width="19" routerLink="/app/settings" (click)="clear()">My Org <button *ngIf="((emptyOrg && userType === 3) || showCreate || userType === 1)"  class="btn btn-secondary btn-lg ml-20 fs16 p12 bg-transparent color-green border-green btn-shadow outline-0"
          (click)="createOrgModal(createOrg)" ><i class="fas fa-plus"></i> Create Organisation</button>
      </h1>
    </div>
    <!-- <div class="col-md-4 col-sm-7">
      <div class="mobile-floating-search seachfiled-color" [ngClass]="{'animated-hiding' : searchMobileToggle }">
        <div class="input-group search-field">
          <input type="text" class="form-control border-0 h50 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label="" aria-describedby="basic-addon1" />
          <div class="input-group-append">
            <button class="btn bg-transparent btn-circle rounded-circle py-0" type="button"><img src="./assets/images/search.png"  class="via-search" />
              </button>
          </div>
        </div>
      </div>
    </div>   -->
  </div>
  <div class="incareview-desktop-view" *ngIf="!showTreeview">
  <tree-view [treeData]="myTree" [emptyOrg]="emptyOrg" [seletedorgNode]="seletedNode" [isOrg]="isOrg" [showCreate]="showCreate" (hideOrgTittle)="selectOrgContent($event)"></tree-view>
</div>


  <ng-template #createOrg>
    <div class="modal-header">
      <h4 class="modal-title pull-left fs20">Create Organisation</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="form" [formGroup]="orgForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="assets/images/org-icon.png" width="18"></span>
              </div>
              <input type="text" class="form-control" placeholder="Org Name" formControlName="name"
                [ngClass]="{ 'is-invalid':submitted && name.errors   }" required>
              <div *ngIf="submitted && name.errors " class="invalid-feedback">
                <div *ngIf="name.errors.required ">Org Name is required</div>
                <div *ngIf="name.errors.pattern">Name allowed charecters only</div>
              </div>
            </div>
            <div class="input-group mb-4" *ngIf="hideMail">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="assets/images/envelope.png" width="18"></span>
              </div>
              <input type="text" class="form-control" placeholder="Mail Address" formControlName="email"
                [ngClass]="{ 'is-invalid':submitted && email.errors   }" required>
              <div *ngIf="submitted && email.errors " class="invalid-feedback">
                <div *ngIf="email.errors.required ">Email is required</div>
                <div *ngIf="email.errors.pattern">Email must be a valid email address</div>
              </div>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="assets/images/location.png" width="18"></span>
              </div>
              <input type="text" class="form-control" placeholder="Location" formControlName="location"
              [ngClass]="{ 'is-invalid':submitted && location.errors   }" required>
              <div *ngIf="submitted && location.errors " class="invalid-feedback">
                <div *ngIf="location.errors.required ">Location is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text align-items-start"><img src="assets/images/description.png"
                    width="18"></span>
              </div>
              <textarea class="form-control" aria-label="With textarea" placeholder="Description" rows="5" formControlName="description"
              [ngClass]="{ 'is-invalid':submitted && description.errors   }" required></textarea>
              <div *ngIf="submitted && description.errors " class="invalid-feedback">
                <div *ngIf="description.errors.required ">Description is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-30 mb-20">
          <button type="submit" class="btn btn-primary shadow">Create Org</button>
        </div>
      </form>
    </div>
  </ng-template>

</div>




<!-- Mobile view content -->

<section class="create-page">
  <div *ngIf="hideCreateOrg">
    <div  class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/settings">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Manage</div>
      <ul class="list-inline position-absolute right-20"> 
        <!-- <li class="position-relative list-inline-item mr-4" *ngIf="emptyOrg || userType === 1"  (click)="createPage()">
          <a ><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
        </li> -->
        <!-- <li class="position-relative list-inline-item">
          <a><img src="./assets/images/incare-mobile/Shape@2x.png" (click)="toggleSearchMobile()" class="w-22px"></a>
        </li> -->
        <li class="position-relative list-inline-item"  (click)="createDepartment()" *ngIf="emptyOrg === false && showCreate">
          <a><img src="./assets/images/incare-mobile/plus@2x.png" class="w-22px"></a>
        </li>
      </ul>
    </nav>
    <div class="mobile-body bg-white" *ngIf="createOrgData && emptyOrg === true && (userType === 3 || showCreate === true || userType === 1)">
      <div class="text-center pt-5">
        <img src="assets/images/incare-plus.png" width="170" class="mb-30" (click)="createPage()">
        <h2 class="color-black fs16 font-weight-bold">Create Organization</h2>
      </div>

    </div>
  </div>
    <div *ngIf="showTreeview" class="myorg org-top">
       
        <tree-view [treeData]="myTree" [emptyOrg]="emptyOrg" [isOrg]="isOrg" [seletedorgNode]="seletedNode"  (hideOrgTittle)="selectOrgContent($event)"></tree-view>
    </div>
    
  </div>

  <div *ngIf="showCreateOrg">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
        <i class="fas fa-arrow-left text-white fs16"></i>
      </a>
      <div class="m-auto text-white fs16">Create Org</div>
    </nav>
    <div class="mobile-body p25 bg-white h-100vh">

      <form name="form" [formGroup]="orgForm" (ngSubmit)="onSubmit()" novalidate class="incareview-form">
        <div class="mb-4">
          <div class="input-group custom-form-elemet">
            <div class="input-group-prepend">
              <span class="input-group-text  rounded-0 bg-white">
                <img src="assets/images/org-icon.png" alt="org-image">
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Org Name" formControlName="name"
              [ngClass]="{ 'is-invalid':submitted && name.errors   }" required>
          </div>
          <div *ngIf="submitted && name.errors " class="text-danger">
            <div *ngIf="name.errors.required ">Org Name is required</div>
            <div *ngIf="name.errors.pattern ">Org Name allowed charactrers only</div>
          </div>
        </div>

        <div class="input-group custom-form-elemet mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text  rounded-0 bg-white align-items-start">
              <img src="assets/images/description.png" alt="Description">
            </span>
          </div>
              <textarea type="text" class="form-control" rows="4" placeholder="Description"
            aria-label="Description" formControlName="description"
              [ngClass]="{ 'is-invalid':submitted && description.errors   }" required></textarea>
              <div *ngIf="submitted && description.errors " class="invalid-feedback">
                <div *ngIf="description.errors.required ">Description is required</div>
              </div>
        </div>

        <div class="mb-4" *ngIf="hideMail">
          <div class="input-group custom-form-elemet">
            <div class="input-group-prepend">
              <span class="input-group-text  rounded-0 bg-white">
                <img src="assets/images/incare-mobile/Users@2x.png" alt="email-image">
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Email Address" formControlName="email"
              [ngClass]="{ 'is-invalid':submitted && email.errors   }" required>
          </div>
          <div *ngIf="submitted && email.errors " class="text-danger">
            <div *ngIf="email.errors.required ">Email is required</div>
            <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
        </div>

        <div class="input-group custom-form-elemet mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text  rounded-0 bg-white">
              <img src="assets/images/location.png" alt="location-image">
            </span>
          </div>
            <input type="text" class="form-control" placeholder="Location" formControlName="location" [ngClass]="{ 'is-invalid':submitted && location.errors   }" required>
            <div *ngIf="submitted && location.errors " class="invalid-feedback">
              <div *ngIf="location.errors.required ">Location is required</div>
            </div>
        </div>

        <div class="text-center mt-40">
          <button type="submit" class="btn btn-theme-gradient text-white shadow">Create Org</button>
        </div>

      </form>
    </div>
  </div>  
</section>


<!-- Mobile view content -->
