<section>

  <ul class="pl-0" *ngIf="showOrganisation">
    <ng-container *ngIf="treeData.length>0">
      <li *ngFor="let node of treeData" class="list-inline treeview">
        <div class="row pt20 pb20 treeview-margin">
          <div class="col-md-8 col-7 text-truncate">
            <span (click)="showNode(node,false)"  *ngIf="!node.isOpen && node.puid>1" class="fas "
              [ngClass]="node.isOpen && childData === node.id ? 'up-arrow' : 'down-arrow bg-grey'">
            </span>
            <span (click)="showNode(node,true)"  *ngIf="node.puid>1 && node.isOpen" class="fas "
              [ngClass]="node.isOpen && childData === node.id ? 'up-arrow' : 'down-arrow bg-grey'">
            </span>
            <ng-container *ngIf="node.puid === 1">
              <img src="assets/images/org-icon.png" alt="Organisation" width="20" class="ml-15 mr-15">
            </ng-container>
            <ng-container *ngIf="node.puid !== 1">
              <img src="assets/images/dept-icon.png" alt="Department" width="20" class="ml-15 mr-15">
            </ng-container>
            
            <span class="fs18 font-roboto font-weight-light" (click)="showNode(node,false)" *ngIf="!node.isOpen">
              {{node.nodes.name}}</span>
             <span class="fs18 font-roboto font-weight-light" (click)="showNode(node,true)" *ngIf="node.isOpen">
              {{node.nodes.name}}</span>
            <!-- <span class="fs18 font-roboto font-weight-light"
            [ngClass]="node.isOpen && childData === node.id && node.children.length>0 ? 'font-weight-bold':''" (click)="showNode(node,false)">{{node.nodes.name}}</span> -->
          </div>
          <div class="col-md-4 col-5 text-right">

            <span class="float-right">
              <span *ngIf="node.myActions.isEdit || node.myActions.isDelete" class="btn-group myorg-dd incareview-mobile-view" dropdown>
                <span class="mr-2 d-xl-none" id="button-basic" dropdownToggle>
                  <img src="assets/images/more.png" alt="more" width="20">
                </span>

                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <li *ngIf="node.myActions.isEdit" role="menuitem" class="position-relative"><a class="dropdown-item text-muted"
                      href="javascript:void(0)" (click)="createDeptModal(createDept,'edit',node)"><img
                        src="assets/images/settings.png" alt="Settings" width="22"> <span
                        class="position-absolute top-12">Edit</span></a></li>
                  <li *ngIf="node.myActions.isDelete" role="menuitem" class="position-relative"><a class="dropdown-item text-muted"
                      href="javascript:void(0)" (click)="deleteConfirmModel(confirmDelete,node.nodes)"><img
                        src="assets/images/delete.png" alt="Delete" width="18"> <span
                        class="position-absolute top-12">Delete</span></a></li>
                </ul>
              </span>
            </span>

            <span class="float-right">
              <span *ngIf="node.myActions.isCreate && node.puid>1" class="mr-4 float-left" (click)="createDeptModal(createDept,'create',node)"><img
                  src="assets/images/create-icon.png" alt="Create" width="20"></span>

              
                  <span class="incareview-desktop-view float-left">
                    <span *ngIf="node.myActions.isEdit" class="mr-4" (click)="createDeptModal(createDept,'edit',node)"><img
                        src="assets/images/settings.png" alt="Settings" width="22"></span>
                    <span *ngIf="node.myActions.isDelete" class="mr-4" (click)="deleteConfirmModel(confirmDelete,node.nodes)" ><img
                        src="assets/images/delete.png" alt="Delete" width="18"></span>
                </span>
            </span>
            


          </div>
        </div>
        <tree-view [treeData]="node.children" [seletedorgNode]="childNode" *ngIf="node.isOpen && childData === node.id && node.puid>1"></tree-view>
      </li>
    </ng-container>
    <ng-container *ngIf="treeData.length<1 && emptyOrg === false">
      <p class="pt10 pb20 text-center color-dark-grey fs18">
          No department was created
      </p>
    </ng-container>
    <ng-container *ngIf="emptyOrg === true">
      <p class="pt10 pb20 text-center color-dark-grey fs18">
          No organisation was created
      </p>
    </ng-container>
  </ul>

<div *ngIf="showDepartment">
  <div class="row heading mb-20 org-top incareview-desktop-view">
    <div class="col-md-12">
      <h1 class="color-dark-black fs36 font-roboto"><span (click)="backToOrg()"><img src="assets/images/back-arrow.png" class="mr-4 mt--5" width="19" >{{orgName}}</span></h1>
    </div>
    <!-- <div class="col-md-5 incareview-desktop-view">
      <div class="mobile-floating-search seachfiled-color" [ngClass]="{'animated-hiding' : searchMobileToggle }">
        <div class="input-group search-field">
          <input type="text" class="form-control border-0 h50 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label="" aria-describedby="basic-addon1" />
          <div class="input-group-append">
            <button class="btn bg-transparent btn-circle rounded-circle py-0" type="button"><img src="./assets/images/search.png"  class="via-search" />
              </button>
          </div>
        </div>
      </div>
    </div>   -->
  </div>
  <div class="mt-20 ask-doctor appointments org-dept-top">
    <tabset class="mt-3">
      <tab heading="Departments" (selectTab)="onSelect($event)">
          <div class="incareview-org">
          <div class="bg-white text-center mt-25 mb-25 p20 shadow-box br-10 incareview-desktop-view" (click)="createDeptModal(createDept,'create',selectedNode)" *ngIf="showCreate === true" >
            <img src="assets/images/add.png" alt="Create" width="20">
            <span class="theme-color ml-2">Create Department</span>
          </div>
          <tree-view [treeData]="nodeChildren" [seletedorgNode]="childNode" [showChild]="true"></tree-view>
            </div>
      </tab>
      <tab heading="Users" (selectTab)="onSelect($event)">
        <div class="incareview-user">
            <app-users></app-users>
          </div>
      </tab>
    </tabset>
  </div>
</div>
  <!-- <h6  (click)="inviteUserModal(inviteUser)">Invite user</h6>
<h6  (click)="paymentModal(payment)">Payment</h6> -->

  <ng-template #createDept>
    <div class="modal-header">
      <h4 class="modal-title pull-left color-grey fs20">{{postTitle}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="form" [formGroup]="orgForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img *ngIf="isLocation" src="assets/images/org-icon.png" width="18">
              <img *ngIf="!isLocation" src="assets/images/dept-icon.png" width="18">
            </span>
          </div>
          <input type="text" class="form-control" [placeholder]="isLocation ? 'Organisation Name' : 'Department Name'" formControlName="name"
            [ngClass]="{ 'is-invalid':submitted && name.errors   }" required>
          <div *ngIf="submitted && name.errors " class="invalid-feedback">
            <div *ngIf="name.errors.required ">
              <ng-container *ngIf="isLocation">
                  Organisation Name is required
              </ng-container>
              <ng-container *ngIf="!isLocation">
                  Department Name is required
              </ng-container>
              
            </div>
            <div *ngIf="name.errors.pattern ">Name allowed characters only</div>
          </div>
        </div>
        <div class="input-group mb-4" *ngIf="isLocation">
          <div class="input-group-prepend">
            <span class="input-group-text"><img src="assets/images/location.png" width="18"></span>
          </div>
          <input type="text" class="form-control" placeholder="Location" formControlName="location"
            [ngClass]="{ 'is-invalid':submitted && location.errors   }" >
          <div *ngIf="submitted && location.errors " class="invalid-feedback">
            <div *ngIf="location.errors.required ">Location is required</div>

          </div>
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text align-items-start"><img src="assets/images/description.png" width="18"></span>
          </div>
          <textarea class="form-control" aria-label="With textarea" placeholder="Description" rows="4" formControlName="description"
          [ngClass]="{ 'is-invalid':submitted && description.errors   }"></textarea>
          <div *ngIf="submitted && description.errors " class="invalid-feedback">
            <div *ngIf="description.errors.required ">Description is required</div>

          </div>
        </div>

        <div class="text-center mt-30 mb-20">
          <button type="submit" class="btn btn-primary shadow"> {{postType}}</button>
        </div>
      </form>
    </div>
  </ng-template>

  

  <ng-template #confirmDelete>
    <div class="modal-body text-center">
      <p class="mt-40 mb-30 fs20">Are you sure, you want to delete this {{deleteOrgName}}?</p>
      <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelDelete()">Cancel</button>
      <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteOrg()">Delete</button>
    </div>
  </ng-template>

  <ng-template #inviteUser>
    <div class="modal-header">
      <h4 class="modal-title pull-left color-grey fs20">Invite User</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefUser.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><img src="assets/images/menu-icons/users.png" width="18"></span>
          </div>
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><img src="assets/images/envelope.png" width="18"></span>
          </div>
          <input type="email" class="form-control" placeholder="Email" rows="4">
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text border-0"><img src="assets/images/file.png" width="18"></span>
          </div>
          <input type="text" class="form-control bg-transparent border-0" placeholder="Admin" disabled>
          <div class="input-group-append">
            <span class="input-group-text bg-transparent toggle-switch border-0 ">
              <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
            </span>
          </div>
        </div>
        <div class="text-center mt-30 mb-20">
          <button type="button" class="btn btn-primary shadow">Invite</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #payment>
    <div class="modal-body text-center mt-15">
      <img src="assets/images/payment-success.png" width="170" class="mb-30">
      <h2 class="color-black fs16 font-weight-bold">Payment Successful</h2>
      <p class="color-grey fs14 mt-15">You will be redirected to home page</p>
      <button type="button" class="btn btn-primary shadow mb-30">Manage Org</button>
    </div>
  </ng-template>


</section>