<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" (click)="gotomenu()">
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Manage</div>
      <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item" >
          <!-- <a><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>  -->
        </li>
        <li class="position-relative list-inline-item">
          <!-- <a><img src="./assets/images/incare-mobile/Path@2x.png"  class="w-22px"></a> -->
        </li>
      </ul>
      <!-- <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item">
          <i class="fas fa-search text-white"></i>
        </li>
      </ul> -->
    </nav>
    </div>
  <div class="mobile-body bg-white h-100vh px-4 ask-doctor appointments overflow-x-hidden">

        <tabset class="mt-3">
          <tab heading="Departments">
            <div class="incareview-org">
              <app-my-org> </app-my-org>
            </div>
          </tab>
          <tab heading="Users">
            <div class="incareview-user">
                <app-users></app-users>
              </div>
          </tab>
        </tabset>
      
    

  </div>
</section>



<!-- bottom tabs -->
<div class="incareview-mobile-view">
  <app-bottomnav></app-bottomnav>
</div>
<!-- bottom tabs -->



