<section>
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Care Team</div>
      <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item mr-4" (click)="createPage()">
          <a ><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
        </li>
        <li class="position-relative list-inline-item">
          <a><img src="./assets/images/incare-mobile/Path@2x.png"  class="w-22px"></a>
        </li>
      </ul>
  
    </nav>
    <div class="mobile-body bg-white h-100vh">
   

      <form class="pt20 pb20 pl15 pr15">
 <div class="gradient-box">
          <div class="input-group search-field">
              <input type="text" class="form-control border-0 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label="" aria-describedby="basic-addon1" />
              <div class="input-group-append">
                  <button class="btn bg-transparent btn-circle rounded-circle py-0" type="button"><img src="./assets/images/search.png" class="via-search" />
                  </button>
              </div>
          </div>
        </div>

      </form>


      <ul class="list-group patients-list">
          <li class="list-group-item mb-1">
              <img src="./assets/images/user.jpg" class="position-absolute patients-img rounded">
              <div class="patients-content">
                <h1 class="fs16 color-black mb-0">User Name</h1>
                <span class="fs12 grey-color">Last Message</span>
              </div>
  
          </li>
          <li class="list-group-item mb-1">
              <img src="./assets/images/user.jpg" class="position-absolute patients-img rounded">
              <div class="patients-content">
                <h1 class="fs16 color-black mb-0">User Name</h1>
                <span class="fs12 grey-color">Last Message</span>
              </div>
          </li>
          <li class="list-group-item mb-1">
              <img src="./assets/images/user.jpg" class="position-absolute patients-img rounded">
              <div class="patients-content">
                <h1 class="fs16 color-black mb-0">User Name</h1>
                <span class="fs12 grey-color">Last Message</span>
              </div>
          </li>
        </ul>
    </div>
  </section>



  <!-- bottom tabs -->
  <app-bottomnav></app-bottomnav>
<!-- bottom tabs -->