.btn-theme-gradient{
    padding: 1px 10px;
    width: 83px;
    font-size: 14px;
}

.add-video-brdr{
    ul{
        li{
            &:last-child{
                border: none;
            }
        }
    }
}
.fs14{
    font-size: 14px;
}

.textover {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 350px;
    height: 40px;
    white-space: nowrap;
}

.deletemedia{
    width: 25px;
    float: right;
    position: relative;
    top: -30px;
}
.list-cta {
    display: flex;
}
