<ng-container *ngIf="!isAddMedia">
  <section>
    <div class="incareview-mobile-view">
      <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
        <a class="navbar-brand position-absolute top-17px" routerLink="/app/patients">
          <!-- <i class="fas fa-arrow-left text-white"></i> -->
          <img src="assets/images/back.png" width="17">
        </a>
        <div class="m-auto text-white fs16">Patient Profile</div>
        <!-- <ul class="list-inline position-absolute right-20">
                <li class="position-relative list-inline-item mr-4" routerLink="/add-patient" (click)="createPage()">
                  <a ><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
                </li>
                <li class="position-relative list-inline-item">
                  <a><img src="./assets/images/incare-mobile/Path@2x.png"  class="w-22px"></a>
                </li>
              </ul> -->
      </nav>
    </div>
    <div class="mobile-body bg-white mobile-view-hgt">
      <div class="row">
        <div class="col-md-4 desktop-border">
          <div class="incareview-desktop-view">
            <h1 class="color-dark-black profile-title font-roboto">
              <span routerLink="/app/covidpatients">
                <i class="fa fa-angle-left color-arrow-grey mr-3"></i>
              </span> Patient Careplan
            </h1>
          </div>
          <div class="patient-profile-info user pb16 profile-webview">
            <img src="./assets/images/user.jpg" alt="patient-profile-img" class="position-absolute avator br-10">
            <div class="patient-info patient-info-data grey-color fs12">
              <h1 class="color-black fs16 desktop-bold-text desktop-title text-truncate">
                <ng-container *ngIf="patientDetails.firstName">
                  {{patientDetails.firstName | titlecase}} {{patientDetails.lastName | titlecase}}
                </ng-container>
                <!-- <ng-container *ngIf="!patientDetails.firstName">
                          {{patientDetails.email}}
                      </ng-container> -->

              </h1>
              <p class="mb-1">
                <ng-container *ngIf="patientDetails.email">
                  {{patientDetails.email}}
                </ng-container>
              </p>
              <!-- <p class="mb-1">Age: {{patientDetails.age}}   </p> -->
              <p class="mb-1">{{patientDetails?.dob | date :'mediumDate'}} &nbsp;</p>
              <!-- <p class="mb-1">MRN: 12345567</p>
                  <p class="mb-1">Age: {{patientDetails.age}}  | Gender: Male </p> -->
              <!-- <p class="mb-1">Consultant: Dr.Phil McGraw</p> -->
              <ng-container *ngIf="summaryList && isPermission && isSummary">
                <button *ngIf="isAllowCreate" class="btn btn-theme-gradient text-white shadow"
                  (click)="publishSummary()">Publish </button>
                <button *ngIf="!isAllowCreate" class="btn btn-theme-gradient text-white shadow"
                  (click)="publishSummary()"> Edit </button>
              </ng-container>
            </div>

            <img *ngIf="isPermission" src="./assets/images/menu-icons/edit-icon.png" alt="edit-image"
              (click)="editPatient(patientDetails.id)" class="edit-icon-profile mr-4 position-absolute c-pointer">
            <!-- <span *ngIf="isPermission" class="mr-4 c-pointer" (click)="deleteConfirmModel(confirmDelete,patientDetails)">
                  Delete Patient
                </span> -->
            <img *ngIf="isPermission" src="./assets/images/menu-icons/delete.png" alt="Delete"
              (click)="deleteConfirmModel(confirmDelete,patientDetails)"
              class="edit-icon-profile position-absolute c-pointer">
            <!-- <img src="./assets/images/menu-icons/edit-icon.png" alt="edit-image" (click)="editPatient(patientDetails.id)" class="edit-icon-profile position-absolute"> -->


            <hr class="mb-0 incareview-mobile-view">
          </div>
        </div>
        <div class="col-md-8">
          <div class="custom-tabs-head">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': tabs == 1}" (click)="openTab(1)">Details</a>
              </li>
              <li class="nav-item" *ngIf="isEnablenotes || isEnableDos">
                <a class="nav-link" [ngClass]="{'active': tabs == 2}" (click)="openTab(2)">Notes</a>
              </li>
              <li class="nav-item" *ngIf="isEnableMeds">
                <a class="nav-link" [ngClass]="{'active': tabs == 3}" (click)="openTab(3)">Medications</a>
              </li>
              <li class="nav-item" *ngIf="isEnableMedia">
                <a class="nav-link" [ngClass]="{'active': tabs == 4}" (click)="openTab(4)">Media</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': tabs == 5}" (click)="openTab(5)">Checklist</a>
              </li>
            </ul>
          </div>
          <div class="custom-tabs-body">


            <!-- Details tab  -->
            <div *ngIf="tabs == 1" class="p20">
              <accordion>
                <accordion-group [isOpen]="isFirstOpen">
                  <div accordion-heading>
                    <h2 class="fs14 color-dark-black d-inline-block">Tag</h2>
                    <i class="fas fa-chevron-down float-right pt5 grey-color"></i>
                  </div>
                  <!-- <textarea class="form-control border-theme br-10" rows="4" placeholder="" value="">
   
                     </textarea> -->
                  <!-- <mwl-text-input-autocomplete-container>
                       <textarea
                         placeholder="Type @ to search..."
                         class="form-control"
                         rows="5"
                         [(ngModel)]="formControlValue"
                         (input)="addTags()"
                         mwlTextInputAutocomplete
                         [findChoices]="findChoices"
                         [getChoiceLabel]="getChoiceLabel">
                       </textarea>
                     </mwl-text-input-autocomplete-container> -->

                  <tag-input [(ngModel)]='Seleteditems' [validators]="validators" [onlyFromAutocomplete]="true"
                    (onAdd)="onItemAdded($event)" (onRemove)="onItemRemoved($event)"
                    [disable]="summaryList?.isPublish === 1" (onFocus)="onInputFocused($event)"
                    secondaryPlaceholder='Type @ to Search...' class="summary-input" *ngIf="isPermission">
                    <tag-input-dropdown [autocompleteItems]="items" [showDropdownIfEmpty]="isDrop"
                      [dynamicUpdate]="false">
                    </tag-input-dropdown>
                  </tag-input>

                  <tag-input [(ngModel)]='Seleteditems' [validators]="validators" [onlyFromAutocomplete]="true"
                    (onAdd)="onItemAdded($event)" (onRemove)="onItemRemoved($event)" [disable]="true"
                    (onFocus)="onInputFocused($event)" secondaryPlaceholder='Type @ to Search...' class="summary-input"
                    *ngIf="!isPermission">
                    <tag-input-dropdown [autocompleteItems]="items" [showDropdownIfEmpty]="isDrop"
                      [dynamicUpdate]="false">
                    </tag-input-dropdown>
                  </tag-input>
                </accordion-group>


                <accordion-group [isOpen]="true">
                  <div accordion-heading>
                    <!-- <div class="mb-4"> -->
                    <h2 class="fs14 color-dark-black d-inline-block"> Care Team : </h2>
                    <div class="input-group custom-form-elemet">
                      <select class='form-control media-select' [(ngModel)]="nodeID"
                        (change)="onCareTeamChange($event.target.value)" required>
                        <option value='' selected disabled>Select Team</option>
                        <ng-container *ngFor="let teamList of careTeamList">
                          <option value="{{teamList.nodeId}}">{{teamList.name}}</option>
                        </ng-container>
                      </select>
                    </div>
                    <!--  </div> -->
                    <i class="fas fa-chevron-down float-right pt5 grey-color"></i>
                  </div>



                  <!-- care team slider -->
                  <ul class="slider-card careteam-scroll list-unstyled list-inline fs12 pb-0 m-0">
                    <li class="list-inline-item text-center" *ngIf="isPermission && isAllowCreate">
                      <img src="./assets/images/incare-plus.png" alt="plus-image" (click)="gotoAddCare()"
                        class="user-img rounded-circle">
                      <h3 class="fs14 color-dark-black mb-0 mt-3">Name</h3>
                      <!-- <span class="grey-color2">Job Role</span>
                                <a class="theme-color d-block mt-1">Add New</a> -->
                    </li>
                    <ng-container *ngFor="let userList of careTeamUser">
                      <li class="list-inline-item text-center">
                        <img src="./assets/images/user.jpg" alt="plus-image" class="user-img rounded-circle">
                        <h3 class="fs14 mb-0 mt-3">
                          <ng-container *ngIf="userList.user.firstName">
                            {{userList.user.firstName}} {{userList.user.lastName}}
                          </ng-container>
                          <ng-container *ngIf="!userList.user.firstName">
                            {{userList.user.username}}
                          </ng-container>
                        </h3>
                        <span class="grey-color2">{{userList.user.designation}}</span>
                        <!-- <a class="theme-color d-block mt-1">Add New</a> -->
                      </li>
                    </ng-container>

                    <!-- <li class="list-inline-item text-center">
                                <img src="./assets/images/user.jpg" alt="plus-image" class="user-img rounded-circle">
                                <h3 class="fs14 mb-0 mt-3">Name</h3>
                                <span class="grey-color2">Job Role</span>
                                <a class="theme-color d-block mt-1">Add New</a>
                              </li>
                              <li class="list-inline-item text-center">
                                <img src="./assets/images/user.jpg" alt="plus-image" class="user-img rounded-circle">
                                <h3 class="fs14 mb-0 mt-3">Name</h3>
                                <span class="grey-color2">Job Role</span>
                                <a class="theme-color d-block mt-1">Add New</a>
                              </li> -->
                  </ul>
                  <!-- care team slider -->
                </accordion-group>
                <accordion-group [isOpen]="true">
                  <div accordion-heading>
                    <h2 class="fs14 color-dark-black d-inline-block"> Via history</h2>
                    <i class="fas fa-chevron-down float-right pt5 grey-color"></i>
                  </div>
                  <ul class="via-history-list list-group fs12">
                    <ng-container class="incareview-desktop-view">
                      <li
                        class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent incareview-desktop-view">
                        <div class="grey-color pr90 history-report">
                          <span class="d-block color-dark-black">Date</span>
                          <!-- <span class="d-block color-dark-black">Reason</span> -->
                          <span class="d-block color-dark-black">Notes</span>
                        </div>
                      </li>
                    </ng-container>
                    <ng-container *ngFor="let history of historyList">
                      <li class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent">
                        <div class="grey-color pr90 history-report">
                          <span class="d-block">
                            {{(history.created_at ? history.created_at:'-') | date:'dd-MM-yyyy hh:mm a' }}</span>
                          <!-- <span class="d-block">Reason: Checkup</span> -->
                          <span class="d-block">
                            <span class="incareview-mobile-view float-left">Note: </span>
                            <p [innerHTML]="history.notesArray" class="textover"
                              *ngIf="history.notesArray && history.notesArray.length > 0"></p>
                            <p *ngIf="!history.notesArray || history.notesArray.length === 0"> - </p>
                            <!-- {{history.notes ? history.notes:'-' }} -->
                          </span>
                        </div>
                        <a href="javascript:void(0)" class="position-absolute theme-color view-report-link fs12"
                          (click)="showSummary(history.id)">View Reports</a>
                      </li>
                    </ng-container>
                    <!-- <li class="list-group-item border-top-0 border-right-0 border-left-0 px-0">
                    <div accordion-heading>
                      <h2 class="fs14 color-dark-black d-inline-block"> Via history</h2>
                      <i class="fas fa-chevron-down float-right pt5 grey-color"></i>
                    </div>
                    <ul class="via-history-list list-group fs12">
                      <ng-container class="incareview-desktop-view">
                        <li class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent incareview-desktop-view">
                          <div class="grey-color pr90 history-report">
                            <span class="d-block color-dark-black">Date</span>
                            <span class="d-block color-dark-black">Reason</span>
                            <span class="d-block color-dark-black">Notes</span>
                          </div>
                        </li>
                      </ng-container>
                      <ng-container *ngFor="let history of historyList">
                        <li class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent">
                          <div class="grey-color pr90 history-report">
                            <span class="d-block">
                              {{(history.created_at ? history.created_at:'-') | date:'dd-MM-yyyy' }}</span>
                            <span class="d-block"><span class="incareview-mobile-view float-left">Reason: </span> Checkup</span>
                            <span class="d-block"><span class="incareview-mobile-view float-left">Note: </span>
                              {{history.notes ? history.notes:'-' }}</span>
                          </div>
                          <span class="position-absolute theme-color view-report-link fs12" routerLink="/menu">View
                            Reports</span>
                        </li>
                      </ng-container>
                      <li class="list-group-item border-top-0 border-right-0 border-left-0 px-0">
                           <div class="grey-color pr90">
                              <span class="d-block">21-03-2019</span>
                              <span class="d-block">Reason: Checkup</span>
                              <span class="d-block">Note: Diet Plan</span>
                           </div>
                           <span class="position-absolute theme-color view-report-link fs12">View Reports</span>
                        </li>
                        <li class="list-group-item border-top-0 border-right-0 border-left-0 px-0">
                           <div class="grey-color pr90">
                              <span class="d-block">21-03-2019</span>
                              <span class="d-block">Reason: Checkup</span>
                              <span class="d-block">Note: Diet Plan</span>
                           </div>
                           <span class="position-absolute theme-color view-report-link fs12">View Reports</span>
                        </li> -->
                  </ul>
                </accordion-group>
              </accordion>
            </div>
            <!-- /Details tab  -->

            <!-- Notes tab  -->
            <div *ngIf="tabs == 2" class="p20">

              <accordion>
                <h1 class="text-right mt-0 mb-0" *ngIf="isPermission && isAllowCreate && isEnablenotes">
                  <img *ngIf="editNote" class="text-right mt-0 mb-0" src="./assets/images/menu-icons/edit-icon.png"
                    alt="edit-image" width="20" (click)="editNotes()">
                  <!-- <button *ngIf="!editNote" type="button" class="btn btn-theme-gradient text-white shadow  mb-20"
                      (click)="createNotes()">Save</button> -->
                  <!-- <span *ngIf="!editNote" (click)="createNotes()">
                      <img src="./assets/images/tick.png" width="20">
                    </span> -->
                  <!-- <button *ngIf="!editNote" class="btn btn-theme-gradient text-white shadow  mb-20"
                      (click)="createNotes()">Save</button> -->
                </h1>

                <accordion-group [isOpen]="isFirstOpen">
                  <div accordion-heading *ngIf="isEnablenotes">
                    <h2 class="fs14 color-dark-black d-inline-block">Treatment Summary</h2>
                    <i class="fas fa-chevron-down float-right pt5 grey-color"></i>
                  </div>

                  <p [innerHTML]="notesInfo" class="dark-black fs14 mt-15" style="height:150px;overflow: auto;"></p>

                </accordion-group>

                <ng-container *ngIf="DosdArrayList.length > 0 && isEnableDos">
                  <div *ngFor="let array of DosdArrayList">
                    <accordion-group [isOpen]="true">
                      <div accordion-heading>
                        <h2 class="fs14 color-dark-black d-inline-block">{{array.unitInfo.name}}</h2>
                        <i class="fas fa-chevron-down float-right pt5 grey-color"></i>
                      </div>

                      <ul *ngFor="let DosandList of array.list" class="list-group border-0 mb-3 fs12 dos-checkbox">
                        <li class="list-group-item border-0 px-0 py-1 bg-transparent">
                          <h3 class="d-inline-block font-weight-bold fs14 w-90"
                            [ngClass]="DosandList.type === 'Dos' ? 'color-green2' : 'color-red2'">{{DosandList.type}}
                          </h3>
                          <!-- <span *ngIf="DosandList.type === 'Dos' && isPermission && isAllowCreate" class="w-10"
                              (click)="addDoInstruction(array)">
                              <img src="./assets/images/add.png" class="float-right w-20px">
                            </span> -->
                          <!-- <img *ngIf="DosandList.type === 'Donts' && isPermission && isAllowCreate"
                              src="./assets/images/add-red.png" class="float-right w-20px"
                              (click)="addDontsInstruction(array)"> -->
                        </li>
                        <ng-container *ngFor="let dos of DosandList.list">
                          <li class="list-group-item border-0 px-0 py-1 bg-transparent">
                            <div class="custom-control  w-80 float-left">
                              <!-- <input type="checkbox" [checked]="dos.isSelect"
                                  (change)="dosAddLink($event.target.checked,dos.id)" class="custom-control-input"
                                  id="{{dos.id}}" [disabled]="!isPermission || !isAllowCreate"> -->
                              <div class=" c-pointer pt4">
                                <div class="font-roboto ml-10 tag-font-size" title={{dos.message}}>
                                  {{dos.message}}
                                </div>
                              </div>
                            </div>
                            <!-- <div class="w-20 float-left ie-cancel" *ngIf="isPermission && isAllowCreate">
                                <img src="./assets/images/cancel.png" class="float-right w-20px pt3 ml-2 c-pointer"
                                  (click)="deleteDos(DosandList.type, dos.id, array)">
                                <span *ngIf="!isEdit">
                                  <i class="fas fa-pencil-alt float-right checkmark c-pointer"
                                    (click)="editDosDonts(DosandList.type, dos, array)"></i>
                                </span>
                              </div> -->
                          </li>
                        </ng-container>
                        <div *ngIf="DosandList.list.length === 0" style="text-align: center;color: var(--red);">
                          {{DosandList.type}} List is Empty </div>

                        <li *ngIf="DosandList.type === 'Dos' && array.showDos && isPermission"
                          class="list-group-item border-0 px-0 py-1 bg-transparent">
                          <div class="custom-control custom-checkbox text-truncate w-80 float-left">
                            <input type="checkbox" class="custom-control-input" id="newDos">
                            <label class="custom-control-label c-pointer w-100 pt4" for="newDos">
                              <textarea style="border: none" type="text" [(ngModel)]="DosMessage"
                                class="form-control border-bottom fs12 rounded-0  ml-10 border-top-0 border-right-0 border-left-0 pl0 h19 outline-0 bg-transparent ie-hgt ie-top"
                                placeholder="Type your new instructions here" maxlength="200"
                                (keydown)="keyDownFunction($event, 'Dos')" (focus)="dosDontsFocus()"
                                (focusout)="dosDontsFocusOut()"></textarea>
                            </label>
                          </div>
                          <!-- <div class=" w-20 float-left ie-cancel ">
                              <img src="./assets/images/cancel.png " class="float-right w-20px pt3 c-pointer ml-2
                                  " (click)="closeDos(array) " *ngIf="DosMessage ">
                              <span>
                                <i class="fas fa-check float-right checkmark" (click)="addDos(DosandList) "></i>
                              </span>
                            </div> -->

                        </li>
                        <li class="list-group-item border-0 px-0 py-1 bg-transparent " *ngIf="DosandList.type==='Donts'
                                  && array.showDonts && isPermission ">
                          <div class="custom-control custom-checkbox text-truncate w-80 float-left ">
                            <input type="checkbox " class="custom-control-input " id="newIns ">
                            <label class="custom-control-label c-pointer w-100 pt4 " for="newIns ">
                              <textarea type="text " [(ngModel)]="DontsMessage "
                                class="form-control border-bottom fs12 rounded-0
                                  ml-10 border-top-0 border-right-0 border-left-0 pl0 h19 outline-0 bg-transparent ie-hgt ie-top "
                                placeholder="Type your new instructions here " maxlength="200 " (keydown)="keyDownFunction($event,
                                  'Donts')" (focus)="dosDontsFocus()" (focusout)="dosDontsFocusOut()"></textarea>
                            </label>
                          </div>
                          <!-- <div class=" w-20 float-left ie-cancel ">
                              <img src="./assets/images/cancel.png " class="float-right w-20px pt3 c-pointer ml-2
                                  " (click)="closeDonts(array) " *ngIf="DontsMessage ">
                              <span>
                                <i class="fas fa-check float-right checkmark " (click)="addDos(DosandList) "></i>
  
                              </span>
                            </div> -->
                        </li>
                      </ul>
                    </accordion-group>
                  </div>
                </ng-container>

                <ng-container *ngIf="DosdArrayList.length===0 && isEnableDos ">
                  <accordion-group [isOpen]="true ">
                    <div class="p20 ">
                      <ul class="list-group border-0 mb-3 fs12 dos-checkbox ">
                        <li class="list-group-item border-0 px-0 py-1 bg-transparent ">
                          <h3 class="d-inline-block color-green2 font-weight-bold fs14 w-90 ">DO's</h3>
                          <!-- <span class="w-10 " (click)="addDoInstruction(false) " *ngIf="isPermission && isAllowCreate ">
                              <img src="./assets/images/add-green.png " class="float-right w-20px ">
                            </span> -->
                        </li>
                        <div *ngIf="DosdArrayList.length===0 " style="text-align: center;color: var(--red); ">DO'S List
                          is Empty </div>
                        <li class="list-group-item border-0 px-0 py-1 bg-transparent "
                          *ngIf="showDoInstruction && isPermission ">
                          <div class="d-flex ">
                            <div class="w-80 float-left ">
                              <textarea style="border: none" type="text " [(ngModel)]="DosMessage "
                                class="form-control border-bottom fs12 rounded-0
                                  ml-10 border-top-0 border-right-0 border-left-0 pl0 h19 outline-0 bg-transparent ie-hgt " placeholder="Type your new instructions here " maxlength="200 "
                                (keydown)="keyDownFunction($event,
                                  'Dos') " (focus)="dosDontsFocus()" (focusout)="dosDontsFocusOut()"></textarea>
                            </div>
                            <!-- <div class="w-20 float-left ie-pad ">
                                <img src="./assets/images/cancel.png " class="float-right w-20px pt3 ml-2 c-pointer
                                  " (click)="closeDos() " *ngIf="DosMessage ">
                                <span>
                                  <i class="fas fa-check float-right checkmark c-pointer " (click)="addDos( 'Dos') "></i>
                                </span>
                              </div> -->
                          </div>
                        </li>
                      </ul>

                      <ul class="list-group border-0 fs12 dos-checkbox ">
                        <li class="list-group-item border-0 px-0 py-1 bg-transparent ">
                          <h3 class="d-inline-block color-red2 font-weight-bold fs16 ">DONT's</h3>
                          <!-- <img src="./assets/images/add-red.png " class="float-right w-20px " (click)="addDontsInstruction(false)
                                  " *ngIf="isPermission && isAllowCreate "> -->
                        </li>

                        <div *ngIf="DosdArrayList.length===0 " style="text-align: center;color: var(--red); ">DONT'S
                          List is Empty </div>

                        <li class="list-group-item border-0 px-0 py-1 bg-transparent "
                          *ngIf="showDontsInstruction && isPermission ">
                          <div class="d-flex ">
                            <div class="w-80 float-left ">
                              <textarea type="text " [(ngModel)]="DontsMessage "
                                class="form-control border-bottom fs12 rounded-0
                                  ml-10 border-top-0 border-right-0 border-left-0 pl0 h19 outline-0 bg-transparent ie-hgt "
                                placeholder="Type your new instructions here " maxlength="200 " (keydown)="keyDownFunction($event,
                                  'Donts') " (focus)="dosDontsFocus()" (focusout)="dosDontsFocusOut()"></textarea>
                            </div>
                            <!-- <div class=" w-20 float-left ie-pad ">
                                <img src="./assets/images/cancel.png " class="float-right w-20px pt3 c-pointer ml-2
                                  " (click)="closeDonts() " *ngIf="DontsMessage ">
                                <span>
                                  <i class="fas fa-check float-right checkmark c-pointer "
                                    (click)="addDos( 'Donts') "></i>
                                </span>
                              </div> -->
                          </div>
                        </li>
                      </ul>
                    </div>
                  </accordion-group>
                </ng-container>

              </accordion>
            </div>
            <!-- /Details tab  -->



            <!-- Meds tab  -->
            <div *ngIf="tabs==3 && isEnableMeds " class="p20 ">
              <!-- <span class="w-10 " *ngIf="isAllowCreate && isPermission ">
                  <img class="float-right w-20px " src="./assets/images/add.png " (click)="gotoaddMed() ">
                </span> -->
              <br>
              <accordion>
                <accordion-group [isOpen]="isFirstOpen ">
                  <div accordion-heading>


                    <h2 class="fs14 color-dark-black d-inline-block "> Medications</h2>

                    <ul class="list-inline float-right grey-color ">
                      <!-- <li class="list-inline-item mr-4 " (click)="gotoaddMed() "><i class="fas fa-plus "></i></li> -->
                      <li class="list-inline-item ">
                        <i class="fas fa-chevron-down pt5 grey-color "></i>
                      </li>
                    </ul>
                  </div>
                  <ul class="via-history-list list-group fs12 ">
                    <ng-container *ngFor="let medList of medsList ">
                      <li
                        class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent tag-border ">
                        <div class="row ">
                          <div class="col-md-12 ">
                            <div class="custom-control custom-checkbox mb-3 ">
                              <!-- <input type="checkbox " class="custom-control-input " [checked]="medList.isSelect
                                  " (change)="medsAddLink($event.target.checked,medList.id) " id="{{medList.id}} "
                                  [disabled]="!isPermission || !isAllowCreate "> -->
                              <!-- <label class="custom-control-label " for="{{medList.id}} "></label> -->
                              <div class="grey-color2 mb-2 ">
                                <span class="d-block ">
                                  <span class="desktop-bold-text color-dark-black ">Group:</span>
                                  {{medList.groupName}}</span>
                                <span class="d-block ">
                                  <span class="desktop-bold-text color-dark-black ">Generic Name:</span>
                                  {{medList.genericName}}</span>
                                <span class="d-block text-truncate ">
                                  <span class="desktop-bold-text color-dark-black ">Medication Use:</span>
                                  {{medList.medicationUse}}</span>
                                <span class="d-block ">
                                  <span class="desktop-bold-text color-dark-black ">Comments:</span>
                                  {{medList.comments}}.</span>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="col-md-3 tag-med-top text-right ">
                              <div class="theme-color font-weight-bold " *ngIf="isAllowCreate && isPermission ">
                                <span (click)="editMeds(medList) " style="cursor: pointer; ">Edit</span> |
                                <span (click)="deleteMeds(confirmMedDelete, medList) "
                                  style="cursor: pointer; ">Delete</span>
                              </div>
                            </div> -->
                        </div>
                      </li>
                    </ng-container>
                  </ul>
                  <!-- </div>
                     <ul class="via-history-list list-group fs12 ">
                          <ng-container *ngFor="let medList of medsList ">
                                <li class="list-group-item border-top-0 border-right-0 border-left-0 px-0 ">
                                      <div class="grey-color2 mb-2 ">
                                         <span class="d-block "><span class="fobt-weight-bold color-dark-black ">Group:</span> {{medList.groupName}}</span>
                                         <span class="d-block "><span class="fobt-weight-bold color-dark-black ">Generic Name:</span> {{medList.genericName}}</span>
                                         <span class="d-block text-truncate "><span class="fobt-weight-bold color-dark-black ">Medication Use:</span> {{medList.medicationUse}}</span>
                                         <span class="d-block "><span class="fobt-weight-bold color-dark-black ">Comments:</span> {{medList.comments}}.</span>
                                      </div>
                                   </li>
                        </ng-container>
                     </ul> -->
                </accordion-group>
              </accordion>
            </div>
            <!-- /Meds tab  -->
            <!-- Media tab  -->
            <div *ngIf="tabs==4 && isEnableMedia ">
              <div style="padding: 20px 0">
                <div class="container-fluid overflow-hidden ">
                  <!-- <span class="w-10 " *ngIf="isPermission && isAllowCreate && mediaLinkList.length===0 ">
                      <img class="float-right w-20px " src="./assets/images/add.png " (click)="gotoAddMedia() ">
                    </span> -->
                  <ng-container *ngFor="let medialist of mediaLinkList;let first=first;let last=last;let i=index ">
                    <h1 *ngIf="first " class="color-dark-black fs24 mt-2 pt-4 mb-0 ">
                      {{medialist.mediaType | titlecase}}
                      <!-- <span class="w-10 " *ngIf="isAllowCreate && isPermission ">
                          <img class="float-right w-20px " src="./assets/images/add.png " (click)="gotoAddMedia() ">
                        </span> -->
                    </h1>




                    <!-- Media Video slider -->
                    <ul class="slider-card media-scroll list-unstyled list-inline fs12 media-slides grey-color2
                                  " [ngClass]="{ 'dont-scroll' : dontScroll} ">
                      <ng-container *ngIf="medialist.media.length>0">
                        <ng-container *ngFor="let media of medialist.media">
                          <li class="list-inline-item position-relative bg-white">
                            <!-- <img src="./assets/images/user.jpg" alt="plus-image" class="media-img" [routerLink]="['/media-ivideo', media.id]"> -->
                            <ng-container *ngIf="this.media.type === 'image'">
                              <img src="{{mediaService.imageURL}}{{media.keyName}}" class="media-form-img w-100"
                                style="height: 143px;object-fit: cover;" (click)="redirectPage(media.id)">
                            </ng-container>
                            <ng-container *ngIf="this.media.type === 'document'">
                              <img src="./assets/images/incare-mobile/pdf.png" alt="plus-image"
                                class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                                *ngIf="media.format === 'pdf'">
                              <img src="./assets/images/incare-mobile/excel.png" alt="plus-image"
                                class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                                *ngIf="media.format === 'xlsx' || media.format === 'xls' || media.format === 'csv'">
                              <img src="./assets/images/incare-mobile/word.png" alt="plus-image"
                                class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                                *ngIf="media.format === 'doc' || media.format === 'docx'">
                              <img src="./assets/images/incare-mobile/ppt.png" alt="plus-image"
                                class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                                *ngIf="media.format === 'ppt' || media.format === 'pptx'">
                              <img src="./assets/images/incare-mobile/zip.png" alt="plus-image"
                                class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                                *ngIf="media.format === 'zip' || media.format === 'rar'">
                            </ng-container>
                            <ng-container *ngIf="this.media.type === 'text'">
                              <img src="./assets/images/incare-mobile/txt.png" alt="plus-image"
                                class="media-img  obj-fit-contain" (click)="redirectPage(media.id)">
                            </ng-container>
                            <ng-container *ngIf="this.media.type === 'video'">
                              <img src="./assets/images/incare-mobile/video.png" alt="plus-image"
                                class="media-img  obj-fit-contain" (click)="redirectPage(media.id)"
                                *ngIf="!media.thumbnailUrl">
                              <img src="{{mediaService.imageURL}}{{media.thumbnailUrl}}" alt="plus-image"
                                class="media-form-img w-100" style="height: 143px;object-fit: cover;"
                                (click)="redirectPage(media.id)" *ngIf="media.thumbnailUrl">
                            </ng-container>

                            <ng-container *ngIf="this.media.type === 'audio'">
                              <img src="./assets/images/incare-mobile/audio.png" alt="plus-image" class="media-img"
                                (click)="redirectPage(media.id)">
                            </ng-container>

                            <ng-container
                              *ngIf="this.media.type !== 'video' && this.media.type !== 'image' && this.media.type !== 'document' && this.media.type !== 'text' && this.media.type !== 'audio'">
                              <img src="./assets/images/incare-mobile/document.png" alt="plus-image" class="media-img"
                                (click)="redirectPage(media.id)">
                            </ng-container>

                            <div class="position-relative">
                              <div class="slidecard-content">
                                <!-- <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" [checked]="media.checked"
                                      [disabled]="!isAllowCreate" (change)="mediaChange($event.target.checked,media)"
                                      id="tag{{media.id}}{{media.tagID}}2">
                                    <label class="custom-control-label" for="tag{{media.id}}{{media.tagID}}2"></label>
                                  </div> -->
                                <h3 class="fs12  fs12 mt-3 text-truncate mb-2 color-dark-black">
                                  <!--  <input type="checkbox" [checked]="media.checked"  [disabled]="!isAllowCreate"(change)="mediaChange($event.target.checked,media)" id="tag{{media.id}}{{media.tagID}}2" > -->{{media.name}}
                                </h3>
                                <!-- <span class="grey-color3">11 Views</span> -->
                              </div>
                              <!-- <a href="javascript:void(0)" title="Delete Media"
                                  (click)="deleteMedia(confirmMediaDelete,media)" *ngIf="isPermission && isAllowCreate">
                                  <img src="./assets/images/menu-icons/delete.png" alt="more-img" class="deletemedia">
                                </a> -->

                              <!-- 3 dots img -->
                              <!-- <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" class="position-absolute more-icon" (isOpenChange)="isOpenChange()">
                                   <a href id="basic-link" dropdownToggle (click)="false"
                                      aria-controls="basic-link-dropdown">
                                      <img src="./assets/images/more.png" alt="more-img" class="more-img">
                                     </a>
                                   <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
                                       role="menu" aria-labelledby="basic-link">
                                     <li>
                                       <a class="dropdown-item" href="#">
                                         <img src="./assets/images/media-share.png" alt="Share"> Share
                                       </a>
                                     </li>
                                     <li>
                                       <a class="dropdown-item" href="javascript:void(0)" (click)="updateMedia(media)">
                                         <img src="./assets/images/media-settings.png" alt="Edit"> Edit
                                       </a>
                                     </li>
                                     
                                     <li>
                                       <a class="dropdown-item" href="javascript:void(0)" (click)="deleteMedia(media)">
                                         <img src="./assets/images/media-delete.png" alt="Delete"> Delete
                                       </a>
                                     </li>
                                   </ul>
                                 </span> -->
                              <!-- /3 dots img -->
                            </div>
                          </li>
                        </ng-container>
                      </ng-container>
                      <div *ngIf="medialist.media.length === 0" style="display: flex;">
                        <span style="margin: 0 auto;color: var(--danger);">
                          {{medialist.mediaType}} List is Empty
                        </span>
                      </div>
                    </ul>
                    <h1 *ngIf="!last" class="color-dark-black fs24 mt-2 pt-4 mb-0">
                      {{mediaLinkList[i+1].mediaType | titlecase}}
                      <span class="w-10" *ngIf="isAllowCreate && isPermission">
                        <img class="float-right w-20px" src="./assets/images/add.png" (click)="gotoAddMedia()">
                      </span>
                    </h1>

                  </ng-container>
                  <!-- Media Video slider -->
                </div>
              </div>
            </div>
            <!-- Media tab  -->

            <!-- Checklist tab --->
            <div *ngIf="tabs == 5" class="p20">
              <div class="float-right">
                <ng-container *ngIf="summaryList && isPermission && isSummary">
                  <button *ngIf="summaryId" class="btn btn-theme-gradient text-white shadow"
                    (click)="downloadSummary()"> Download </button>
                  <button *ngIf="isAllowCreate" class="btn btn-theme-gradient text-white shadow"
                    (click)="publishSummary()">Publish </button>
                  <button *ngIf="!isAllowCreate" class="btn btn-theme-gradient text-white shadow"
                    (click)="publishSummary()"> Edit </button>
                </ng-container>
              </div>
              <div class="p20">
                <ul class="via-history-list list-group fs12">
                  <ng-container *ngFor="let clist of checkList">
                    <li class="list-group-item border-top-0 border-right-0 border-left-0 px-0 bg-transparent">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="custom-control custom-checkbox form-control-lg">
                            <input type="checkbox" class="custom-control-input" [checked]="clist.isSelect"
                              id="{{clist.id}}" [disabled]="true">
                            <label class="custom-control-label color-dark-black"
                              for="{{clist.id}}">{{clist.value}}</label>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>

            </div>
            <!-- Checklist tab --->
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-template #confirmDelete>
    <div class="modal-body text-center">
      <p class="mt-40 mb-30 fs20">Are you sure, you want to delete {{deletePatient}}?</p>
      <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelDelete()">Cancel</button>
      <button type="button" class="btn btn-primary shadow  mb-30" (click)="deletePatientUser()">Delete</button>
    </div>
  </ng-template>

  <ng-template #editPatientModal>
    <div class="modal-body">
      <app-add-patient></app-add-patient>
    </div>
  </ng-template>

  <!-- bottom tabs -->
  <div *ngIf="showBottomNav" class="incareview-mobile-view">
    <app-bottomnav></app-bottomnav>
  </div>
  <!-- bottom tabs -->

</ng-container>



<section *ngIf="isAddMedia" class="incareview-mobile-view">
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px" (click)="gotoBack()">
      <img src="assets/images/back.png" width="17">
    </a>
    <div class="m-auto text-white fs16">Media</div>
    <ul class="list-inline position-absolute right-20">
      <!-- <li class="position-relative list-inline-item mr-4" routerLink="/media">
           <img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px">
         </li> -->
      <li class="position-relative list-inline-item" (click)="addMedia()" *ngIf="isPermission">
        <i class="fas fa-check text-white"></i>
      </li>
    </ul>
  </nav>

  <ng-container *ngTemplateOutlet="addVideos"></ng-container>

  <div class="mobile-body bg-white">
    <form class="pt20 pl15 pr15">
      <div class="gradient-box">
        <div class="input-group search-field">
          <input type="text" [(ngModel)]="mediaFilter.name" [ngModelOptions]="{standalone: true}"
            class="form-control border-0 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label=""
            aria-describedby="basic-addon1" />
          <div class="input-group-append">
            <button class="btn bg-transparent btn-circle rounded-circle py-0 px-2" type="button">
              <img src="./assets/images/search.png" class="via-search" />
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="pl25 pr25">
      <!-- <ul class="list-group list-group-flush add-media-list">
           <li class="list-group-item py-4">
             
             <div class="custom-control custom-checkbox z-9">
               <input  type="checkbox" class="custom-control-input" id="img">
               <label class="custom-control-label c-pointer pt4" for="img"></label>
             </div>
             <div class="media">
               <img src="./assets/images/user.jpg" class="align-self-center mr-3">
               <div class="media-body">
                 <h5 class="mt-0">Center-aligned media</h5>
               </div>
             </div>
           </li>
         </ul> -->
      <ul class="list-group border-0 p-0">
        <ng-container *ngFor="let media of flatMediaList | filterBy: mediaFilter">
          <li class="list-group-item p-0 media-patient-info border-top-0 border-right-0 border-left-0">
            <div class="custom-control custom-checkbox z-9 float-left">
              <input type="checkbox" [checked]="media.checked" class="custom-control-input"
                (change)="mediaChange($event.target.checked,media)" id="tag{{media.id}}{{media.tagID}}"
                [disabled]="!isPermission">
              <label class="custom-control-label c-pointer pt4" for="tag{{media.id}}{{media.tagID}}"></label>
            </div>
            <div class="patient-profile-info">
              <!-- <img src="./assets/images/user.jpg" alt="patient-profile-img" class="position-absolute avator br-10"> -->
              <ng-container *ngIf="media.type === 'image'">
                <img src="{{mediaService.imageURL}}{{media.keyName}}" alt="patient-profile-img"
                  class="position-absolute avator br-10">
              </ng-container>
              <ng-container *ngIf="media.type === 'document'">
                <img src="./assets/images/incare-mobile/pdf.png" alt="plus-image" class="position-absolute avator br-10"
                  *ngIf="media.format === 'pdf'">
                <img src="./assets/images/incare-mobile/excel.png" alt="plus-image"
                  class="position-absolute avator br-10"
                  *ngIf="media.format === 'xlsx' || media.format === 'xls' || media.format === 'csv'">
                <img src="./assets/images/incare-mobile/word.png" alt="plus-image"
                  class="position-absolute avator br-10" *ngIf="media.format === 'doc' || media.format === 'docx'">
                <img src="./assets/images/incare-mobile/ppt.png" alt="plus-image" class="position-absolute avator br-10"
                  *ngIf="media.format === 'ppt' || media.format === 'pptx'">
                <img src="./assets/images/incare-mobile/zip.png" alt="plus-image" class="position-absolute avator br-10"
                  *ngIf="media.format === 'zip' || media.format === 'rar'">
                <img src="./assets/images/incare-mobile/document.png" alt="plus-image"
                  class="position-absolute avator br-10"
                  *ngIf="media.format != 'zip' && media.format != 'rar' && media.format != 'pdf' && media.format != 'xlsx' && media.format != 'xls' && media.format != 'csv' && media.format != 'doc' && media.format != 'docx' && media.format != 'ppt' && media.format != 'pptx'">
              </ng-container>
              <ng-container *ngIf="media.type === 'text'">
                <img src="./assets/images/incare-mobile/txt.png" alt="plus-image"
                  class="position-absolute avator br-10">
              </ng-container>
              <ng-container *ngIf="media.type === 'video'">
                <img src="./assets/images/incare-mobile/video.png" alt="plus-image"
                  class="position-absolute avator br-10" *ngIf=" !media.thumbnailUrl">

                <img src="{{mediaService.imageURL}}{{media.keyName}}" alt="patient-profile-img"
                  class="position-absolute avator br-10" *ngIf="media.thumbnailUrl">
              </ng-container>
              <ng-container *ngIf="media.type === 'audio'">
                <img src="./assets/images/incare-mobile/audio.png" alt="plus-image"
                  class="position-absolute avator br-10">
              </ng-container>
              <ng-container
                *ngIf="media.type !== 'video' && media.type !== 'image' && media.type !== 'document' && media.type !== 'text' && media.type !== 'audio'">
                <img src="./assets/images/incare-mobile/document.png" alt="plus-image"
                  class="position-absolute avator br-10">
              </ng-container>
              <div class="patient-info grey-color fs14 position-relative">
                <h1 class="color-black fs16 text-truncate">{{media.name}}</h1>
              </div>
            </div>
          </li>
        </ng-container>
        <!-- <li class="list-group-item p-0 media-patient-info border-top-0 border-right-0 border-left-0">
                 <div class="custom-control custom-checkbox z-9 float-left">
                   <input  type="checkbox" class="custom-control-input" id="img">
                   <label class="custom-control-label c-pointer pt4" for="img"></label>
                 </div>
                 <div class="patient-profile-info">
                   <img src="./assets/images/user.jpg"  alt="patient-profile-img" class="position-absolute avator br-10" >
                   <div class="patient-info grey-color fs14 position-relative">
                       <h1 class="color-black fs16 text-truncate">Physiotherapy Guide</h1>
                     </div>
                 </div>
               </li> -->
      </ul>
    </div>
  </div>


</section>


<ng-template #addVideos>
  <div class="incareview-desktop-view">
    <div class="modal-header pl25 pr25 incareview-desktop-view border-0 mb-15">
      <h4 class="modal-title fs26">Add Medias
        <span class="float-right opct-1">
          <img src="assets/images/tick.png" class="mr-20" (click)="addMedia()">
          <img src="assets/images/cross.png" width="25" (click)="modalRef.hide()">
        </span>
      </h4>
    </div>
    <form class="pl15 pr15">
      <div class="gradient-box">
        <div class="input-group search-field">
          <input type="text" [(ngModel)]="mediaFilter.name" [ngModelOptions]="{standalone: true}"
            class="form-control border-0 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label=""
            aria-describedby="basic-addon1" />
          <div class="input-group-append">
            <button class="btn bg-transparent btn-circle rounded-circle py-0 px-2" type="button">
              <img src="./assets/images/search.png" class="via-search" />
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="pl25 pr25">
      <!-- <ul class="list-group list-group-flush add-media-list">
          <li class="list-group-item py-4">
            
            <div class="custom-control custom-checkbox z-9">
              <input  type="checkbox" class="custom-control-input" id="img">
              <label class="custom-control-label c-pointer pt4" for="img"></label>
            </div>
            <div class="media">
              <img src="./assets/images/user.jpg" class="align-self-center mr-3">
              <div class="media-body">
                <h5 class="mt-0">Center-aligned media</h5>
              </div>
            </div>
          </li>
        </ul> -->
      <ul class="list-group border-0 p-0">
        <ng-container *ngFor="let media of flatMediaList | filterBy: mediaFilter">
          <li class="list-group-item p-0 media-patient-info border-top-0 border-right-0 border-left-0">
            <div class="custom-control custom-checkbox z-9 float-left pt-43">
              <input type="checkbox" [checked]="media.checked" class="custom-control-input"
                (change)="mediaChange($event.target.checked,media)" id="tag{{media.id}}{{media.tagID}}2"
                [disabled]="!isPermission">
              <label class="custom-control-label c-pointer pt4" for="tag{{media.id}}{{media.tagID}}2"></label>
            </div>
            <div class="patient-profile-info">
              <!-- <img src="./assets/images/user.jpg" alt="patient-profile-img" class="position-absolute avator br-10" *ngIf="media.type !== 'image'"> -->
              <ng-container *ngIf="media.type === 'image'">
                <img src="{{mediaService.imageURL}}{{media.keyName}}" alt="patient-profile-img"
                  class="position-absolute avator br-10">
              </ng-container>
              <ng-container *ngIf="media.type === 'document'">
                <img src="./assets/images/incare-mobile/pdf.png" alt="plus-image" class="position-absolute avator br-10"
                  *ngIf="media.format === 'pdf'">
                <img src="./assets/images/incare-mobile/excel.png" alt="plus-image"
                  class="position-absolute avator br-10"
                  *ngIf="media.format === 'xlsx' || media.format === 'xls' || media.format === 'csv'">
                <img src="./assets/images/incare-mobile/word.png" alt="plus-image"
                  class="position-absolute avator br-10" *ngIf="media.format === 'doc' || media.format === 'docx'">
                <img src="./assets/images/incare-mobile/ppt.png" alt="plus-image" class="position-absolute avator br-10"
                  *ngIf="media.format === 'ppt' || media.format === 'pptx'">
                <img src="./assets/images/incare-mobile/zip.png" alt="plus-image" class="position-absolute avator br-10"
                  *ngIf="media.format === 'zip' || media.format === 'rar'">
                <img src="./assets/images/incare-mobile/document.png" alt="plus-image"
                  class="position-absolute avator br-10"
                  *ngIf="media.format != 'zip' && media.format != 'rar' && media.format != 'pdf' && media.format != 'xlsx' && media.format != 'xls' && media.format != 'csv' && media.format != 'doc' && media.format != 'docx' && media.format != 'ppt' && media.format != 'pptx'">
              </ng-container>
              <ng-container *ngIf="media.type === 'text'">
                <img src="./assets/images/incare-mobile/txt.png" alt="plus-image"
                  class="position-absolute avator br-10">
              </ng-container>
              <ng-container *ngIf="media.type === 'video'">
                <img src="./assets/images/incare-mobile/video.png" alt="plus-image"
                  class="position-absolute avator br-10" *ngIf="!media.thumbnailUrl">
                <img src="{{mediaService.imageURL}}{{media.thumbnailUrl}}" alt="plus-image"
                  class="position-absolute avator br-10" *ngIf="media.thumbnailUrl">
              </ng-container>
              <ng-container *ngIf="media.type === 'audio'">
                <img src="./assets/images/incare-mobile/audio.png" alt="plus-image"
                  class="position-absolute avator br-10">
              </ng-container>
              <ng-container
                *ngIf="media.type !== 'video' && media.type !== 'image' && media.type !== 'document' && media.type !== 'text' && media.type !== 'audio'">
                <img src="./assets/images/incare-mobile/document.png" alt="plus-image"
                  class="position-absolute avator br-10">
              </ng-container>
              <div class="patient-info grey-color fs14 position-relative">
                <h1 class="color-black fs16 text-truncate">{{media.name}}</h1>
              </div>
            </div>
          </li>
        </ng-container>
        <!-- <li class="list-group-item p-0 media-patient-info border-top-0 border-right-0 border-left-0">
                <div class="custom-control custom-checkbox z-9 float-left">
                  <input  type="checkbox" class="custom-control-input" id="img">
                  <label class="custom-control-label c-pointer pt4" for="img"></label>
                </div>
                <div class="patient-profile-info">
                  <img src="./assets/images/user.jpg"  alt="patient-profile-img" class="position-absolute avator br-10" >
                  <div class="patient-info grey-color fs14 position-relative">
                      <h1 class="color-black fs16 text-truncate">Physiotherapy Guide</h1>
                    </div>
                </div>
              </li> -->
      </ul>
    </div>
  </div>
</ng-template>


<ng-template #addVideoModal>
  <div class="modal-body pb35 add-video-brdr">
    <ng-container *ngTemplateOutlet="addVideos"></ng-container>
  </div>
</ng-template>

<ng-template #addSummaryMedicationModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left fs26">{{editMedsID ? 'Edit' : 'Add'}} Medication</h4>
    <button type="button" class="close pull-right color-green-text opct-1" aria-label="Close" (click)="modalRef.hide()">
      <img src="assets/images/cross.png" width="25">
    </button>
  </div>
  <div class="modal-body p0">
    <app-add-medication [summaryId]="addMedSummaryId" [patientId]="patientID" [editMediaID]="editMedsID">
    </app-add-medication>
  </div>
</ng-template>

<ng-template #createMediaModal>
  <div class="modal-body">
    <app-media [summaryId]="summaryId" [patientId]="patientID" (saveDone)="hideModal()"></app-media>
  </div>
</ng-template>

<ng-template #mediaFormModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left fs26">Upload Media</h4>
    <button type="button" class="close pull-right color-green-text opct-1" aria-label="Close" (click)="modalRef.hide()">
      <img src="assets/images/cross.png" width="25">
    </button>
  </div>
  <div class="modal-body">
    <app-media-form [mediaType]="mediaType" [summaryId]="summaryId" [patientId]="patientID" (saveDones)="hideModals()"></app-media-form>
  </div>
</ng-template>

<ng-template #confirmMedDelete>
  <div class="modal-body text-center">
    <p class="mt-40 mb-30 fs20">Are you sure, you want to delete this {{selectMeds.genericName}} Medication?</p>
    <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelMeds()">Cancel</button>
    <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteMedsInfo()">Delete</button>
  </div>
</ng-template>