<section>
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/patient-summary">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Notes</div>
      <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item" routerLink="/app/patient-summary">
          <a ><img src="./assets/images/incare-mobile/home@2x.png" class="w-19px"></a>
        </li>
      </ul>
  
    </nav>
    <div class="mobile-body bg-white h-100vh">
       <ul class="notes-list list-group mt-70 mx-2">
         <li class="list-group-item" *ngFor="let notes of notesInfo"  (click)="openDetailedNotesModal(notesDetail, notes)">
            <img src="./assets/images/menu-icons/users.png" alt="notes-img" class="position-absolute user-icon">
            <span class="notest-text fs14">{{notes.docterName}} | {{notes.created_at | date:'dd MMM yyyy'}}</span>
           <!--  <span class="theme-color position-absolute rt-10 font-weight-bold fs12 uread-txt" >Unread</span> -->
         </li>
       </ul>
    
    </div>
  </section>

<!-- bottom tabs -->
<app-bottomnav></app-bottomnav>
<!-- bottom tabs -->



<ng-template #notesDetail>
  <div class="modal-body p20">
    <span class="float-right font-weight-bold" (click)="modalRef.hide()">X</span>
    <div class="clearfix"></div>
    <h2 class="dark-black fs20">Dear
      <span class="font-weight-bold">{{noteData.patientInfo.firstName}},</span>
    </h2>
    <p [innerHTML]="noteData.notes" class="dark-black fs14 mt-15"></p>
    <div class="text-center">
      <button type="button" class="btn btn-theme-gradient text-white shadow mt-20 mb-20" (click)="modalRef.hide()">Done</button>
      <!--  <button type="button" class="btn btn-theme-gradient text-white shadow mb-30" (click)="modalRef.hide()">Reply</button> -->
    </div>
  </div>
</ng-template>
