.invalid-feedback {
    display: block;
}
.error{
    border-bottom: 1px solid var(--danger)!important;
}
.date-border .mydp, .mydp .headertodaybtn{
    border-top: 0ch;
    border-right: 0ch;
    border-left: 0ch;
    border: 1px solid #2caab6 !important;
}

