<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/ceo-management">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">ADD CEO</div>
      <ul class="list-inline position-absolute right-20">
        <!-- <li class="position-relative list-inline-item mr-4">
          <a ><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
        </li>
        <li class="position-relative list-inline-item">
          <a><img src="./assets/images/incare-mobile/Path@2x.png"  class="w-22px"></a>
        </li> -->
      </ul>
    </nav>
  </div>
  <div class="mobile-body p25 bg-white mobile-view-hgt mobile-tb17">     
  <!-- add pateient form section -->
    <form [formGroup]="addCeoForm" (ngSubmit)="onSubmit()" novalidate  class="incareview-form" >

        <div class="modal-header p-0 incareview-desktop-view">
            <h4 class="modal-title pull-left fs26">ADD CEO <button type="button" class="close pull-right color-green-text opct-1" aria-label="Close" (click)="closeModal()">
                <img src="assets/images/cross.png" width="25">
            </button></h4>
            
          </div>

          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group custom-form-elemet mt-20">
                <div class="input-group-prepend">
                  <span class="input-group-text  rounded-0 bg-white" [ngClass]="{ 'error':submitted && firstName.errors   }">
                    <img src="./assets/images/menu-icons/users.png" class="w-17px" alt="user-image">
                  </span>
                </div>
                <input type="text" class="form-control rounded-0" placeholder="First Name" aria-label="First Name"
                [ngClass]="{ 'error':submitted &&  firstName.errors   }" formControlName="firstName" required>
                    <div *ngIf="submitted && firstName.errors " class="invalid-feedback">
                      <div *ngIf="firstName.errors.required ">First Name is required</div>
                      <div *ngIf="firstName.errors?.minlength ">First Name must be at least 3 characters long.</div>
                       <div *ngIf="firstName.errors?.pattern">Allowed alphabetic characters</div>
                    </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="gradient-box">
                <div class="input-group custom-form-elemet mt-20">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0 bg-white" [ngClass]="{ 'error':submitted && lastName.errors   }">
                      <img src="./assets/images/incare-mobile/Designation@2x.png" class="opct-0" alt="job-postion-image">
                    </span>
                  </div>
                  <input type="text" class="form-control rounded-0" placeholder="Last Name" aria-label="Last Name"
                  formControlName="lastName" [ngClass]="{ 'error':submitted && lastName.errors   }" required>
                      <div *ngIf="submitted && lastName.errors " class="invalid-feedback">
                        <div *ngIf="lastName.errors.required ">Last Name is required</div>
                        <div *ngIf="lastName.errors?.minlength">Last Name must be at least 1 characters long.</div>
                        <div *ngIf="lastName.errors?.pattern">Allowed alphabetic characters</div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group custom-form-elemet mt-20">
                <div class="input-group-prepend" >
                  <span class="input-group-text  rounded-0 bg-white" [ngClass]="{ 'error':submitted && email.errors   }">
                    <img src="./assets/images/incare-mobile/Users@2x.png" alt="MRN-image">
                  </span>
                </div>
                <input type="text" class="form-control rounded-0" placeholder="Email ID" 
                formControlName="email" [ngClass]="{ 'error':submitted && email.errors   }" required>
                <div *ngIf="submitted && email.errors " class="invalid-feedback">
                    <div *ngIf="email.errors.required ">Email is required</div>
                    <div *ngIf="email.errors.pattern">Email must be a valid email address</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group custom-form-elemet mt-30">
                  <my-date-picker name="dob" [ngClass]="{ 'date-error':submitted && dob.errors   }"
                                  [options]="myDatePickerOptions" placeholder="Date Of Birth" 
                                  formControlName="dob" required class="w-100 date-border"></my-date-picker>
                                  <span class="highlight"></span>
                                  <!-- <label >Date Of Birth</label>                 -->
        
                  <div *ngIf="submitted && dob.errors " class="invalid-feedback">
                      <div *ngIf="dob.errors.required ">DOB is required</div>
                  </div>
                  <div *ngIf="isDobError" class="invalid-feedback">
                      <div *ngIf="isDobError">User must be of at least 18 years old</div>
                  </div>
              </div>
            </div>
          </div>


      <div class="text-center mt-40">
        <button type="submit" class="btn btn-theme-gradient text-white shadow">Invite CEO</button>
      </div>

    </form>

  <!-- add pateient form section -->



  </div>
</section>