<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px">
        <!-- <i class="fas fa-bars text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">{{getname}}</div>
    </nav>
  </div>
  <div class="incareview-desktop-view">
    <div class="row heading mb-20">
      <div class="col-md-8 col-sm-8">
        <h1 class="color-dark-black fs36 font-roboto">{{getname}}</h1>

      </div>

    </div>
    <div class="container-fluid">
      <div class="text-center pt-5 incareview-mobile-view">
        <!-- <img src="assets/images/incare-plus.png" width="170" class="mb-30"> -->
        <h2 class="color-black fs16 font-weight-bold">Create Media</h2>
      </div>
      <!-- <h2 class="color-dark-black fs26 text-center incareview-desktop-view">Upload Media</h2> -->
      <div class="row mt-5 text-center">
        <div class="col-10 m-auto">
          <div class="row m-0">
            <div class="col-6">
              <a routerLink="/app/covidpatients">
                <img src="assets/images/menu-icons/patient-icon.png" style="width:84px;" class="upload-icon c-pointer">
                <span class="d-block mt-3 text-center menu-txt color-grey4 hovergreen">User Management</span>
              </a>
            </div>
            <div class="col-6">
              <a routerLink="/app/covidtags">
                <img src="assets/images/tag-active.png" class="upload-icon c-pointer">
                <span class="d-block mt-3 text-center menu-txt color-grey4 hovergreen">{{getname}} Tags</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-body bg-white mob-mb-100 mobile-view-top">

    <div class="container-fluid incareview-mobile-view">

      <!-- <h2 class="color-dark-black fs26 text-center incareview-desktop-view">Upload Media</h2> -->
      <div class="row mt-5 text-center">
        <div class="col-10 m-auto">
          <div class="row mt-4">
            <div class="col-12 mt-4">
              <a routerLink="/app/covidpatients">
                <img src="assets/images/menu-icons/patient-icon.png" class="upload-icon c-pointer">
                <span class="d-block mt-3 text-center menu-txt">User Management</span>
              </a>
            </div>
            <div class="col-12 mt-4">
              <a routerLink="/app/covidtags">
                <img src="assets/images/tag-active.png" class="upload-icon c-pointer widthcustomcovid2">
                <span class="d-block mt-3 text-center menu-txt">{{getname}} Tags</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<div class="incareview-mobile-view">
  <app-bottomnav></app-bottomnav>
</div>