<div class="col-12 no__padding">
  <div class="row">
    <div class="col-12 col-md-6">
      <h3>Assessment</h3>
    </div>
    <div class="col-12 col-md-6">
      <img _ngcontent-c5="" class="float-right w-20px " src="./assets/images/add.png ">
      <select class="custom__dropdown float-right">
        <option>IV Assessment</option>
      </select>
    </div>
  </div>
</div>
<div class="col-12 tab__header">
  <div class="row">
    <div class="custom-tabs-head col-12 no__padding">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active">Episode No 1001</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Episode No 1001</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Episode No 1001</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Episode No 1001</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Episode No 1001</a>
        </li>
      </ul>
    </div>
    <div class="col-12 assessment__tab__header">
      <div class="row">
        <div class="col-12 col-md-6">
          <h4>Episode No. 1001</h4>
        </div>
        <div class="col-12 col-md-6">
          <ul class="tab__header__options">
            <li>Edit</li>
            <li>Delete</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 assessment__tab__details">
      <div class="row">
        <div class="col-12 col-md-6">
          <p><span>Date of insertion : </span>25/09/2020</p>
          <p><span>Canola Type : </span>Lorem ipsum dolor</p>
          <p><span>Insertion Site : </span>Lorem ipsum dolor</p>
        </div>
        <div class="col-12 col-md-6">
          <p><span>No of times a day : </span>2</p>
          <p><span>Date of removal : </span>Lorem ipsum dolor</p>
        </div>
      </div>
    </div>
    <div class="col-12 assessment__tab__editable">
      <div class="editable--header">
        OPAT Termination
      </div>
      <div class="editable--content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam ut fugiat, ullam aliquam magnam provident at et aut aliquid voluptate, laboriosam asperiores enim autem? Maiores assumenda amet necessitatibus deleniti.</p>
        <span>Edit</span>
      </div>
      <div class="editable--header">
        Complications
      </div>
      <div class="editable--content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam ut fugiat, ullam aliquam magnam provident at et aut aliquid voluptate, laboriosam asperiores enim autem? Maiores assumenda amet necessitatibus deleniti.</p>
        <span>Edit</span>
      </div>
    </div>
    <div class="col-12 assessment__tab__report">
      <div class="report--header">
        Assessment Report
      </div>
      <div class="report--content">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Risk Score</th>
              <th>Action</th>
              <th>Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>12.11.2010</td>
              <td>8:00 AM</td>
              <td>2</td>
              <td>No Action</td>
              <td>View</td>
            </tr>
            <tr>
              <td>12.11.2010</td>
              <td>8:00 AM</td>
              <td class="text-danger">3</td>
              <td>Select Action</td>
              <td>View</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-view-summary></app-view-summary>
<app-add-assessment></app-add-assessment>


