<section class="auth-content">
  <app-loader></app-loader>
  <div class="container log-container pb-sm-0 pb-5">
    <div class="row">
      <div class="col-lg-8 col-md-9 col-sm-8 col-11 m-auto">

        <header class="pt-5 pb-4 text-white d-md-none d-sm-block">
          <h1 class="fs16 text-center font-weight-normal font-roboto">Sign Up</h1>
        </header>


        <div class="text-center text-white font-weight-normal">
          <img src="./assets/images/logo.png" class="logo d-md-inline-block  d-none" alt="via-logo">
        </div>
        <h2 class="mt-4 text-md-center text-white fs30 font-weight-light font-roboto">Welcome, sign up now.</h2>
        <form name="form" #validEmailForm="ngForm" (ngSubmit)="validEmailForm.form.valid"
          class="floating-input-form mt-5" novalidate>
          <div class="row">
            <div class="col-xl-5 col-lg-4 col-md-5 col-sm-8 col-11 m-auto">
              <div class="mb-4">
                <div class="floating-label input-group">
                  <div class="input-group-append position-absolute rt0 bt5 z-1111" *ngIf="email.errors && isSubmit">
                    <span class="input-group-text bg-transparent border-0 text-white"
                      popover="Please enter valid email address!" *ngIf="email.errors.pattern"><i
                        class="fas fa-exclamation-circle"></i></span>
                  </div>
                  <input class="floating-input form-control rounded-0" type="email" name="email" #email="ngModel"
                    [(ngModel)]="validEmail.email" autocomplete="off"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder=" " required>
                  <span class="highlight"></span>
                  <label>Email</label>
                </div>
                <div *ngIf="email.errors && isSubmit" class="text-danger mt-1">
                  <p class="mb-0" *ngIf="email.errors.required">Email is required</p>
                  <!-- <p class="mb-0" *ngIf="email.errors.pattern">Enter Valid Email Address</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-11 m-auto">
              <button class="btn btn-card btn-block btn-lg btn-rounded fw500 btn-shadow"
                (click)="emailValid();isSubmit = true;">Sign Up</button>
            </div>
          </div>
        </form>
        <div class="text-white text-center mt-4 fs16">
          <span class="d-block mb-1">Already have an account? <a class="font-weight-bold  c-pointer text-white"
              routerLink="/app/login">Login!</a></span>
        </div>
      </div>
    </div>
  </div>
</section>