.no__padding {
  padding: 0;
}
.floating-label {
  padding: 15px;
}
.floating-input-form {
  padding: 20px 0;
  label {
    color: rgba($color: #000000, $alpha: 0.6);
    left: 15px;
  }
  .floating-input {
    border-color: #0299d7;
    font-size: 1.1em;
    color: rgba($color: #000000, $alpha: 0.8);
  }
}
.form--entry {
  padding: 15px;
  &:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
