<div class="container-fluid no__padding">
  <div class="row">
    <div class="col-12 modal__head">
      <h3>Add Assessment</h3>
    </div>
    <div class="col-12 no__padding modal__body">
      <form name="form" class="floating-input-form">
        <div class="row">
          <div class="col-12 col-md-6 form--entry">
            <div class="floating-label">
              <input class="floating-input" type="text" placeholder=" " required>
              <span class="highlight"></span>
              <label>Case no.</label>
            </div>
          </div>
          <div class="col-12 col-md-6 form--entry">
            <div class="floating-label">
              <input class="floating-input" type="date" placeholder=" " required>
              <span class="highlight"></span>
              <label>Date of Insertion</label>
            </div>
          </div>
          <div class="col-12 col-md-6 form--entry">
            <div class="floating-label">
              <select class="floating-input">
                <option>IV Site Assessment</option>
              </select>
              <span class="highlight"></span>
              <label>Assessment Name</label>
            </div>
          </div>
          <div class="col-12 col-md-6 form--entry">
            <div class="floating-label">
              <input class="floating-input" type="text" placeholder=" " required>
              <span class="highlight"></span>
              <label>IV Insertion Site</label>
            </div>
          </div>
          <div class="col-12 col-md-6 form--entry">
            <div class="floating-label">
              <select class="floating-input">
                <option>Midline Catheters</option>
              </select>
              <span class="highlight"></span>
              <label>Canola Type</label>
            </div>
          </div>
          <div class="col-12 col-md-6 form--entry">
            <div class="floating-label">
              <input class="floating-input" type="date" placeholder=" " required>
              <span class="highlight"></span>
              <label>Date of Removal</label>
            </div>
          </div>
          <div class="col-12 col-md-6 form--entry">
            <div class="floating-label">
              <input class="floating-input" type="number" placeholder=" " required>
              <span class="highlight"></span>
              <label>No of times per day</label>
            </div>
          </div>
          <div class="col-12 form--entry">
            <button class="btn btn-theme-gradient text-white shadow mb-20 ng-star-inserted">Add Assessment</button>
          </div>
        </div>
      
      </form>
    </div>
  </div>
</div>