<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" (click)="gotoBack()">
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">{{title}} Medication</div>
    </nav>
  </div>
  <div class="mobile-body bg-white incareview-form tag-addmed-top">
    <form [formGroup]="medicationForm" (ngSubmit)="onSubmit()" novalidate
      class="settings-form custom-form-elemet p20 med-form">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Medicine Group</label>
            <!-- <select class="form-control" formControlName="groupName"
            [ngClass]="{ 'error':submitted && groupName.errors   }" required>
              <option value="">Select Medicine</option>
              <option value="abatacept">Abatacept</option>
              <option value="acarbose">Acarbose</option>
              <option value="aceon">Aceon (perindopril-oral)</option>
              <option value="betaBlockers">Beta Blockers</option>
              <option value="Beta Blockers">Beta Blockers</option>
            </select> -->
            <input type="text" class="form-control" formControlName="groupName"
              [ngClass]="{ 'error':submitted && groupName.errors   }" required>
            <div *ngIf="submitted && groupName.errors " class="invalid-feedback">
              <div *ngIf="groupName.errors.required ">Medicine Group is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-4">
            <label class="mb-0">Generic Name</label>
            <input type="text" class="form-control" formControlName="genericName"
              [ngClass]="{ 'error':submitted && genericName.errors   }" required>
            <!-- <select class="form-control" formControlName="genericName"
            [ngClass]="{ 'error':submitted && genericName.errors   }" required>
                <option value="">Select Generic</option>
              <option value="alitretinoin">Alitretinoin</option>
              <option value="alprazolam">Alprazolam</option>
              <option value="altretamine">Altretamine</option>
              <option value="Atenolol">Altretamine</option>
            </select> -->
            <div *ngIf="submitted && genericName.errors " class="invalid-feedback">
              <div *ngIf="genericName.errors.required ">Generic Name is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-4" style="padding-top: 10px">
            <label class="mb-0">Dosage</label>
            <input type="text" class="form-control" formControlName="amountOfMg"
              [ngClass]="{ 'error':submitted && amountOfMg.errors   }" required>
            <div *ngIf="submitted && amountOfMg.errors " class="invalid-feedback">
              <div *ngIf="amountOfMg.errors.required ">Dose is required</div>
            </div>
            <div *ngIf="submitted && doseError" class="invalid-feedback">
              <div *ngIf="!amountOfMg.errors && doseError">Dose Allowed minimum value 1</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-4">
            <label class="mb-0">Medication Uses</label>
            <textarea class="form-control resize-none" aria-label="With textarea" rows="2"
              formControlName="medicationUse" [ngClass]="{ 'error':submitted && medicationUse.errors   }"
              required></textarea>
            <div *ngIf="submitted && medicationUse.errors " class="invalid-feedback">
              <div *ngIf="medicationUse.errors.required ">medication Uses is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div *ngIf="careList.length>0" class="mb-4">
            <div class="input-group custom-form-elemet">
              <!-- <div class="input-group-prepend rounded-0">
                <span class="input-group-text bg-white" [ngClass]="{ 'error':submitted && orgDetail.errors   }">
                  <img src="assets/images/menu-icons/users.png" style="width: 17px;">
                </span>
              </div> -->
              <label class="mb-0 w-100">Org User</label>
              <div class="clearfix"></div>
              <select class='form-control media-select' [ngClass]="{ 'error':submitted && orgDetail.errors   }"
                formControlName="orgDetail" (change)="onChangeUser($event.target.value)" style="margin-top: 16px"
                required>
                <option value='' selected>Select Org User</option>
                <ng-container *ngFor="let careTeam of careList">
                  <option [value]="careTeam.id">
                    <ng-container>
                      {{careTeam.nodes.name}}
                    </ng-container>
                  </option>
                </ng-container>
                <!-- <option value='0'>Public</option> -->
              </select>
            </div>
            <div *ngIf="submitted && orgDetail.errors " class="invalid-feedback">
              <div *ngIf="orgDetail.errors.required ">Organisation User is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-4">
            <label class="mb-0">Comments</label>
            <textarea class="form-control resize-none" aria-label="With textarea" rows="2" formControlName="comments"
              [ngClass]="{ 'error':submitted && comments.errors   }" required></textarea>
            <div *ngIf="submitted && comments.errors " class="invalid-feedback">
              <div *ngIf="comments.errors.required ">Comments is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="row">
            <div class="col-md-7 px-0">
              <div *ngFor="let medTimeList of medTimeLists" class="custom-control custom-checkbox text-truncate">
                <input type="checkbox" class="custom-control-input"
                  (change)="medTimeChange($event.target.checked,medTimeList.value)" [checked]="medTimeList.checked"
                  id="{{medTimeList.value}}">
                <label class="custom-control-label c-pointer" for="{{medTimeList.value}}">
                  <span class="fs15 font-roboto">
                    {{medTimeList.value}}
                  </span>
                </label>
              </div>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-md-5 pl-0">
              <div *ngIf="showOthertime" class="form-group mb-4 tag-other">
                <input type="text" class="form-control" formControlName="otherMedTime"
                  [ngClass]="{ 'error':submitted && otherMedTime.errors   }" placeholder="Others Please Specify">
              </div>
            </div>
          </div>
          <!-- <div *ngIf="submitted && otherMedTime.errors " class="invalid-feedback">
              <div *ngIf="otherMedTime.errors.required ">Other Med Time is required</div>
          </div> -->
          <div *ngIf="submitted && medTime.errors " class="invalid-feedback">
            <div *ngIf="medTime.errors.required ">Med Time is required</div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-7 px-0">
              <div *ngFor="let footTimeList of footTimeLists" class="custom-control custom-checkbox text-truncate ">
                <input type="checkbox" class="custom-control-input"
                  (change)="medFoodChange($event.target.checked,footTimeList.value)" [checked]="footTimeList.checked"
                  id="{{footTimeList.key}}">
                <label class="custom-control-label c-pointer" for="{{footTimeList.key}}">
                  <span class="fs15 font-roboto">
                    {{footTimeList.value}}
                  </span>
                </label>
              </div>
            </div>
            <div class="col-md-5 px-0">
              <div *ngIf="showOtherfood" class="form-group mb-4 tag-other">
                <input type="text" class="form-control" formControlName="otherFoodTime"
                  [ngClass]="{ 'error':submitted && otherFoodTime.errors   }" placeholder="Others Please Specify">
                <!-- <span class="mb-0 color-dark-black fs14 opct-1">Others Please Specify </span> -->
              </div>
            </div>
          </div>
          <!-- <div *ngIf="submitted && otherFoodTime.errors " class="invalid-feedback">
                <div *ngIf="otherFoodTime.errors.required ">Other Med Food Time is required</div>
            </div> -->
          <div *ngIf="submitted && medFoodTime.errors " class="invalid-feedback">
            <div *ngIf="medFoodTime.errors.required ">Med Food Time is required</div>
          </div>
        </div>
      </div>
      <div class="text-center mt-30 mb-20">
        <button type="submit" class="btn btn-theme-gradient text-white shadow px-3" *ngIf="title == 'Add'">Save</button>
        <button type="submit" class="btn btn-theme-gradient text-white shadow px-3"
          *ngIf="title == 'Edit'">Update</button>
      </div>
    </form>
  </div>
</section>