<section>
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/patient-summary">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Instructions</div>
      <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item">
          <a class="c-pointer" routerLink="/app/menu"><img src="./assets/images/incare-mobile/home@2x.png" class="w-19px"></a>
        </li>
      </ul>
  
    </nav>
    <div class="mobile-body bg-white h-100vh mb-100">
       <div class="notes-list list-group mx-2 p20">
        <div *ngFor="let dosDonts of dosDontsInfo">
          <h4 class="fs20"> {{dosDonts.docterName}} - {{dosDonts.postDate | date:'dd MMM yyyy'}}</h4>
          <h1 class="color-green2 fs16 font-weight-bold mt-30">DO's</h1>
          <ul class="list-unstyled dos-list">
              <li class="position-relative" *ngFor = "let dosInfo of dosDonts.Dos">
                <i class="fas fa-check color-green2 position-absolute"></i> 
                <div class="list-text">
                   {{dosInfo.message}}
                </div>
              </li>
          </ul>
            <h1 class="fs16 font-weight-bold color-red2">DONT's</h1>
            <ul class="list-unstyled dont-list">
                <li class="position-relative" *ngFor = "let dontsInfo of dosDonts.Donts">
                  <i class="fas fa-times color-red2 position-absolute"></i> 
                  <div class="list-text">
                        {{dontsInfo.message}}
                  </div>
                </li>
            </ul>  
       </div>
      </div>
    
    </div>
  </section>



  
  <!-- bottom tabs -->
  <app-bottomnav></app-bottomnav>
<!-- bottom tabs -->



