<section>
  <app-loader></app-loader>
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px" (click)="gotomenu()">
      <!-- <i class="fas fa-arrow-left text-white"></i> -->
      <img src="assets/images/back.png" width="17">
    </a>
    <div class="m-auto text-white fs16">Edit Profile</div>
    <ul class="list-inline position-absolute right-20">
      <li class="position-relative list-inline-item" routerLink="/app/menu">
        <a>
          <img src="./assets/images/incare-mobile/home@2x.png" class="w-19px">
        </a>
      </li>
    </ul>
  </nav>
  <div class="mobile-body p25 bg-transparent">

    <form name="form" [formGroup]="editProfileForm" class="incareview-form" (ngSubmit)="onSubmit()" novalidate>
      <div class="user-image  d-inline-block mr-3 mt-3 mb-3">
        <img src="./assets/images/incare-mobile/avatar.astronaut.png" alt="user-image">
      </div>

      <!-- <img src="./assets/images/menu-icons/edit-icon.png" alt="edit-image" class="edit-icon"> -->

      <div class="clerfix mb-4"></div>

      <div class="input-group custom-form-elemet mb-3" [ngClass]="{ 'error':submitted && firstName.errors   }">
        <div class="input-group-prepend">
          <span class="input-group-text  rounded-0 bg-transparent">
            <img src="./assets/images/menu-icons/users.png" class="w-15px" alt="user-image">
          </span>
        </div>
        <input type="text" class="form-control bg-transparent rounded-0" placeholder="First Name"
          aria-label="First Name" formControlName="firstName" required>
      </div>
      <div *ngIf="submitted && firstName.errors " class="invalid-feedback">
        <div *ngIf="firstName.errors.required ">First Name is required</div>
        <div *ngIf="firstName.errors?.minlength ">First Name must be at least 3 characters long.</div>
      </div>

      <div class="input-group custom-form-elemet mb-3" [ngClass]="{ 'error':submitted && lastName.errors   }">
        <div class="input-group-prepend">
          <span class="input-group-text rounded-0 bg-transparent">
            <img src="./assets/images/incare-mobile/Designation@2x.png" alt="job-postion-image">
          </span>
        </div>
        <input type="text" class="form-control bg-transparent rounded-0" placeholder="Last Name" aria-label="Last Name"
          formControlName="lastName" required>

      </div>
      <div *ngIf="submitted && lastName.errors" class="invalid-feedback">
        <div *ngIf="lastName.errors.required ">Last Name is required</div>
        <div *ngIf="lastName.errors?.minlength ">Last Name must be at least 3 characters long.</div>
      </div>

      <div class="input-group custom-form-elemet mb-3" [ngClass]="{ 'error':submitted && phoneNumber.errors   }">
        <div class="input-group-prepend">
          <span class="input-group-text  rounded-0 bg-transparent">
            <img src="./assets/images/incare-mobile/phone-call@2x.png" alt="phone-image">
          </span>
        </div>
        <div class="input-group-prepend btn-group" style="margin-top: -5px" dropdown>
          <span class="input-group-text rounded-0 bg-white">
            <div>
              <button type="button" id="button-basic" dropdownToggle class="dropdown-toggle bg-transparent border-0"
                aria-controls="dropdown-basic">
                <img src="./assets/images/CountryImage/{{countryCode}}.png" alt="country-image">
                <span class="caret">{{defaultCountry}}</span>
              </button>
            </div>
          </span>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu px-2 min-auto" role="menu"
            aria-labelledby="button-basic" style="max-height: 120px;overflow-y: auto;">
            <li role="menuitem">
              <a class="dropdown-item" href="javascript:void(0)" *ngFor="let flag of countryCodes"
                (click)="setCountryInfo(flag)">
                <img src="./assets/images/CountryImage/{{flag.code}}.png" alt="country-image">
                <span class="caret">{{flag.dial_code}}</span>
              </a>
            </li>
          </ul>
        </div>
        <input type="text" class="form-control bg-transparent rounded-0" placeholder="Phone" aria-label="Phone"
          formControlName="phoneNumber" maxlength="{{phoneMaxLength}}" required appNumbersOnly>
      </div>

      <div *ngIf="submitted && phoneNumber.errors " class="invalid-feedback">
        <div *ngIf="phoneNumber.errors.required ">Mobile Number is required</div>
      </div>
      <div *ngIf="!(phoneNumber.errors && phoneNumber.errors.required) && isValidPhoneError" class="invalid-feedback">
        Mobile Number Must Contains
        {{phoneMaxLength}}
        Digits
      </div>

      <div class="input-group custom-form-elemet mb-3" [ngClass]="{ 'error':submitted && email.errors   }">
        <div class="input-group-prepend">
          <span class="input-group-text  rounded-0 bg-transparent">
            <img src="./assets/images/incare-mobile/Users@2x.png" alt="email-image">
          </span>
        </div>
        <input type="text" class="form-control bg-transparent rounded-0" placeholder="Email Address"
          aria-label="Job Position" formControlName="email" required>

      </div>
      <div *ngIf="submitted && email.errors " class="invalid-feedback">
        <div *ngIf="email.errors.required ">Email is required</div>
        <div *ngIf="email.errors.pattern">Email must be a valid email address</div>
      </div>

      <div class="input-group custom-form-elemet mb-3" [ngClass]="{ 'error':submitted && secondary_email.errors   }">
        <div class="input-group-prepend">
          <span class="input-group-text  rounded-0 bg-transparent">
            <img src="./assets/images/incare-mobile/Users@2x.png" alt="email-image">
          </span>
        </div>
        <input type="text" class="form-control bg-transparent rounded-0" placeholder="Secondary Email Address"
          aria-label="Secondary Email Address" formControlName="secondary_email">

      </div>

      <div *ngIf="submitted && secondary_email.errors " class="invalid-feedback">
        <div *ngIf="secondary_email.errors.pattern">Secondary Email must be a valid email address</div>
      </div>


      <div class="text-center mt-40">
        <button type="submit" class="btn btn-theme-gradient text-white shadow">Update</button>
      </div>

    </form>
  </div>
</section>