<section>
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px" routerLink="/app/patients">
    <!-- <i class="fas fa-arrow-left text-white"></i> -->
    <img src="assets/images/back.png" width="17">
    </a>
    <div class="m-auto text-white fs16">Ask your doctor</div>
  </nav>
  <div class="mobile-body bg-white px-4 py-3 ask-doctor">
    <tabset>
      <tab heading="Recent">
        <!-- Date list -->
        <ul class="dosdonts-list list-group">
            <li class="list-group-item unread-dosdonts py-4">
              <span class="dosdontst-text fs14">13 March 2019</span>
              <span class=" position-absolute rt-10 font-weight-bold fs16 nxt-txt" >
                  <i class="fas fa-chevron-right theme-color"></i>
              </span>
            </li>
  
            <li class="list-group-item unread-dosdonts py-4">
              <span class="dosdontst-text fs14">13 March 2019</span>
              <span class=" position-absolute rt-10 font-weight-bold fs16 nxt-txt" >
                  <i class="fas fa-chevron-right theme-color"></i>
              </span>
            </li>
          </ul>
        <!-- Date list -->
      </tab>
      <tab heading="New">
        <div class="incareview-form">
          <form class="settings-form custom-form-elemet mt-20">
            <div class="form-group">
              <label>Select your doctor</label>
              <select class="form-control h30 p0">
                <option selected>Select</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </form>
          <div class="message-body">
            <ul class="pl0">
                <li class="replies">
                  <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text.</p>
                  <div class="clearfix"></div>
                  <span class="float-right color-grey-dark fs11">Delivered</span>
                </li>
                <div class="clearfix"></div>
                <li class="sent">
                  <img src="./assets/images/user.jpg" alt="" />
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </li>
            </ul>
          </div>
          <div class="message-input p20 bg-white">
            <div class="wrapper">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-transparent border-0 pl0">
                    <img src="./assets/images/plus.png" alt="Add" /></span>
                  <span class="input-group-text bg-transparent border-0 pl0">
                      <img src="./assets/images/gallery.png" alt="Gallery" />
                  </span>
                </div>
                <input type="text" class="form-control br27 h46" placeholder="Type a message here" />
                <div class="input-group-append">
                  <span class="input-group-text bg-transparent border-0"> <img src="./assets/images/send.png" alt="Send" /></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</section>

