<div class="container-fluid no__padding">
  <div class="row">
    <div class="col-12 modal__head">
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="row">
            <div class="col-12 col-md-8">
              <h3>Assessment Summary</h3>
            </div>
            <div class="col-12 col-md-4">
              <h3>Risk Score <span>3</span></h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <button class="btn btn-theme-gradient text-white shadow mb-20 ng-star-inserted float-right">Submit</button>
          <select class="custom__dropdown float-right">
            <option>Select Action</option>
          </select>
        </div>
      </div>
      
    </div>
    <div class="col-12 no__padding modal__body">
      <div class="col-12 summary--text">
        <div class="row">
          <div class="col-6 col-md-3">
            <p><span>Date : </span> 12.11.2020</p>
            <p><span>Time : </span> 01:00 PM</p>
          </div>
          <div class="col-6 col-md-3">
            <p><span>Canola Type : </span> Lorem ipsum dolor</p>
            <p><span>Insertion Type Type : </span> Lorem ipsum dolor</p>
          </div>
        </div>
      </div>
      <div class="col-12 questions">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="col-12 questions__container">
              <span>Question 01</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, praesentium? Eligendi libero voluptatem omnis sed soluta quisquam, dolores reprehenderit fugit non ullam. Veritatis corporis distinctio corrupti natus quod, accusamus consequuntur.</p>
              <span class="answer--highlight">Answer</span>
              <p>Yes</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="col-12 questions__container">
              <span>Question 01</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, praesentium? Eligendi libero voluptatem omnis sed
                soluta quisquam, dolores reprehenderit fugit non ullam. Veritatis corporis distinctio corrupti natus quod, accusamus
                consequuntur.</p>
              <span class="answer--highlight">Answer</span>
              <p>Yes</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="col-12 questions__container">
              <span>Question 01</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, praesentium? Eligendi libero voluptatem omnis sed
                soluta quisquam, dolores reprehenderit fugit non ullam. Veritatis corporis distinctio corrupti natus quod, accusamus
                consequuntur.</p>
              <span class="answer--highlight">Answer</span>
              <div class="row">
                <div class="image__container">
                  <img src="https://i.pinimg.com/originals/9e/ee/e9/9eeee93ed4e8b3ccef2c17dadcca1a2b.jpg" class="answer--image"/>
                  <img src="https://e7.pngegg.com/pngimages/341/867/png-clipart-white-check-with-green-background-illustration-fingerprint-comcast-circle-symbol-technology-tick-miscellaneous-angle.png" class="selected__image"/>
                </div>
                <div class="image__container active__image">
                  <img src="https://i.pinimg.com/originals/9e/ee/e9/9eeee93ed4e8b3ccef2c17dadcca1a2b.jpg" class="answer--image" />
                  <img
                    src="https://e7.pngegg.com/pngimages/341/867/png-clipart-white-check-with-green-background-illustration-fingerprint-comcast-circle-symbol-technology-tick-miscellaneous-angle.png"
                    class="selected__image" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="col-12 questions__container">
              <span>Question 01</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, praesentium? Eligendi libero voluptatem omnis sed
                soluta quisquam, dolores reprehenderit fugit non ullam. Veritatis corporis distinctio corrupti natus quod, accusamus
                consequuntur.</p>
              <span class="answer--highlight">Answer</span>
              <p>Yes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
