.no__padding {
  padding: 0;
}
p {
  color: rgba(0, 0, 0, 0.6);
  span {
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
  }
}
.custom__dropdown {
  border: none;
  border-bottom: 2px solid #000;
  width: 40%;
  padding: 4px 2px;
  margin-right: 40px;
  font-weight: bold;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #5bbd92, #0299d7);
  background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
  background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
  background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
  background: -o-linear-gradient(to right, #5bbd92, #0299d7);
  background-clip: text;
}
.questions__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding: 12px;
  box-sizing: border-box;
  $border: 2px;
  background: #f4f5fa;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 12px;
  margin-bottom: 12px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(to right, #5bbd92, #0299d7);
    background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
    background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
    background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
    background: -o-linear-gradient(to right, #5bbd92, #0299d7);
  }
  span {
    font-weight: bold;
    color: #000;
    padding: 12px 0;
    .answer--highlight {
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      display: block;
      background: linear-gradient(to right, #5bbd92, #0299d7);
      background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
      background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
      background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
      background: -o-linear-gradient(to right, #5bbd92, #0299d7);
      background-clip: text;
      font-weight: bold;
    }
  }
  p {
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
  }
}
.image__container {
  padding: 2px;
  position: relative;
  border-radius: 12px;
  margin: 8px;
  transition: 0.4s;
  &:hover {
    transform: scale(1.1);
  }
}
.answer--image {
  height: 100px;
  width: 100px;
  border-radius: 12px;
  cursor: pointer;
}
.selected__image {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  opacity: 0;
}
.active__image {
  background: linear-gradient(to right, #5bbd92, #0299d7);
  background: -webkit-linear-gradient(to right, #5bbd92, #0299d7);
  background: -moz-linear-gradient(to right, #5bbd92, #0299d7);
  background: -ms-linear-gradient(to right, #5bbd92, #0299d7);
  background: -o-linear-gradient(to right, #5bbd92, #0299d7);
  .selected__image {
    opacity: 1;
  }
}
.modal__body {
  height: 50vh;
  overflow-y: auto;
  padding: 12px 0;
}
