<section>
   <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/medications">
         <!-- <i class="fas fa-arrow-left text-white"></i> -->
         <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Drug Info</div>
      <ul class="list-inline position-absolute right-20">
         <li class="position-relative list-inline-item">
            <a class="c-pointer" routerLink="/app/menu"><img src="./assets/images/incare-mobile/home@2x.png"
                  class="w-19px"></a>
         </li>
      </ul>
   </nav>
   <div class="mobile-body bg-white h-100vh">
      <!-- Date list -->
      <ul class="druginfo-list list-group mt-70 mb-70 mx-3">
         <li class="list-group-item unread-dosdonts py-2 px-0">
            <label class="theme-color d-block mb-0 fs12 font-weight-bold">Generic Name </label>
            <span class="dosdontst-text fs14">{{medViewList.genericName}}</span>
         </li>

         <li class="list-group-item unread-dosdonts py-2 px-0">
            <label class="theme-color d-block mb-0 fs12 font-weight-bold">Medicine Group</label>
            <span class="dosdontst-text fs14">{{medViewList.groupName}}</span>
         </li>

         <li class="list-group-item unread-dosdonts py-2 px-0">
            <label class="theme-color d-block mb-0 fs12 font-weight-bold">Dosage</label>
            <span class="dosdontst-text fs14">{{medViewList.amountOfMg}}</span>
         </li>

         <li class="list-group-item unread-dosdonts py-2 px-0">
            <label class="theme-color d-block mb-0 fs12 font-weight-bold">Medication Uses</label>
            <span class="dosdontst-text fs14">{{medViewList.medicationUse}}</span>
         </li>

         <li class="list-group-item unread-dosdonts py-2 px-0">
            <label class="theme-color d-block mb-0 fs12 font-weight-bold">Comments</label>
            <span class="dosdontst-text fs14 text-truncate d-block">{{medViewList.comments}}</span>
         </li>

         <li class="list-group-item unread-dosdonts py-2 px-0">
            <label class="theme-color d-block mb-0 fs12 font-weight-bold">Frequency</label>
            <span class="dosdontst-text fs14">{{medViewList.medicinetime}}</span>
         </li>

         <li class="list-group-item unread-dosdonts py-2 px-0">
            <label class="theme-color d-block mb-0 fs12 font-weight-bold">When to take</label>
            <span class="dosdontst-text fs14">{{medViewList.foodTime}}</span>
         </li>

      </ul>
      <!-- Date list -->
   </div>
</section>

<!-- bottom tabs -->
<app-bottomnav></app-bottomnav>
<!-- bottom tabs -->