/********* margin & padding  **********/
$spaceamounts: (-5, -13, 0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 16, 18, 20, 25, 28, 30, 33, 35, 40, 43, 44, 45, 50, 55, 56, 60, 62, 70, 74, 90, 100, 105);
$sides: (top, bottom, left, right, all); 
 
@each $space in $spaceamounts {
  @each $side in $sides {
 
    @if $side == 'all' {
      .m-#{$space} {
        margin: #{$space}px;
      }
      .p#{$space} {
        padding: #{$space}px;
      }
    } @else {
      .m#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}px;
      }
 
      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-#{$side}: #{$space}px;
      }
    }
  }
}

/********* margin & padding  **********/

.mt_2{
  margin-top: -2px;
}

.h-100vh{
  min-height:100vh;
}
.z-9{
  z-index: 9;
}