body {
  font-family: "Helvetica";
  background-color: #f4f5fa;
  color: #4a4a4a;
  overflow-x: hidden;
  scrollbar-track-color: #dbdbdb;
  scrollbar-face-color: #00789e;
  scrollbar-arrow-color: #ccc;
}

a,
a:hover {
  text-decoration: none;
}

.c-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

/****** scroll bar css *****************/
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: $white;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: #00789e;
  border-radius: 0px;
  outline: 2px solid $white;
}
/****** scroll bar css *****************/

.auth-content {
  min-height: 100vh;
  background-image: url("./assets/images/bgimg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.w22px {
  width: 22px;
}

.logo {
  width: 150px;
}

.input-group {
  popover-container {
    top: -65px;
    left: -136px !important;
    width: 200px;
  }
  .popover {
    border-radius: 0px;
    border: none;
    @extend .btn-shadow;
    .arrow {
      left: 78% !important;
    }
    .popover-body {
      padding: 0.5rem 0.5rem;
      color: #00789e;
      font-size: 12px;
    }
  }
}

.rt0 {
  right: 0px;
}
.bt5 {
  bottom: 5px;
}
.z-1111 {
  z-index: 1111;
}
.h50 {
  height: 50px;
}
.myorg {
  .panel {
    &.card {
      border: 0;
      .card-header {
        background-color: #fff;
      }
    }
  }
  .panel .accordion:before {
    content: "\02795";
    float: left;
  }

  .panel.panel-open .accordion:before {
    content: "\2796";
  }
  .panel .subaccordion:before {
    content: "\02795" !important;
    float: left;
  }
  .panel.panel-open .subaccordion:before {
    content: "\2796";
  }
  tree-view,
  app-user-view {
    li {
      @extend .mb-20;
      ul {
        padding-left: 30px;
      }
      background-color: #fff;
      margin-bottom: 25px;
      // padding: 20px 20px 20px 20px;
      border-radius: 9px;
      &:last-child {
        @extend .mb-0;
      }
      &.treeview {
        @extend .pl15;
        box-shadow: 0px 3px 5px #ddd;
        .up-arrow {
          background: #fff url(./assets/images/arrow.png) no-repeat;
          background-size: contain;
          width: 21px;
          height: 13px;
        }
        .down-arrow {
          -webkit-mask-box-image: url(./assets/images/arrow.png);
          background-size: contain;
          width: 21px;
          height: 13px;
          transform: rotate(180deg);

          &.bg-grey {
            background: #fff url(./assets/images/arrow-grey.png) no-repeat;
            background-color: transparent;
          }
        }
        app-user-view,
        tree-view {
          ul {
            li {
              @extend .pr0;
              border-top: 1px solid #a5e0e8;
              border-radius: 0;
              @extend .mb-0;
              &:first-child {
                border-radius: 0px;
              }
              &:nth-child(-n + 3) {
                border-top: 1px solid #a5e0e8;
              }
              &.treeview {
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}

.incareview-model {
  .modal-header {
    padding: 22px 15px 5px;
    border-bottom: none;
  }
  .modal-content {
    padding: 0 7px;
    .input-group-prepend {
      @extend .mr-0;
      .input-group-text {
        background-color: #fff;
        border-radius: 0;
        @extend .border-left0, .border-right0, .border-top0;
        @extend .pl0, .pr0;
        @extend .btdr-btm-color;
      }
    }

    .custom-select,
    .form-control {
      height: calc(2.25rem + 10px);
      border-radius: 0;
      @extend .border-left0, .border-right0, .border-top0;
      outline: 0;
      box-shadow: none;
      @extend .fs14;
      @extend .btdr-btm-color;
      &::placeholder {
        color: #ccc;
      }
    }

    .custom-select {
      background-image: url("./assets/images/down-chevron.png");
    }
    textarea {
      &.form-control {
        height: auto;
        resize: none;
      }
    }
    .btn-primary {
      background: #1e5799; /* Old browsers */
      background: -moz-linear-gradient(
        left,
        #1e5799 0%,
        #59bc93 0%,
        #0c9dce 100%,
        #0c9dce 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        #1e5799 0%,
        #59bc93 0%,
        #0c9dce 100%,
        #0c9dce 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        #1e5799 0%,
        #59bc93 0%,
        #0c9dce 100%,
        #0c9dce 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#0c9dce',GradientType=1 ); /* IE6-9 */
    }
    .btn {
      border: none;
      padding: 8px 29px;
      border-radius: 20px;
      width: 180px;
    }
  }
  &.org-window {
    .modal-content {
      padding: 7px 27px;
    }
  }
}

.border-left0 {
  border-left: 0;
}
.border-right0 {
  border-right: 0;
}
.border-top0 {
  border-top: 0;
}
.btdr-btm-color {
  border-bottom-color: #71c6d9;
}
.toggle-switch {
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 27px;
    height: 10px;
    background: #ddd;
    display: block;
    border-radius: 100px;
    position: relative;
    @extend .mt-5;
  }

  label:after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0px;
    width: 17px;
    height: 17px;
    background: #ccc;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: #acded4;
  }
  input:checked + label:after {
    left: calc(100% - 15px);
    background: $green;
  }
}

.myorg-dd {
  .dropdown-menu.show {
    left: auto !important;
    right: 17px !important;
    padding: 0px;
    border: none;
    box-shadow: 3px 3px 10px #ccc;
    li {
      margin-bottom: 0px;
      border-radius: 0px;
      .dropdown-item {
        padding: 10px;
        img {
          margin-right: 20px;
          width: 18px !important;
        }
      }
      border-bottom: 1px solid #ddd;
      a {
        span {
          color: #878787;
          @extend .fs12;
          line-height: 20px;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.notification-list {
  &.list-group {
    li {
      border: none;
      border-bottom: 1px solid $green;
    }
  }
}

.right-20 {
  right: 20px;
}

.top-12 {
  top: 12px;
}
.create-page {
  min-height: 100%;
  // position: absolute;
  width: 100%;
}

.search-field {
  &.input-group {
    border: 1px solid #8acecc;
    border-radius: 40px;
    overflow: hidden;
    color: #4a4a4a;

    &:focus-within {
      background: #f8f8f8;
      border: 1px solid $theme-color;
    }
    .h50.form-control {
      height: 50px;
    }
    input {
      font-size: 14px;
      font-weight: 600;
      height: 50px;
      line-height: 37px;
      &::placeholder {
        color: #4a4a4a;
        font-weight: 500;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}

/********* patients list ************/
.patients-list {
  padding-top: 6px;
  min-height: 100vh;
  .patients-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    top: 6px;
  }
  .patients-content {
    margin-left: 65px;
    margin-bottom: 2px;
    min-height: 40px;
  }
  &.list-group {
    li {
      border: none;
      border-bottom: 1px solid $green;
      &:last-child {
        border-radius: 0;
      }
    }
  }

  &.status-list {
    li {
      padding-left: 40px;

      .patients-dot {
        left: 15px;
        top: 38%;
        font-size: 12px;
      }
    }
  }
}
/********* patients list ************/

/********* appointments list ************/
.appointments-list {
  &.patients-list {
    .patients-img {
      width: 62px;
      height: 62px;
      margin-top: 6px;
    }
    .patients-content {
      margin-left: 70px;
      padding-right: 20px;
      .right-img {
        width: 17px;
        right: 10px;
        top: 20px;
      }
    }
  }
}
/********* appointments list ************/

/******** Notes list ************/
.notes-list {
  &.list-group {
    li.list-group-item {
      @extend .pb20;
      @extend .mb-6;
      .user-icon {
        width: 25px;
        top: 5px;
        left: 10px;
      }

      .notest-text {
        padding-left: 32px;
        display: block;
        padding-right: 40px;
        color: $dark-black;
        font-weight: 500;
      }

      &.unread-notes {
        .notest-text {
          @extend .theme-color;
        }
      }
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid $theme-color;
    }
  }

  .uread-txt {
    top: 13px;
  }
}

/******** Notes list ************/

/********* dosdonts-list **********/

.dosdonts-list {
  &.list-group {
    li.list-group-item {
      @extend .pb20;
      @extend .mb-6;
      .user-icon {
        width: 19px;
        top: 20px;
        left: 10px;
      }

      .dosdonts-text {
        display: block;
        padding-left: 25px;
        padding-right: 10px;
        color: $dark-black;
        font-weight: 500;
      }
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid $theme-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
  .nxt-txt {
    top: 21px;
  }
}

/********* dosdonts-list **********/

/********* drug info list **********/
.druginfo-list {
  &.list-group {
    li.list-group-item {
      border-top: none;
      border-right: none;
      border-left: none;
      @extend .mb-6;
    }
  }
}
/******** drug info list **********/

/************* Medication list page ******************/
.medication-list {
  padding: 6px 0 100px;
  .medication-img {
    width: 45px;
    top: 23px;
  }

  .chevron-icon {
    right: 15px;
    top: 8px;
  }
  .medication-content {
    margin-left: 60px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2px;
    @extend .pb12;
  }

  .list-group {
    .list-group-item {
      border-left: none;
      border-right: none;
      border-top: none;
      border-color: $theme-color;
      @extend .c-pointer;
      padding: 1.25rem 1.25rem;
      @extend .mb-6;
    }
  }
}
/************* / Medication list page ******************/

/**************** patient profile *************/

.patient-profile-info {
  @extend .p20;
  position: relative;
  &.user {
    img.avator {
      height: 70px;
      width: 70px;
    }
  }
  img.avator {
    height: 90px;
    width: 90px;
  }

  .patient-info {
    padding: 0px 27px 0px 105px;
  }
  .patient-info-data {
    padding: 0px 27px 0px 85px;
  }
  .edit-icon-profile {
    width: 20px;
    top: 29%;
    right: 0px;
  }
}

.media-patient-info {
  @extend .mb-0;
  &:last-child {
    border-radius: 0px;
  }
  .custom-control {
    height: 80px;
    line-height: 80px;
  }
  .patient-profile-info {
    padding: 18px 0px 10px 20px;
    position: relative;
    img.avator {
      height: 80px;
      width: 80px;
    }

    .patient-info {
      padding: 0px 0px 0px 105px;
      h1 {
        height: 80px;
        line-height: 80px;
      }
    }
  }
}

.custom-tabs-head {
  overflow-x: auto;
  // &::-webkit-scrollbar{
  //     display: none;
  // }
  .nav {
    display: block;
    white-space: nowrap;
    width: 123%;
    @extend .ml-20;
    &.nav-pills {
      border-bottom: 1px solid #ddd;
      .nav-item {
        width: 22%;
        text-align: center;
        display: inline-block;
        .nav-link {
          border-radius: 0px;
          background: transparent;
          @extend .color-black;
          @extend .c-pointer;
          &.active {
            border-bottom: 3px solid $green;
            @extend .theme-color;
          }
        }
      }
    }
  }
}

.custom-tabs-body {
  margin-bottom: 100px;
  .card {
    border-top: none;
    border-right: none;
    border-left: none;
    .card-header {
      background: white;
      border-bottom: 0px;
      padding: 15px 0px;
    }
    .card-body {
      padding: 20px 0px;
      padding-top: 0px;
    }
  }
}

.slider-card {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: initial;
  padding-bottom: 5px;
  margin: 0px -20px 0px -15px;
  @extend .firebox-scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &.careteam-scroll {
    &::-webkit-scrollbar {
      display: block;
    }
  }
  li {
    width: 104px;
    .user-img {
      height: 83px;
      width: 83px;
      object-fit: cover;
    }
  }
}

.via-history-list {
  li {
    position: relative;
    @extend .mb-5;
    .view-report-link {
      right: 0px;
      top: 13%;
    }
    &.list-group-item:last-child {
      border-bottom: none;
      @extend .pb0;
    }
  }
}

/**************** /patient profile *************/

/************ instruction page **********/

.dont-list,
.dos-list {
  li {
    i.fas {
      top: 15px;
    }

    .list-text {
      font-size: 16px;
      @extend .pl28;
    }
    padding: 10px 0px;
  }
}

.progress {
  border-radius: 0.5rem;
  height: 0.5rem;
  @extend .border-green;
  .progress-bar {
    @extend .bg-theme-color;
  }
}
/************ /instruction page **********/

/************ Media form page **********/

.media-form-img {
  box-shadow: 0px 11px 10px #ddd;
  @extend .br-10;
}

/************ /Media form page **********/

/*********** Media slides page **********/

.dont-scroll {
  overflow: initial !important;
}

.media-slides {
  &.slider-card {
    & > li {
      margin: 10px 14px;
      @extend .br-10;
      box-shadow: 0px 10px 10px #ddd;
      width: 200px;
      padding: 20px;
      .media-img {
        width: 100%;
        height: 143px;
        object-fit: cover;
        &.obj-fit-contain {
          object-fit: contain;
          padding: 16px 0px;
        }
      }

      // .slidecard-content{
      //     @extend .pr20;

      // }

      .more-icon {
        .more-img {
          width: 24px;
        }
        right: -11px;
        top: 12px;
      }
    }

    .dropdown-menu {
      left: -126px !important;
      padding: 0;
      border: 0;
      border-radius: 0;
      box-shadow: 0px 0px 10px #ddd;
      li {
        width: 100%;
        border-bottom: 1px solid #f4f6f7;
        padding: 6px 0px;
        font-size: 14px;
        &:last-child {
          border-bottom: none;
        }
        .dropdown-item {
          font-weight: 600;
          color: #878787;
          img {
            width: 15px;
            margin-right: 12px;
          }
        }
      }
    }
  }
}

/*********** /Media slides page **********/

/********** media Video feed **********/

.video-feed-card {
  .more-icon-video {
    right: 0px;
    top: 10px;
    .more-img-video {
      width: 26px;
    }

    .dropdown-menu.dropdown-menu-left {
      left: auto !important;
      right: 0 !important;
    }
  }
}

.playpusebtn {
  height: 50px;
  width: 50px;
  padding: 15px 20px;
  text-align: center;
  top: 33%;
  right: 45%;
}

/********** /media Video feed **********/

.ask-doctor {
  .tab-container {
    ul.nav-tabs {
      border-color: #e1e3e8;
      width: 100%;
      display: table;
      text-align: center;
      li {
        display: table-cell;
        a {
          color: #c5ccd6;
          border: 2px solid transparent;
        }
        &.active {
          a {
            @extend .theme-color;
            &.active {
              border-color: #ffffff #ffffff #18a8bb;
              border-radius: 0;
              border-width: 2px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  &.appointments {
    ul.nav-tabs {
      li {
        width: 50%;
        border-radius: 0;
        a {
          color: #4a4a4a;
          &.active {
            span {
              @extend .theme-color;
            }
          }
        }
      }
    }
  }
}

.message-input {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}
.message-body {
  max-height: 100%;
  overflow-y: auto;
  ul {
    list-style: none;
    margin-bottom: 90px;
    li {
      &.sent {
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          float: left;
          margin: 5px 10px 5px 0;
        }
        p {
          background: #f1f0f0;
          width: calc(100% - 80px);
        }
      }
      &.replies {
        float: right;
        p {
          background-image: linear-gradient(
            to left,
            #109fcc,
            #01a2c8,
            #01a5c3,
            #0fa7be,
            #1fa9b9,
            #25abb6,
            #2dadb2,
            #35afae,
            #39b1aa,
            #3fb3a6,
            #46b5a1,
            #4eb79c
          );
          color: #fff;
          border-bottom-right-radius: 0;
        }
      }
      display: inline-block;
      clear: both;
      margin: 15px 0px;
      font-size: 0.9em;
      p {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 20px;
        max-width: 300px;
        margin-bottom: 0;
      }
    }
  }
}
.add-media-list {
  li {
    @extend .pl0, .pr0;
    .media {
      position: absolute;
      top: 0;
      width: 100%;
      // display: table;
      left: 0;
      @extend .pl35;
      img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
      }
    }
  }
}

.align-mobile-title {
  text-align: center;
}
.dos-width {
  width: 86%;
}
.dos-submit {
  width: 14%;
}
.profile-title {
  @extend .fs36;
}
.shadow-box {
  box-shadow: 0px 3px 5px #ddd;
}

.firebox-scroll {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #00789e rgba(0, 0, 0, 0.3);
}

/*************** toaster color change **********/

.toast-container {
  .toast-success {
    background-image: url("./assets/images/checked.png");
    background-color: #ffffff;
    padding: 15px 15px 15px 60px;
    color: #34ce8e;
    border: 0.5px solid #34ce8e;
    border-left: 10px solid #34ce8e;
    border-radius: 8px;
  }

  .toast-error {
    background-image: url("./assets/images/close.png");
    background-color: #ffffff;
    padding: 15px 15px 15px 60px;
    color: #d80021;
    border: 0.5px solid #d80021;
    border-left: 10px solid #d80021;
    border-radius: 8px;
  }
}

/*************** toaster color change **********/

#toast-container > div {
  opacity: 1;
}
