$transparent:transparent;
$fb-color: #3B5898;
$white:#fff;
$teal-color: #01779D;
$theme-color: #01779D;
$grey:#878585;
$green:#2caab6;
$dark-black:#4a4a4a;
$dark-grey:#a8a8a8;
$light-green: #00c372;
$light-grey:#c3c4c4;
$balck-color:  #2a2a30;
$grey-color:  #828393;
$grey-color2:  #9b9b9b;
$grey-color4:#9c9c9c;
$grey-color3:  #878787;
$grey-dark:#858e99;
$arrow-grey:#a4a4a4;
$color-light-green : #00c372;
$color-green2: #0db56d;

$color-red: #ff2b52;
$color-red2: #d0021b;

$color-yellow: #efb600;

/**position**/
$absolute:absolute;
$relative:relative;


/** font weight **/
$normal :normal;


/** display properties **/
$none:none;
$block:block;
$hidden:hidden;


/**** value ***/

$val_minus_5:-5px;
$val_minus_18:-18px;

$val1: 1px;
$val2: 2px; 
$val4: 4px;
$val14: 14px;
$val18: 18px;
$val30:30px;
$val260:260px;



/*** percentage ***/
$per-100: 100%;
$per-50: 50%;














/************* remove **************/

$milde-black: #575757;

/********** mixins ******************/

