<section>
    <div class="incareview-mobile-view">
       <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
          <a class="navbar-brand position-absolute top-17px" (click)="redirectPage()">
             <!-- <i class="fas fa-arrow-left text-white"></i> -->
             <img src="assets/images/back.png" width="17">
          </a>
          <div class="m-auto text-white fs16">Media</div>
          <!-- <ul class="list-inline position-absolute right-20">
              <li class="position-relative list-inline-item mr-4" routerLink="/app/media">
                <a ><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
              </li>
              <li class="position-relative list-inline-item">
                <a><img src="./assets/images/incare-mobile/Shape@2x.png" class="w-22px"></a>
              </li>
              </ul> -->
       </nav>
    </div>
    <div class="mobile-body bg-white mobile-view-hgt mt-70">
       <div class="container-fluid pl25 pr25 d-flex flex-column">
          <div *ngIf="mediaID === 0" class="upload-progress mt-5 mb-4 d-none">
             <label class="grey-color2">Uploading Media</label>
             <span class="float-right">{{progress}}%</span>
             <div class="progress border-0">
                <div class="progress-bar" [ngStyle]="{'width':progress + '%'}">
                </div>
             </div>
          </div>
          <div class="one">
             <div class="row">
                <div class="col-md-4">
                   <ng-container *ngIf="progress !== 100 && !mediaDetail">
                      <img src="./assets/images/physiotherapy.jpg" class="media-form-img w-100">
                   </ng-container>
                   <ng-container *ngIf="progress === 100 || mediaDetail">
                      <ng-container *ngIf="mediaService.fileData">
                         <ng-container *ngIf="this.mediaService.fileData.type === 'image'">
                            <img src="{{mediaService.imageURL}}{{mediaService.fileData.name}}"
                               class="media-form-img w-100">
                         </ng-container>
                         <ng-container *ngIf="this.mediaService.fileData.type === 'document'">
                            <img src="./assets/images/incare-mobile/pdf.png" alt="plus-image" class="w-50"
                               style="margin: 0 auto;" *ngIf="this.mediaService.fileData.format === 'pdf'">
                            <img src="./assets/images/incare-mobile/excel.png" alt="plus-image" class="w-50"
                               style="margin: 0 auto;"
                               *ngIf="this.mediaService.fileData.format === 'xlsx' || this.mediaService.fileData.format === 'xls' || this.mediaService.fileData.format === 'csv'">
                            <img src="./assets/images/incare-mobile/word.png" alt="plus-image" class="w-50"
                               style="margin: 0 auto;"
                               *ngIf="this.mediaService.fileData.format === 'doc' || this.mediaService.fileData.format === 'docx'">
                            <img src="./assets/images/incare-mobile/ppt.png" alt="plus-image" class="w-50"
                               style="margin: 0 auto;"
                               *ngIf="this.mediaService.fileData.format === 'ppt' || this.mediaService.fileData.format === 'pptx'">
                            <img src="./assets/images/incare-mobile/zip.png" alt="plus-image" class="w-50"
                               style="margin: 0 auto;"
                               *ngIf="this.mediaService.fileData.format === 'zip' || this.mediaService.fileData.format === 'rar'">
                            <img src="./assets/images/incare-mobile/document.png" alt="plus-image" class="w-50"
                               style="margin: 0 auto;"
                               *ngIf="this.mediaService.fileData.format != 'zip' && this.mediaService.fileData.format != 'rar' && this.mediaService.fileData.format != 'pdf' &&
                         this.mediaService.fileData.format != 'xlsx' && this.mediaService.fileData.format != 'xls' && this.mediaService.fileData.format != 'csv' && this.mediaService.fileData.format != 'doc' && this.mediaService.fileData.format != 'docx' && this.mediaService.fileData.format != 'ppt' && this.mediaService.fileData.format != 'pptx'">
                         </ng-container>
                         <ng-container *ngIf="this.mediaService.fileData.type === 'text'">
                            <img src="./assets/images/incare-mobile/txt.png" class="w-50" style="margin: 0 auto;">
                         </ng-container>
                         <ng-container *ngIf="this.mediaService.fileData.type === 'video'">
                            <img src="./assets/images/incare-mobile/video.png" class="w-50" style="margin: 0 auto;"
                               *ngIf="mediaService.fileData && !mediaService.fileData.thumbnailUrl">
                            <img src="{{mediaService.imageURL}}{{mediaService.fileData.thumbnailUrl}}"
                               class="media-form-img w-100"
                               *ngIf="mediaService.fileData && mediaService.fileData.thumbnailUrl">
                         </ng-container>
                         <ng-container *ngIf="this.mediaService.fileData.type === 'audio'">
                            <img src="./assets/images/incare-mobile/audio.png" class="w-50" style="margin: 0 auto;">
                         </ng-container>
 
                         <ng-container
                            *ngIf="this.mediaService.fileData.type !== 'document' && this.mediaService.fileData.type !== 'image' && this.mediaService.fileData.type !== 'text' && this.mediaService.fileData.type !== 'audio' && this.mediaService.fileData.type !== 'video'">
                            <img src="./assets/images/physiotherapy.jpg" class="media-form-img w-100">
                         </ng-container>
                      </ng-container>
                   </ng-container>
                </div>
                <div class="col-md-8">
                   <div *ngIf="mediaID === 0" class="upload-progress mt-5 mb-4">
                      <label class="grey-color2">Uploading Media</label>
                      <span class="float-right">{{progress}}%</span>
                      <div class="progress border-0">
                         <div class="progress-bar" [ngStyle]="{'width':progress + '%'}"></div>
                      </div>
                      <!-- <input type="text" class="form-control" placeholder="Title" formControlName="title"
                       [ngClass]="{ 'error':submitted && title.errors   }" required> -->
                   </div>
                </div>
             </div>
          </div>
          <div class="clearfix"></div>
          <form class="incareview-form mb-5 two" [formGroup]="mediaForm" (ngSubmit)="onSubmit()" novalidate>
             <div class="row">
                <div class="col-md-6">
                   <div class="one">
                      <div class="mb-4">
                         <div class="input-group custom-form-elemet">
                            <div class="input-group-prepend rounded-0">
                               <span class="input-group-text bg-white"
                                  [ngClass]="{ 'error':submitted && title.errors   }">
                                  <img src="assets/images/org-icon.png" style="width: 16px;">
                               </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Title" formControlName="title"
                               [ngClass]="{ 'error':submitted && title.errors   }" required>
                         </div>
                         <div *ngIf="submitted && title.errors " class="invalid-feedback">
                            <div *ngIf="title.errors.required ">Title is required</div>
                            <div *ngIf="title.errors?.minlength ">Title must be at least 3 characters long.</div>
                         </div>
                      </div>
                   </div>
                   <div class="two">
                      <!-- <div class="mb-4">
                    <div class="input-group custom-form-elemet">
                       <div class="input-group-prepend rounded-0">
                          <span class="input-group-text bg-white" [ngClass]="{ 'error':submitted && isPersonal.errors   }">
                          <img src="assets/images/lock.png" width="18">
                          </span>
                       </div>
                       <select class='form-control media-select' [ngClass]="{ 'error':submitted && isPersonal.errors   }" 
                       formControlName="isPersonal" (change)="onChange($event.target.value)" required >
                       <option value='' selected>Select</option>
                       <option value='1'>Privacy</option>
                       <option value='0'>Public</option>
                       </select>
                    </div>
                    <div *ngIf="submitted && isPersonal.errors " class="invalid-feedback">
                       <div *ngIf="isPersonal.errors.required ">Privacy is required</div>
                    </div>
                 </div> -->
                      <!-- <div *ngIf="careList.length>0 && showUser" class="mb-4">
                    <div class="input-group custom-form-elemet">
                      <div class="input-group-prepend rounded-0">
                        <span class="input-group-text bg-white" [ngClass]="{ 'error':submitted && orgDetail.errors   }">
                          <img src="assets/images/menu-icons/users.png" style="width: 17px;">
                        </span>
                      </div>
                        <select class='form-control media-select' [ngClass]="{ 'error':submitted && orgDetail.errors   }" 
                        formControlName="orgDetail" (change)="onChangeUser($event.target.value)"  >
                        <option value='' selected>Select Org User</option>
                        <ng-container *ngFor="let careTeam of careList">
                        <option [value]="careTeam.id">
                            <ng-container *ngIf="careTeam.user.firstName">
                                {{careTeam.user.firstName}} {{careTeam.user.lastName}}
                            </ng-container>
                            <ng-container *ngIf="!careTeam.user.firstName">
                                {{careTeam.user.username}}
                            </ng-container>
                          
                        </option>
                        </ng-container>                    
                      </select>
                    </div>
                    <div *ngIf="submitted && orgDetail.errors " class="invalid-feedback">
                        <div *ngIf="orgDetail.errors.required ">Organisation User is required</div>
                    </div>
                    </div> -->
                      <div *ngIf="careList.length>0 && showUser" class="mb-4">
                         <div class="input-group custom-form-elemet">
                            <div class="input-group-prepend rounded-0">
                               <span class="input-group-text bg-white"
                                  [ngClass]="{ 'error':submitted && orgDetail.errors   }">
                                  <img src="assets/images/lock.png" style="width: 15px;">
                               </span>
                            </div>
                            <select class='form-control media-select'
                               [ngClass]="{ 'error':submitted && orgDetail.errors   }" formControlName="orgDetail"
                               (change)="onChangeUser($event.target.value)">
                               <option value='' selected>Select Org / Dept</option>
                               <option value='1'>Private</option>
                               <ng-container *ngFor="let careTeam of careList">
                                  <option [value]="careTeam.id">
                                     <ng-container>
                                        {{careTeam.nodes.name}}
                                     </ng-container>
                                  </option>
                               </ng-container>
                               <!-- <option value='0'>Public</option> -->
                            </select>
                         </div>
                         <div *ngIf="submitted && orgDetail.errors" class="invalid-feedback">
                            <div *ngIf="orgDetail.errors.required ">Organisation User is required</div>
                         </div>
                      </div>
                      <div class="three">
                         <div class="mb-4">
                            <div class="input-group custom-form-elemet">
                               <div class="input-group-prepend rounded-0">
                                  <span class="input-group-text bg-white"
                                     [ngClass]="{ 'error':submitted && tags.errors   }">
                                     <img src="assets/images/tag.png" class="tag">
                                  </span>
                               </div>
                               <!-- <input type="text" class="form-control" placeholder="Tags" formControlName="tags"
                             [ngClass]="{ 'error':submitted && tags.errors   }" required> -->
                               <tag-input formControlName="tags" placeholder='tags' secondaryPlaceholder='tags'
                                  [(inputText)]="inputText" theme='minimal'
                                  [ngClass]="{ 'error':submitted && tags.errors   }"
                                  class="w-100 border-green border-top-0 border-right-0 border-left-0" *ngIf="!tagId"
                                  (keypress)="isCheckAlpha($event.keyCode)"></tag-input>
                               <tag-input formControlName="tags" placeholder='tags' secondaryPlaceholder='tags'
                                  [disable]="true" theme='minimal' [ngClass]="{ 'error':submitted && tags.errors   }"
                                  class="w-100 border-green border-top-0 border-right-0 border-left-0" *ngIf="tagId">
                               </tag-input>
                            </div>
                            <!-- <div *ngIf="submitted && tags.errors " class="invalid-feedback">
                          <div *ngIf="tags.errors.required ">Tags is required</div>
                         <div *ngIf="tags.errors?.minlength ">Tags must be at least 3 characters long.</div> 
                       </div> -->
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="mb-4">
                      <div class="input-group custom-form-elemet">
                         <div class="input-group-prepend rounded-0 bg-white">
                            <span class="input-group-text align-items-start bg-white"
                               [ngClass]="{ 'error':submitted && description.errors   }">
                               <img src="assets/images/description.png" width="18"></span>
                         </div>
                         <textarea class="form-control" aria-label="With textarea" placeholder="Description" rows="5"
                            formControlName="description" [ngClass]="{ 'error':submitted && description.errors   }"
                            required></textarea>
                      </div>
                      <div *ngIf="submitted && description.errors " class="invalid-feedback">
                         <div *ngIf="description.errors.required ">Description is required</div>
                         <div *ngIf="description.errors?.minlength ">Description must be at least 3 characters long.
                         </div>
                      </div>
                   </div>
                </div>
                <!-- <div class="text-center mt-30">
              <button type="submit" [disabled]="isDisable" class="btn btn-theme-gradient text-white shadow  mb-20">Save</button>
              </div> -->
             </div>
          </form>
          <div class="clearfix"></div>
          <div class="text-center mt-30 three">
             <button (click)="onSubmit()" [disabled]="isDisable"
                class="btn btn-theme-gradient text-white shadow  mb-20">Save</button>
          </div>
       </div>
    </div>
 </section>