@mixin float-focus {
  outline:$none;
  border-bottom:$val2 solid $white;  
}

@mixin float-focus-label{
  top:$val_minus_18;
  font-size:$val14;
  color: $white;
}


.floating-input-form{
      
      /****  floating-Lable style start ****/
      .floating-label { 
        position:$relative; 
      }

      label {
        color: $white; 
        font-size:$val18;
        font-weight:$normal;
        position:$absolute;
        pointer-events:$none;
        left:$val1;
        top:$val_minus_5;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
         @extend .font-roboto ;
      }

      .floating-input {
        font-size: $val14;
        padding:$val4 $val4;
        display:$block;
        width:$per-100;
        height:$val30;
        background-color: $transparent;
        border:$none;
        border-bottom:$val2 solid $white;
        color: $white;
        box-shadow: none;
        &:focus{
          @include float-focus;

          & ~ label{
            @include float-focus-label ;
          }

          & ~ .bar:after,
          & ~ .bar:before{
            width:$per-50;
          }

        }

        &:not(:placeholder-shown) ~ label{
          @include float-focus-label ;
        }
      }
      
      .floating-select{
        @extend .floating-input ;
        &:focus {
          @include float-focus;  

            & ~ label{
              @include float-focus-label ;
            }

            & ~ .bar:after,
            & ~ .bar:before{
              width:$per-50;
            }
             
        }

        &:not([value=""]):valid ~ label{
          @include float-focus-label ;
        }

      }

      /* active state */
     
      .floating-textarea {
         min-height:$val30;
         max-height:$val260; 
         overflow:$hidden;
         overflow-x:$hidden; 
      }
    
      /****  floating-Lable style end ****/
      
      my-date-picker{
        .mydp{
          border: none;
          border-radius: 0;
          .selectiongroup{
            background: transparent;
            input{
              @extend .floating-input;
              border-radius: 0;
              pointer-events:none;
              cursor: none;
            }
          }   
          .btnclear{
            @extend .date-bg;
          }    
          .btnpicker{
            @extend .date-bg;
          }   
        }
    }
    .date-label{
      @include float-focus-label;
    }
    .label-top{
      top: -1px;
    } 
}
.date-bg{
  background: transparent;
  @extend .color-white;
}


.custom-form-elemet{
  // border-bottom : 1px solid $green;
  // padding-bottom: 10px;
  .mydp .selection{    border-radius: 0;}
  .input-group-text{
    img{
      width:18px;
    }
    .tag{
      width: 13px;
    }
  }
  .form-control{
    @extend .fs14;
    &:focus{
      outline: 0;
      box-shadow: none;
    }
    &::placeholder{
      color: $light-grey;
      font-weight: lighter;
    }
    &::-ms-expand {
      display: none;
    }
  }
  tag-input{
    flex: 1 1 auto;
    width: 1% !important;
    .ng2-tags-container{
      padding-left: 12px;
      tag-input-form{
        form{
          input{
            &::placeholder{
              color: $light-grey;
              font-weight: lighter;
              @extend .fs14;
            }
          }
        }
      }
    }
  }
}

.incareview-form{
  .custom-form-elemet{
    .input-group-text{
      border-bottom : 1px solid #2caab699;
      @extend .border-left0, .border-right0, .border-top0;
      border-radius: 0px;
    }
    .form-control{
      border-bottom : 1px solid #2caab699;
      @extend .border-left0, .border-right0, .border-top0;
      border-radius: 0px;
    }
  }
}

.text-danger{
  @extend .fs12;
}
.custom-checkbox {
  .custom-control-input:checked ~ .custom-control-label::before{
    background:#1a4970;
  } 
}
.dos-checkbox{
  .custom-control-label{
    &::before{
      width: 1.4rem;
      height: 1.4rem;
      top: 2px;
      background-color: #ffffff;
      border: 1px solid #ccc;
    }
    &::after {
      top: 0.3rem;
      left: -1.3rem; 
      background-size: 74% 71%;
    }
  }
  .checkmark{
    line-height: 25px;
    font-size: 14px;
    color: #21c07e;
  }
}

.seachfiled-color{


  input.form-control{
    letter-spacing: 1px;
    color: #494949 !important;

    &:focus{
      outline: none;
      box-shadow: none;
      @extend .border-green;
    }
  &::placeholder{
    color: #494949 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
  }
  border-radius: 6px 0px 0px 6px;   
}
  .btn.border-green{
    border-radius: 0px 6px 6px 0px;   
  }
}

.btn-shadow{
 box-shadow: 0px 0px 5px #c3c1c1;
}

.settings-form{
  label{
    @extend .color-dark-black;
    opacity: 0.45;
    @extend .fs12;
    @extend .mb-0;
  }
  .form-control{
    @extend .pl0,.pr0;
    &:disabled{
      &::placeholder{
        @extend .color-dark-black;
      }
      padding: 24px 0 34px 0;
      .work-mode{
        &::placeholder{
          @extend .theme-color;
        }
      }
    }
  }
  select{
    background: url(assets/images/down-arrow.png) no-repeat right;
    background-size: 16px;
    @extend .apperance;
  }
  .toggle-switch{
    label{      
      opacity: 1;
    }
  }
}
.apperance{  
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}
.media-select{
  background: url(assets/images/media-arrow.png) no-repeat right;
  background-size: 16px;
  @extend .apperance;
}
.med-form{
  .custom-control{
    display: inline-block;
    margin-right: 15px;
    label{
      opacity: 1;
    }
  }
}

.mobile-search{
  &.input-group {
      bottom: 9px;
      input{
          height: 30px;
      }
  }
}

.summary-input{
  .ng2-tag-input{
    min-height: 68px!important;
    border: 1px solid #37afac!important;
    border-radius: 11px;
  }
  .ng2-tag-input__text-input{
    background: transparent;
  }
}

input{
  box-shadow: none !important;
}

.floating-input{
  &.placeholder-text::placeholder{
  color: #fff;;
}
}
.borderw-2{
    border-width: 2px !important;
}