.app-header{
    top: 20px;
    width: 90%;
    padding: 20px 40px;
    margin-left: 0px;
    background-color: #01779D;
    border-radius: 10px;
    box-shadow: 7px 9px 15px #ddd;
}
.page-content{
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
    padding-left: 138px;
    padding-top: 144px;
}
.navbar{
    // background-color: $theme-color;
    background-image: url('./assets/images/bgimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    .templatelogo{
        width:91px;
    }
    .hamburger{
        width:25px;
    }
    .navbar-brand{
        
        padding:4px 14px;
        margin: -9px 0px -9px -20px;
     }
     .dropdown-toggle{  
        &::after{
            display: none;
        }
     }
     
    .incare-dropdown {
        transform: translateX(-59%) !important;
        padding: 27px 27px 14px;
        .dropdown-item{
            padding: 13px 0px;
            @extend .fs13;            
            &:active, &:focus{
                background-color: #fff;
            }
        }
        .min-wid100{
            min-width: 100%;
          }
    }
     
     .btn-headerdropdown{
         background: rgba(255,255,255,0);
         border-radius:5px;
         color: $white;
         padding: 3px 7px;
         box-shadow: none;
         &:hover,
        &:focus{
           background: rgba(255,255,255,0.3);
           outline: none;
           box-shadow: none;
        }
        .dropdown-menu {
         min-width:90%;
        }
      }

      .userdropdownimg{
        width: 40px;
        height: 40px;
        border-radius:50%;
      }

      .notificationimg{
        width:16px;
        @extend .c-pointer;
      }
      .navbar-nav{
          li{
            .nav-link{
                padding: 3px 17px;
                line-height: 36px;
                border-right: 1px solid #fff;
                &:first-child{
                    border-right: 1px solid #fff;
                }
            }
          }
      }
}


/******** popover ********/
.popover{
    max-width: 420px ;
    border-radius: 5px;
    transform: translate3d(-232px, 42px, 0px) !important;
    margin-top: 12px;
    border:none;
    box-shadow: 0px 0px 6px #bfbfbf;

    .notification-title{
        color: $milde-black;
    }
    
.popover-content {
    padding:15px;
    width: 420px ;
}

    .popover-arrow{
     margin-top:-10px;
     width: 0;
     height: 0;
     border-left: 13px solid transparent;
     border-right: 13px solid transparent;
     border-bottom: 20px solid $white;
     margin-left: 98px !important;

    }
    .popover-arrow:after,
    .popover-arrow:before
    {
        display: none;
    }

}
/******** popover ********/


.navbar-nav .dropdown-menu{
    // min-width: 8.4rem;
    border-radius:5px;
    box-shadow: 0px 0px 5px #bfbfbf; 
    min-width: 225px;
   }
   .dropdown-item{
       padding: 0.2rem .8rem;

       &:active,
       &:focus{
        background-color: $theme-color;
           color:$white;
       }
   }