.own-sidemenu-main{
    width:239px;
    position: fixed;
    z-index: 3;
    box-shadow: 0 4px 10px #ccc;
    &.closed{
        width: 90px;          
        .menu-txt{
            visibility: hidden;
            font-size: 0px;
        }

    }
    
    .list-group{        
        height:100vh;
        background: white;
        // overflow-y: auto;
        li{
            &:nth-child(2){
                background: #fff url(./assets/images/menu-icons/covid.png) no-repeat;
                background-size: 30px;
                background-position: 31px 28px;
            }
            &:nth-child(3){
                background: #fff url(./assets/images/incare-mobile/recovered.png) no-repeat;
                background-size: 30px;
                background-position: 31px 28px;
            }
            &:nth-child(4){
                background: #fff url(./assets/images/menu-icons/media.png) no-repeat;
                background-size: 37px;
                background-position: 31px 28px;
            }
            // &:nth-child(4){
            //     background: #fff url(./assets/images/menu-icons/appointments.png) no-repeat;
            //     background-size: 30px;
            //     background-position: 31px 26px;
            // }
            &:nth-child(5){
                background: #fff url(./assets/images/tag-inactive.png) no-repeat;
                background-size: 21.5px;
                background-position: 36px;
            }

            &:nth-child(6){
                background: #fff url(./assets/images/assessment-inactive.png) no-repeat;
                background-size: 35px;
                background-position: 31px 26px;
            }
            
            &:nth-child(7){
                background: #fff url(./assets/images/settings-icon.png) no-repeat;
                background-size: 35px;
                background-position: 31px 26px;
            }
            // &:nth-child(7){
            //     background: #fff url(./assets/images/menu-icons/contact.png) no-repeat;
            //     background-size: 30px;
            //     background-position: 31px 28px;
            // }
            &.active{
                &:nth-child(2){
                    background: #fff url(./assets/images/menu-icons/covid-active.png) no-repeat;
                    background-size: 30px;
                    background-position: 31px 28px;
                }
                &:nth-child(3){
                    background: #fff url(./assets/images/incare-mobile/recovered@2x.png) no-repeat;
                    background-size: 30px;
                    background-position: 31px 28px;
                }
                &:nth-child(4){
                    background: #fff url(./assets/images/menu-icons/media-active.png) no-repeat;
                    background-size: 37px;
                    background-position: 31px 28px;
                }
                // &:nth-child(4){
                //     background: #fff url(./assets/images/menu-icons/appointments-active.png) no-repeat;
                //     background-size: 30px;
                //     background-position: 31px 26px;
                // }
                &:nth-child(5){
                    background: #fff url(./assets/images/tag.png) no-repeat;
                    background-size: 20px;
                    background-position: 36px;
                }
                &:nth-child(6){
                    background: #fff url(./assets/images/assessment-inactive2.png) no-repeat;
                    background-size: 35px;
                    background-position: 36px;
                }
                &:nth-child(7){
                    background: #fff url(./assets/images/menu-icons/settings.png) no-repeat;
                    background-size: 35px;
                    background-position: 31px 26px;
                }
                // &:nth-child(7){
                //     background: #fff url(./assets/images/menu-icons/contact-active.png) no-repeat;
                //     background-size: 30px;
                //     background-position: 31px 28px;
                // }
            }
        }
        
      a{
        border-radius: 0px;
        padding: 20px 10px;
        display: block;
        span{
            display: inline-block;
            color: #9c9c9c;
            @extend .fs14;
            @extend .pl60;
        }
      }  
      

      
        .list-group-item{  
            border:none;
            // padding: 0px;

            &.active{
                // background: transparent;
                span{
                    color: #2daeb8;
                }
            }
        }

        &.patient-menu{
            li{
                height: 88px; 
                &:nth-child(2){
                    background: #fff url(./assets/images/menu-icons/dos-donts.png) no-repeat;
                    background-size: 30px;
                    background-position: 31px 28px;
                }
                &:nth-child(3){
                    background: #fff url(./assets/images/incare-mobile/group-inactive.png) no-repeat;
                    background-size: 37px;
                    background-position: 25px 28px;
                }
                &:nth-child(4){
                    background: #fff url(./assets/images/menu-icons/medications.png) no-repeat;
                    background-size: 27px;
                    background-position: 31px 28px;
                }
                &:nth-child(5){
                    background: #fff url(./assets/images/menu-icons/media.png) no-repeat;
                    background-size: 37px;
                    background-position: 31px 28px;
                }
                &:nth-child(6){
                    background: #fff url(./assets/images/settings-icon.png) no-repeat;
                    background-size: 35px;
                    background-position: 31px 26px;
                }
                &.active{
                    &:nth-child(2){
                        background: #fff url(./assets/images/menu-icons/dos-donts-active.png) no-repeat;
                        background-size: 30px;
                        background-position: 31px 28px;
                    }
                    &:nth-child(3){
                        background: #fff url(./assets/images/incare-mobile/Group.png) no-repeat;
                        background-size: 37px;
                        background-position: 25px 28px;
                    }
                    &:nth-child(4){
                        background: #fff url(./assets/images/menu-icons/medications-active.png) no-repeat;
                        background-size: 27px;
                        background-position: 31px 28px;
                    }
                    &:nth-child(5){
                        background: #fff url(./assets/images/menu-icons/media-active.png) no-repeat;
                        background-size: 37px;
                        background-position: 31px 28px;
                    }
                    &:nth-child(6){
                        background: #fff url(./assets/images/settings-icon.png) no-repeat;
                        background-size: 35px;
                        background-position: 31px 26px;
                    }
                    
                }
            }
        }


    }

    .list-group-item.active{
        border-radius: 0px;
     
        .custom-border {
            padding: 3px;
            background-image: linear-gradient(to bottom, #109fcc, #01a2c8, #01a5c3, #0fa7be, #1fa9b9, #25abb6, #2dadb2, #35afae, #39b1aa, #3fb3a6, #46b5a1, #4eb79c);
            height: 87%;
            top:0px;
            right: 0px;
            border-radius: 5px 0px 0px 5px;
        }

    }

}



/********** mobile sidebar *************/
.user-image {
    img {
        border-radius: 50%;
        border: 1px solid #33b1b4;
        height: 80px;
        width: 80px;
        object-fit: contain;
    }
}

.edit-icon{
    width:20px;
    right:0px;
    top:0px;
}

.mobile-sidebar {
	background: white;
	width: 250px;
	min-height: 100vh;
	left: -250px;
	top: 0;
	transition: 0.3s;
	z-index: 1031;
	box-shadow: 0 4px 20px #ccc;
	&.opened {
		left: 0px;
	}

	.sidebar-body {
		ul {
			li {
				border-top: 1px solid #ccc;
				&:last-child {
					border-bottom: 1px solid #ccc;
				}
				padding: 15px 0px;
				a {
                    color: #2A2A30;
                    @extend .fs10; 
					.sidenav-icon {
						width: 20px;
                        margin-right: 15px; 
                        
                        &.w15px{
                            width: 15px;
                        }
					}
					.dd-icon {
						width: 15px;
						transition: 0.6s;
						right: 30px;
						margin-top: -5px;
						&.chevron-rotate {
							margin-top: 10px !important;
							transform: rotate(179deg);
						}
					}
					span.sidenavtxt {
						bottom: -2px !important;
                    }
                    
                    .badge-success{
                       background-color:  $light-green;
                    }
                    
				}
				&>ul {
					padding-top: 15px;
					&.list-unstyled {
						transition: 1s;
					}
					li {
						padding: 15px 0px;
						&:last-child {
							padding-bottom: 0px;
							border-bottom: none;
						}
					}
				}
			}
		}
		.closeSidebarbtn {
			width: 10px;
			// transform: rotate(-90deg);
			top: 44%;
			right: 5px;
		}
	}
}

.bot-minus-10px {
	bottom: -10px;
}
 
.mtop5{
  margin-top: 5px;
}

.mright6{
    margin-right: 6px;
}

.top-20px {
	top: 20px;
}
 
.top-17px{
    top:17px;
}

.header-subtxt{
    color: #414141;
    opacity: .51;
}

.w-15px{
    width:15px !important;
}
 
.w-17px{
    width:17px !important;
}

.w-18px{
    width:18px;
}

.w-19px{
    width:19px !important;
}

.w-21px{
    width: 21px;
}

.w-22px{
    width: 22px;
}
.w-23px{
    width: 23px !important;
}

.w-26px{
    width: 26px !important;
}