
<ng-template #unsupport>
	<div class="modal-header">
        <h4 class="modal-title">Un-Support</h4>
    </div>
    <div class="modal-body p20">
      	Safari Browser dont support this Application. Please Use Other Browsers.
      <div class="text-center">
          <button type="button" class="btn btn-theme-gradient text-white shadow mt-20 mb-20" (click)="closeApplication()">Done</button>
      </div>
    </div>
  </ng-template>
