<section>
  <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
    <a class="navbar-brand position-absolute top-17px">
      <img src="assets/images/back.png" width="17" routerLink='/app/manage'>
    </a>
    <div class="m-auto text-white fs16">{{postTitle}}</div>
    <ul class="list-inline position-absolute right-20">
      <li class="position-relative list-inline-item">
          <i class="fas fa-check text-white" (click)="onSubmit()"></i>
      </li>
    </ul>
  </nav>
  <div class="mobile-body bg-white h-100vh incareview-form p25">
    <form  class="incareview-form" name="form" [formGroup]="orgForm" novalidate>
      <div class="input-group mb-4 custom-form-elemet">
        <div class="input-group-prepend">
          <span class="input-group-text rounded-0 bg-white align-items-start user-menu pl0"><img src="assets/images/dept-icon.png"></span>
        </div>
        <input type="text" class="form-control" placeholder="Dept Name" formControlName="name"
            [ngClass]="{ 'is-invalid':submitted && name.errors   }" required>
        <div *ngIf="submitted && name.errors " class="invalid-feedback">
            <div *ngIf="name.errors.required ">Department Name is required</div>
        </div>
      </div>
      <div class="input-group custom-form-elemet mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text  rounded-0 bg-white align-items-start pl0">
            <img src="assets/images/description.png" alt="Description">
          </span>
        </div>
        <textarea type="text" class="form-control" rows="5" placeholder="Description"
          aria-label="Description" formControlName="description"
          [ngClass]="{ 'is-invalid':submitted && description.errors  }"></textarea>
        <div *ngIf="submitted && description.errors " class="invalid-feedback">
            <div *ngIf="description.errors.required ">Description is required</div>
        </div>
      </div>      
      <div class="clearfix"></div>
      <!-- <div class="media border-green p20 br10 mt-50" routerLink= "/app/addusers">
        <img src="assets/images/add-user.png" class="align-self-start mr-3">
        <div class="media-body">
          <h5 class="mt-0 color-green mb-0">Add users</h5>
          <p class="color-grey mb-0">Add users to this<br> department</p>
        </div>
        <span class="align-self-start fs50 color-green mt-m10">+</span>
      </div> -->
    </form>
  </div>
</section>
