<!-- Sidemenu -->
<aside class="own-sidemenu-main incareview-desktop-view" [ngClass]="{show: toggleClass, closed: !toggleClass}">
  <app-sidemenu (sidemenuToggle)="sideMenuChange($event)"></app-sidemenu>
</aside>
<!-- Sidemenu -->

<!-- Page content -->
<section class="page-content" [ngClass]="{show_pagecontent: toggleClass}">

  <!-- HTTP Loader -->
  <app-loader></app-loader>
  <!-- HTTP Loader -->
  <!-- Header -->
  <app-header class="incareview-desktop-view"></app-header>
  <!-- Header -->
  <div class="page-layout">
    <router-outlet></router-outlet>
  </div>
</section>
<!-- Page content -->