<section>
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px"  routerLink="/app/menu">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Notifications</div>
    </nav>
    <div class="mobile-body bg-white h-100vh" infinite-scroll 
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown($event)"
    (scrolledUp)="onUp($event)" >
   
      <ul class="list-group notification-list">
          <ng-container *ngFor="let notification of notificationList; let i = index">
        <li class="list-group-item" (swipeleft)="swipeEvent($event,notification)" (click)="changeRead(notification, i)" [ngStyle]="{'background':notification.isRead === 0 ? '#c6cece' : '' }">
          
          <p class="mb-0">{{notification.message}}</p>
          <span class="text-muted">{{notification.created_at | date:'h:mm a | dd/MM/yyyy'}}</span>
          <span style="float: right;" *ngIf="seletedID === notification.id">
              <i class="fa fa-eye" aria-hidden="true" style="margin-right: 15px;" (click)="view(notification)"></i>
              <img src="assets/images/delete.png" alt="Delete" width="18" (click)="delete(notification, i)">
          </span>

        </li>
      </ng-container>
        <!-- <li class="list-group-item">
            <p class="mb-0">You have doctor appointment</p>
            <span class="text-muted">10.00 AM | 12/02/2019</span>
        </li> -->
      </ul>
   <div style="text-align: center;color: var(--danger);" *ngIf="notificationList && notificationList.length === 0" class="mt-20">
     No notificaion
   </div>
      

    </div>
  </section>
  