<section>
    <div class="incareview-mobile-view">
      <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
        <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
          <i class="fas fa-bars text-white"></i>
        </a>
        <div class="m-auto text-white fs16">Tags</div>
        <ul class="list-inline position-absolute right-20">
          <li class="position-relative list-inline-item mr-4" routerLink="/app/menu">
            <a>
              <img src="./assets/images/incare-mobile/home@2x.png" width="22">
            </a>
          </li>
          <li class="position-relative list-inline-item mr-4" routerLink="/app/covidtag-management" *ngIf="showCreate">
            <a>
              <img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px">
            </a>
          </li>
          <!-- <li class="position-relative list-inline-item">
            <a><img src="./assets/images/incare-mobile/Path@2x.png"  class="w-22px"></a>
          </li> -->
        </ul>
      </nav>
    </div>
    <div class="mobile-body bg-white mobile-view-hgt">
      <div class="incareview-desktop-view">
        <div class="row heading mb-20">
          <div class="col-md-8 col-sm-7">
            <h1 class="color-dark-black fs36 font-roboto">{{getname}} Tags
            </h1>
          </div>
          <div class="col-md-4 col-sm-5">
            <div class="d-flex flex-row-reverse">
              <div *ngIf="!isCreate && !isEdit && showCreate" class="ml-15 mt-10 incareview-desktop-view">
                <img src="./assets/images/add.png" class="c-pointer" (click)="showCreateTag()">
              </div>
              <div class="mobile-floating-search seachfiled-color display-content">
                <ng-container *ngTemplateOutlet="mediaSearch"></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #mediaSearch>
        <div class="input-group search-field">
          <input type="text" (input)="searchTags($event.target.value)"
            class="form-control border-0 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label=""
            aria-describedby="basic-addon1" />
          <div class="input-group-append">
            <button class="btn bg-transparent btn-circle rounded-circle py-0" type="button">
              <img src="./assets/images/search.png" class="via-search" />
            </button>
          </div>
        </div>
      </ng-template>
  
      <form class="pt20 pb0 pl15 pr15 incareview-mobile-view">
        <div class="gradient-box">
          <ng-container *ngTemplateOutlet="mediaSearch"></ng-container>
        </div>
      </form>
  
      <div class="row treeview-margin">
        <div class="col-md-4 desktop-border">
          <ul class="list-group patients-list status-list tag-list">
  
  
  
            <li *ngIf="isCreate" class="list-group-item mb-1 bg-transparent pl-0 pr-0 incareview-desktop-view">
              <div class="input-group">
                <input type="text" class="form-control border-0 bg-transparent pl-0 pr-0" placeholder="New Tag"
                  *ngIf="!tagSubmit" name="name" [(ngModel)]="tagData.name"
                  (input)="validateName($event.target.value, 'name')" required>
  
                <div class="input-group-append">
                  <span class="input-group-text bg-transparent border-0">
                    <img src="./assets/images/tick.png" alt="Save-Tag" (click)="createTag('name')" />
                    <!-- <img *ngIf="tagSubmit" src="./assets/images/menu-icons/edit-icon.png" alt="edit-image" class="edit-icon-profile position-absolute" (click)="editTag('name')"> -->
                  </span>
                </div>
              </div>
              <div *ngIf="tagErrors.name" class="text-danger mt-1">
                <p class="mb-0">Tag Name is required</p>
              </div>
              <h1 *ngIf="tagInfoList && tagSubmit" class="fs20 pr10 mb-0 pt20 pb20 tag">{{tagInfoList.name}}</h1>
            </li>
  
  
            <ng-container *ngFor="let tagList of tagsList">
              <!-- <li class="list-group-item mb-1 bg-transparent" (click)="tagDetail(tagList.id)"> 
                  <h1 class="fs20 pr10 mb-0 pt20 pb20 tag" [ngClass]="tagList.id === showTagData ? 'activetag font-weight-bold' : ''">{{tagList.name}}                  
                  </h1>
                </li> -->
  
              <li class="list-group-item mb-1 bg-transparent pr-0" (click)="tagDetail(tagList.id)">
                <!-- [routerLink]="['/tag-management',tagList.id]" -->
                <h1 *ngIf="!(isEdit && tagList.id === showTagData)" class="fs20 pr10 mb-0 pt20 pb20 tag"
                  [ngClass]="tagList.id === showTagData ? 'activetag font-weight-bold' : ''">{{tagList.name}}
                  <span *ngIf="tagList.id === showTagData && showCreate"
                    class="fs12 grey-color  incareview-desktop-view float-right mr-15 mt--5">
                    <img src="./assets/images/menu-icons/edit-icon.png" alt="edit-image"
                      class="edit-icon-profile c-pointer" (click)="editTag(tagList)" width="25">
                    <img src="assets/images/menu-icons/delete.png" class="edit-icon-profile position-absolute c-pointer"
                      (click)="deleteTag(confirmTagDelete,tagList)" width="20">
  
                  </span>
                </h1>
                <ng-container *ngIf="isEdit && tagList.id === showTagData">
                  <div class="input-group">
                    <input type="text" class="form-control border-0 bg-transparent pl-0 pr-0" placeholder="New Tag"
                      *ngIf="!tagSubmit" name="name" [(ngModel)]="tagData.name"
                      (input)="validateName($event.target.value, 'name')" required>
  
                    <div class="input-group-append">
                      <span class="input-group-text bg-transparent border-0 pr-0">
                        <img src="./assets/images/tick.png" width="25" alt="Save-Tag" (click)="createTag('name')" />
                        <!-- <img *ngIf="tagSubmit" src="./assets/images/menu-icons/edit-icon.png" alt="edit-image" class="edit-icon-profile position-absolute" (click)="editTag('name')"> -->
                      </span>
                    </div>
                  </div>
                  <div *ngIf="tagErrors.name" class="text-danger mt-1">
                    <p class="mb-0">Tag Name is required</p>
                  </div>
                </ng-container>
  
              </li>
  
  
            </ng-container>
            <li class="list-group-item mb-1 bg-transparent" *ngIf="tagsList.length === 0"
              style="text-align: center;color: var(--danger);">No Tag Found!</li>
          </ul>
        </div>
        <div class="col-md-8 incareview-desktop-view">
          <app-covidtagmanagement [changeTagId]="showTagData"></app-covidtagmanagement>
        </div>
      </div>
  
    </div>
  </section>
  
  
  
  <!-- bottom tabs -->
  <div class="incareview-mobile-view">
    <app-bottomnav></app-bottomnav>
  </div>
  <!-- bottom tabs -->
  
  
  <ng-template #confirmTagDelete>
    <div class="modal-body text-center">
      <p class="mt-40 mb-30 fs20">Are you sure, you want to delete this {{tagData.name}} Tag?</p>
      <button type="button" class="btn btn-dark shadow mr-10  mb-30" (click)="cancelDelete()">Cancel</button>
      <button type="button" class="btn btn-primary shadow  mb-30" (click)="deleteTagInfo()">Delete</button>
    </div>
  </ng-template>