<section>
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" routerLink="/app/menu">
        <i class="fas fa-bars text-white"></i>
      </a>
      <div class="m-auto text-white fs16">Add Users</div>
        <ul class="list-inline position-absolute right-20">
          <li class="position-relative list-inline-item mr-4" routerLink="/app/tag-management">
            <a ><img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px"></a>
          </li>
          <li class="position-relative list-inline-item">
            <a><img src="./assets/images/incare-mobile/checked.png"  class="w-21px"></a>
          </li>
        </ul>
    </nav>
    <div class="mobile-body bg-white h-100vh">
   
  
      <form class="pt20 pb0 pl15 pr15">
        <div class="gradient-box">
          <div class="input-group search-field">
              <input type="text" (input)="searchTags($event.target.value)"
               class="form-control border-0 bg-transparent form-control-lg" placeholder="TYPE HERE" aria-label="" aria-describedby="basic-addon1" />
              <div class="input-group-append">
                  <button class="btn bg-transparent btn-circle rounded-circle py-0" type="button"><img src="./assets/images/search.png" style="line-height:20px;width:15px;" />
                  </button>
              </div>
          </div>
        </div>
  
      </form>
  
   <div class="pt20 pb0 pl15 pr15">
      <div class="add-userscard">
        <div class=" position-relative">
          <div class="custom-control custom-checkbox text-truncate position-absolute w-100 tp-14 z-9">
            <input type="checkbox" class="custom-control-input" id="users">
            <label class="custom-control-label c-pointer" for="users">
              <span class="fs15 font-roboto">&nbsp;</span>
            </label>
          </div>
  
          <div class="row">
            <div class="col-10 pr-0">
              <div class="pl30">
                <p class="mb-0 fs20 text-truncate white-space-nowrap">test</p>
                <span class="text-muted">test note</span>
              </div>
            </div>
            <div class="col-2 position-relative text-right z-9">
        
                <div class="btn-group myorg-dd mr-4" dropdown>
                    <span class="mr-2 position-absolute" id="button-basic" dropdownToggle>
                      <img src="assets/images/more.png" alt="more" width="20">
                    </span>
                
                    
                   <div class="position-absolute rt-0 tp-32">
                     <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li  role="menuitem" class="position-relative"><a class="dropdown-item text-muted"
                            href="javascript:void(0)" ><img
                              src="assets/images/settings.png" alt="Settings" width="22"> <span class="position-absolute"
                              style="top:12px;">Edit</span></a></li>
                        <li role="menuitem" class="position-relative"><a class="dropdown-item text-muted"
                            href="javascript:void(0)"><img
                              src="assets/images/delete.png" alt="Delete" width="18"> <span class="position-absolute"
                              style="top:12px;">Delete</span></a></li>
                      </ul>
                  </div>
                  </div>
  
  
            
  
              </div>
            </div>
          </div>
           
      </div>
    </div>
    </div>
  </section>
  
  
  
  <!-- bottom tabs -->
  <app-bottomnav></app-bottomnav>
  <!-- bottom tabs -->


<!-- 

-->