<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" (click)="redirectPage()">
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Media</div>
      <ul class="list-inline position-absolute right-20" *ngIf="!isPatient && showCreate">
        <li class="position-relative list-inline-item" routerLink="/app/media">
          <a>
            <img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px">
          </a>
        </li>
        <!-- <li class="position-relative list-inline-item">
              <a><img src="./assets/images/incare-mobile/Shape@2x.png" class="w-22px"></a>
            </li> -->
      </ul>
    </nav>
  </div>
  <div class="mobile-body bg-white mobile-view-hgt">

    <h1 class="fs29 mb-3 color-dark-black incareview-desktop-view">
      <span (click)="redirectPage()">
        <img src="./assets/images/menu-icons/uparrow.png" class="rotate-270 mr-3 mt--5" width="35">
      </span>{{mediaDetail.name}}</h1>
    <!-- <img src="./assets/images/physiotherapy.jpg" class="w-100"> -->
    <ng-container *ngIf="this.mediaDetail.type === 'image'">
      <div style="text-align: center; width: 100%;">
        <img src="{{mediaService.imageURL}}{{mediaDetail.keyName}}" style="max-height: 243px;">
      </div>

    </ng-container>
    <ng-container *ngIf="mediaDetail.type === 'document'">
      <!-- <div class="w-50 m-auto text-center"> -->
      <ngx-doc-viewer [url]="docUrl" [viewer]="officeViewer" style="width:100%;height:80vh;" *ngIf="mediaDetail.format === 'xls' || mediaDetail.format === 'xlsx' || mediaDetail.format === 'doc' || mediaDetail.format === 'docx' || mediaDetail.format === 'ppt' || mediaDetail.format === 'pptx'"></ngx-doc-viewer>
      <ngx-doc-viewer [url]="docUrl" [viewer]="viewer" style="width:100%;height:80vh;" *ngIf="mediaDetail.format === 'pdf' || mediaDetail.format === 'zip' || mediaDetail.format === 'rar'"></ngx-doc-viewer>
      <ngx-doc-viewer [url]="docUrl" [viewer]="viewer" style="width:100%;height:80vh;" *ngIf="mediaDetail.format != 'zip' && mediaDetail.format != 'rar' && mediaDetail.format != 'pdf' && mediaDetail.format != 'xlsx' && mediaDetail.format != 'xls' && mediaDetail.format != 'csv' && mediaDetail.format != 'doc' && mediaDetail.format != 'docx' && mediaDetail.format != 'ppt' && mediaDetail.format != 'pptx'"></ngx-doc-viewer>
      <!-- <img src="./assets/images/incare-mobile/pdf.png" alt="plus-image"> -->
      <!-- </div> -->
    </ng-container>
    <ng-container *ngIf="this.mediaDetail.type === 'text' && docUrl">
      <!-- <div class="w-50 m-auto text-center"> -->
      <ngx-doc-viewer [url]="docUrl" [viewer]="viewer" style="width:100%;height:80vh;"></ngx-doc-viewer>
      <!-- </div> -->
    </ng-container>
    <ng-container *ngIf="this.mediaDetail.type === 'video'">
      <video width="100%" controls autoplay>
        <source [src]="videoUrl" type="video/mp4">
      </video>
      <!-- <img src="./assets/images/user.jpg" alt="plus-image" class="media-img" [routerLink]="['/app/media-ivideo', media.id]"> -->
    </ng-container>

    <ng-container *ngIf="this.mediaDetail.type === 'audio'">
      <audio width="100%" controls autoplay>
        <source src="{{mediaService.imageURL}}{{mediaDetail.keyName}}" type="audio/mp3">
      </audio>
      <!-- <img src="./assets/images/user.jpg" alt="plus-image" class="media-img" [routerLink]="['/app/media-ivideo', media.id]"> -->
    </ng-container>
    <ng-container *ngIf="this.mediaDetail.type === 'flashCard' && webUrl">
      <div class="webview-container">
        <iframe class="webview-frame" [src]="webUrl"></iframe>
      </div>
    </ng-container>
    <ng-container *ngIf="this.mediaDetail.type !== 'video' && this.mediaDetail.type !== 'image' && this.mediaDetail.type !== 'document' && this.mediaDetail.type !== 'text' && this.mediaDetail.type !== 'audio' && this.mediaDetail.type !== 'flashCard' && docUrl">
      <ngx-doc-viewer [url]="docUrl" [viewer]="viewer" style="width:100%;height:80vh;"></ngx-doc-viewer>
    </ng-container>

    <div class="med-detail">

      <h1 class="fs16 mb-3 color-dark-black incareview-mobile-view">{{mediaDetail.name}}</h1>


      <!-- <ul class="list-inline d-flex grey-color fs16 mb-4">
            <li class="list-inline-item  flex-fill">
                <i class="fas fa-eye"></i>
                <span class="ml-2 fs12">5K Views</span>
            </li>
            <li class="list-inline-item  flex-fill">
                <i class="fas fa-heart theme-color"></i>
                <span class="ml-2 fs12">254</span>
            </li>
            <li class="list-inline-item  flex-fill">
                <i class="fas fa-share-alt"></i>
            </li>
            
            <li class="list-inline-item  flex-fill">
                <i class="fas fa-star"></i>
            </li>
          </ul> -->


      <h2 class="color-dark-black fs16 desktop-bold-text media-descrip">Description</h2>

      <p class="fs12 color-dark-black view-report-link">{{mediaDetail.description}} </p>


      <div class="d-none">
        <ng-container *ngIf="mediaDetail.relatedVideo?.length > 0">
          <h3 class="color-dark-black fs16 mt-4">Related Videos</h3>
          <ul class="list-group border-0 p-0">
            <ng-container *ngFor="let relatedvideo of mediaDetail.relatedVideo">
              <li class="list-group-item border-0 p-0 mb-3" [routerLink]="['/app/media-ivideo', relatedvideo.id]">
                <div class="patient-profile-info pl-0">
                  <!-- <img src="./assets/images/user.jpg"  alt="patient-profile-img" class="position-absolute avator br-10"> -->
                  <ng-container *ngIf="relatedvideo.type === 'image'">
                    <img src="{{mediaService.imageURL}}{{relatedvideo.keyName}}" class="position-absolute avator br-10">
                  </ng-container>
                  <ng-container *ngIf="relatedvideo.type === 'document'">
                    <img src="./assets/images/incare-mobile/pdf.png" class="position-absolute avator br-10" *ngIf="relatedvideo.format === 'pdf'">
                    <img src="./assets/images/incare-mobile/excel.png" class="position-absolute avator br-10" *ngIf="relatedvideo.format === 'xlsx' || relatedvideo.format === 'xls' || relatedvideo.format === 'csv'">
                    <img src="./assets/images/incare-mobile/word.png" class="position-absolute avator br-10" *ngIf="relatedvideo.format === 'doc' || relatedvideo.format === 'docx'">
                    <img src="./assets/images/incare-mobile/ppt.png" class="position-absolute avator br-10" *ngIf="relatedvideo.format === 'ppt' || relatedvideo.format === 'pptx'">
                    <img src="./assets/images/incare-mobile/zip.png" class="position-absolute avator br-10" *ngIf="relatedvideo.format === 'zip' || relatedvideo.format === 'rar'">
                    <img src="./assets/images/incare-mobile/document.png" alt="plus-image" class="position-absolute avator br-10" *ngIf="relatedvideo.format != 'zip' && relatedvideo.format != 'rar' && relatedvideo.format != 'pdf' && relatedvideo.format != 'xlsx' && relatedvideo.format != 'xls' && relatedvideo.format != 'csv' && relatedvideo.format != 'doc' && relatedvideo.format != 'docx' && relatedvideo.format != 'ppt' && relatedvideo.format != 'pptx'">
                  </ng-container>
                  <ng-container *ngIf="relatedvideo.type === 'text'">
                    <img src="./assets/images/incare-mobile/txt.png" class="position-absolute avator br-10">
                  </ng-container>
                  <ng-container *ngIf="relatedvideo.type === 'video'">
                    <img src="./assets/images/incare-mobile/video.png" class="position-absolute avator br-10">
                  </ng-container>
                  <ng-container *ngIf="relatedvideo.type === 'audio'">
                    <img src="./assets/images/incare-mobile/audio.png" class="position-absolute avator br-10">
                  </ng-container>
                  <ng-container *ngIf="relatedvideo.type !== 'video' && relatedvideo.type !== 'image' && relatedvideo.type !== 'document' && relatedvideo.type !== 'text' && relatedvideo.type !== 'audio'">
                    <img src="./assets/images/incare-mobile/document.png" class="position-absolute avator br-10">
                  </ng-container>

                  <div class="patient-info grey-color fs12 mt-4 position-relative">
                    <h4 class="color-black fs12">{{relatedvideo.name}}</h4>
                    <div class="grey-color">
                      <i class="fas fa-eye"></i>
                      <span class="ml-2">5K Views</span>
                    </div>
                  </div>
                </div>
              </li>
            </ng-container>
            <!-- <li class="list-group-item border-0 p-0 mb-3">
                  <div class="patient-profile-info pl-0">
                      <img src="./assets/images/user.jpg"  alt="patient-profile-img" class="position-absolute avator br-10">
                      <div class="patient-info grey-color fs12 mt-4 position-relative">
                        <h4 class="color-black fs12">Fact And Truth</h4>
                        <div class="grey-color">
                            <i class="fas fa-eye"></i>
                            <span class="ml-2">5K Views</span>
                        </div>
                      </div>
                  </div>
              </li> -->
          </ul>
        </ng-container>
      </div>

    </div>




  </div>
</section>