<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" (click)="redirectPage()">
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Media</div>
      <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item" routerLink="/app/media">
          <a>
            <img src="./assets/images/incare-mobile/plus@2x.png" class="w-18px">
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="mobile-body bg-white mobile-view-hgt">
    <h1 class="fs29 mb-3 color-dark-black incareview-desktop-view">
      <span (click)="redirectPage()">
        <img src="./assets/images/menu-icons/uparrow.png" class="rotate-270 mr-3 mt--5" width="35">
        <span>Back</span>
      </span>
    </h1>
    <div class="slideshowContainer"
      *ngIf="selectedMediaList && selectedMediaList.media && selectedMediaList.media[selectedIndex]">
      <h3>{{selectedMediaList.media[selectedIndex].name}}</h3>

      <ng-container [ngSwitch]="selectedMediaList.mediaType"
        *ngIf="getMediaUrl(selectedMediaList.media[selectedIndex])">
        <img *ngSwitchCase="'image'" class="media-img" [src]="getMediaUrl(selectedMediaList.media[selectedIndex])" />
        <video *ngSwitchCase="'video'" width="100%" controls autoplay>
          <source [src]="getMediaUrl(selectedMediaList.media[selectedIndex])" type="video/mp4">
        </video>
        <audio *ngSwitchCase="'audio'" width="100%" controls autoplay>
          <source [src]="getMediaUrl(selectedMediaList.media[selectedIndex])" type="audio/mp3">
        </audio>
        <ngx-doc-viewer *ngSwitchCase="'document'" [url]="getMediaUrl(selectedMediaList.media[selectedIndex])"
          viewer="google" style="width:100%;height:80vh;">
        </ngx-doc-viewer>
        <div *ngSwitchCase="'flashCard'" class="webview-container">
          <iframe class="webview-frame" [src]="getMediaUrl(selectedMediaList.media[selectedIndex])"></iframe>
        </div>
        <ngx-doc-viewer *ngSwitchDefault [url]="getMediaUrl(selectedMediaList.media[selectedIndex])" viewer="google"
          style="width:100%;height:80vh;">
        </ngx-doc-viewer>
      </ng-container>

      <div class="navigationContainer">
        <button type="button" class="btn btn-cta btn-prev" [disabled]="selectedIndex === 0" (click)="prevSlide()">
          Previous
        </button>
        <button type="button" class="btn btn-cta btn-next"
          [disabled]="selectedIndex === selectedMediaList.media.length - 1" (click)="nextSlide()">
          Next</button>
      </div>
      <div>
        <h3>Description</h3>
        <div>{{selectedMediaList.media[selectedIndex].description}}</div>
      </div>
    </div>
  </div>
</section>