.slideshowContainer {
  .navigationContainer {
    padding: 20px 0;
  }
  .media-img {
    max-height: 500px;
    overflow-y: scroll;
  }

  .btn-cta {
    width: 150px;
    padding: 5px 0;
    margin: 0 15px 0 0;
    background: #cab6b6;
    color: #000;
  }
  .btn-cta:disabled {
    cursor: not-allowed;
  }

  .webview-container {
    border: 1px solid black;
    .webview-frame {
      width: 100%;
      min-height: 800px;
      border: none;
    }
  }
}
