<section class="auth-content">
  <app-loader></app-loader>
  <div class="container log-container pb-sm-0 pb-5">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8 col-11 m-auto">

        <header class="pt-5 pb-5  d-md-none d-sm-block">
          <h1 class="fs16 text-white text-center font-weight-normal font-roboto">Link My Account</h1>
        </header>

        <div class="text-center">
          <img src="./assets/images/logo.png" class="logo" alt="via-logo">
        </div>

        <form name="form" (ngSubmit)="loginForm.form.valid && loginSubmit()" #loginForm="ngForm"
          class="floating-input-form mt-5" novaliadte>

          <div class="mb-5">
            <div class="floating-label">
              <input class="floating-input" type="email" #secondary_email="ngModel" name="secondary_email"
                [(ngModel)]="logindata.secondary_email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                placeholder=" " autocomplete="off" disabled required>
              <span class="highlight"></span>
            </div>
            <div *ngIf="secondary_email.errors && loginForm.submitted" class="text-danger mt-1">
              <p class="mb-0" *ngIf="secondary_email.errors.required">Email ID is required</p>
              <p class="mb-0" *ngIf="secondary_email.errors.pattern">Invalid email ID</p>
            </div>
          </div>

          <div class="mb-5">
            <div class="floating-label">
              <input class="floating-input" type="email" #email="ngModel" name="email" [(ngModel)]="logindata.email"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder=" " autocomplete="off" required>
              <span class="highlight"></span>
              <label>Email</label>
            </div>
            <div *ngIf="email.errors && loginForm.submitted" class="text-danger mt-1">
              <p class="mb-0" *ngIf="email.errors.required">Email ID is required</p>
              <p class="mb-0" *ngIf="email.errors.pattern">Invalid email ID</p>
            </div>
          </div>

          <div class="mb-5">
            <div class="floating-label">
              <input class="floating-input" type="password" #password="ngModel" name="password"
                [(ngModel)]="logindata.password" placeholder=" " autocomplete="new-password" required>
              <span class="highlight"></span>
              <label>Password</label>
            </div>
            <div *ngIf="password.errors && loginForm.submitted" class="text-danger mt-1">
              <p class="mb-0" *ngIf="password.errors.required">Password is required</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-11 m-auto">
              <button class="btn btn-card btn-block btn-lg btn-rounded fw500 btn-shadow">Login</button>

            </div>
          </div>

        </form>
        <!--       <div class="row mt-4">
              <div class="col-6">
                  <button class="btn btn-card btn-block btn-lg btn-rounded" 
                  (click)="signInWithFB()"><i class="fab fa-facebook-f fb-color fs21"></i></button>
              </div>
              <div class="col-6">
                  <button class="btn btn-card btn-block btn-lg btn-rounded" 
                  (click)="signInWithGoogle()"><img src="./assets/images/google.png" alt="google-login" class="w22px position-relative mt_2"></button>
              </div>
            </div> -->

        <div class="text-white text-center mt-4 fs16">
          <span class="d-block mb-1">Forgot Password? <a class="font-weight-bold c-pointer text-white"
              routerLink="/app/forgotpassword">Get New!</a></span>
        </div>


      </div>
    </div>
  </div>
</section>