<section>
  <div class="incareview-mobile-view">
    <nav class="navbar fixed-top navbar-light pt16 pb16 pl25 pr25">
      <a class="navbar-brand position-absolute top-17px" (click)="gotomenu()">
        <!-- <i class="fas fa-arrow-left text-white"></i> -->
        <img src="assets/images/back.png" width="17">
      </a>
      <div class="m-auto text-white fs16">Settings</div>
      <ul class="list-inline position-absolute right-20">
        <li class="position-relative list-inline-item" (click)="updateUser()">
            <!-- <a ><img src="./assets/images/incare-mobile/home@2x.png" class="w-19px"></a> -->
            <i class="fas fa-check text-white"></i>
        </li>
      </ul>
    </nav>
  </div>
  <div class="incareview-desktop-view">
    <div class="heading">
      <h1 class="color-dark-black fs36 font-roboto">My Settings</h1>  
    </div>
  </div>
  <div class="mobile-body bg-white incareview-form">
    <div class="row no-gutters">
      <div class="col-md-7">
        <form class="settings-form custom-form-elemet p20 ie-form">
          <div class="form-group">
            <label class="set-label">Login email</label>
            <input type="email" class="form-control bg-transparent set-input" placeholder="Enter email" [(ngModel)]="userInfo.email"  #email="ngModel" name="email" [(ngModel)]="userInfo.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
            <div *ngIf="email.errors" class="text-danger mt-1">
                  <p class="mb-0" *ngIf="email.errors.required">Email ID is required</p>
                  <p class="mb-0" *ngIf="email.errors.pattern">Invalid email ID</p>
            </div>
          </div>

          
          <!-- <label>Password</label> -->
          <div class="input-group mb-4">
            <input type="text" class="form-control bg-transparent color-dark-black" placeholder="Password" disabled>
            <div class="input-group-append">
              <span class="input-group-text bg-transparent theme-color fs12" style="cursor: pointer;" (click)="gotochangePassword()">Change</span>
            </div>
          </div>
          <!-- Comment out this section since notification feature is not there -->
          <!-- <div class="input-group mb-4">
            <input type="text" class="form-control bg-transparent color-dark-black" placeholder="Allow Notifications" disabled>
            <div class="input-group-append">
              <span class="input-group-text bg-transparent toggle-switch mt--5">
                <input type="checkbox" id="noti" [checked]="userInfo.is_notify" (change)="handleChange($event.target.checked, 'noti')"/>
                <label for="noti">Toggle</label>
              </span>
            </div>
          </div> -->

      <!-- <div class="input-group mb-4">
        <input type="text" class="form-control bg-transparent work-mode" placeholder="Work Mode" disabled>
        <div class="input-group-append">
          <span class="input-group-text bg-transparent toggle-switch mt--5">
            <input type="checkbox" id="workMode" [checked]="userInfo.is_workmode" (change)="handleChange($event.target.checked, 'workMode')"/>
            <label for="workMode">Toggle</label>
          </span>
        </div>
      </div> -->

      <div class="input-group mb-4" routerLink="/app/myorg" *ngIf="showAdvanced || userInfo.userType === 3 || userInfo.userType === 1">
        <input type="text" class="form-control bg-transparent color-dark-black" placeholder="Advanced" disabled>
        <div class="input-group-append">
          <span class="input-group-text bg-transparent mt--5">
              <i class="fas fa-chevron-right theme-color"></i>
          </span>
        </div>
      </div>

        </form>
      </div>
    </div>
  </div>
</section>
